<section>
  <article class="cta">
    <p>If you found anything helpful, you could buy me a coffee.</p>
    <a href="https://www.buymeacoffee.com/p8Ug5NM" target="_blank" rel="noopener" class="href">Buy me a coffee</a>
    <p>☕️ ☕️ ☕️</p>
  </article>
</section>
