<section>
  <article class="cta">
    <p class="h5">Are you ready for a new challenge?</p>
    <a href="/side-projects/ui-dev-mentoring/apply/" class="link">Join The Program</a>
  </article>
</section>
