<section class="wrapper wrapper--alpha" id="newsletter">
  <article class="form">
    <form action="https://buttondown.email/api/emails/embed-subscribe/starbist" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/starbist', 'popupwindow')" class="embeddable-buttondown-form">
      <div class="cta">
        <h2 class="h2 plain">Stay ahead of the latest UI Dev news</h2>
        <p>Every second Monday, get a shiny list of up to ten free links to stay ahead in the evolving world of User Interface development!</p>
      </div>
      <label for="bd-email">Enter your email address</label>
      <input type="email" name="email" id="bd-email" />
      <input type="hidden" value="1" name="embed" />
      <button type="submit">Subscribe</button>
      <div class="cta">
        <p>
          <small>Don't like newsletters? <a href="/rss2.xml">Subscribe to RSS feed instad.</a></small><br>
          <small>No spam, only quality content. Trusted by <b>400+</b> subscribers.</small>
        </p>
      </div>
    </form>
  </article>
</section>
