<section class="wrapper wrapper--alpha" id="newsletter">
  <article class="form">
    <form action="https://buttondown.email/api/emails/embed-subscribe/starbist" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/starbist', 'popupwindow')" class="embeddable-buttondown-form">
      <div class="cta">
        <h2 class="h5">Subscribe to the UI Dev Newsletter</h2>
        <p>Enter your email to get the latest issue to you inbox.</p>
      </div>
      <label for="bd-email">Enter your email address</label>
      <input type="email" name="email" id="bd-email" />
      <input type="hidden" value="1" name="embed" />
      <button type="submit">Subscribe</button>
      <div class="cta">
        <p>
          <small>
            <a href="https://buttondown.email" target="_blank">Powered by Buttondown</a>
          </small>
        </p>
      </div>
    </form>
  </article>
</section>
