{% assign my-slides = collections['my-slides'] | reverse %}
<section>
  <ul>
    {% for slide in my-slides %}
      <li><a href="{{ slide.url }}">{{ slide.data.title }} ⇢</a></li>
    {% endfor %}
  </ul>
</section>
