{% if isNewsletter %}
  {% assign siteTitle = newsletter.title %}
{% else %}
  {% assign siteTitle = site.title %}
{% endif %}

{% if pagination.pageNumber > -1 %}
  {% if type == 'tags-item' %}
    {% assign title = 'Tagged “' | append: tag | append: '”' %}
  {% else %}
    {% assign pageNumber = pagination.pages | size | minus: pagination.pageNumber %}
    {% assign title = title | append: ' #' | append: pageNumber %}
  {% endif %}
{% endif %}

{% if titlePrefix %}
  {% assign title = titlePrefix | append: title %}
{% endif %}

{% assign longTitle = title | append: site.delimiter | append: siteTitle %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ longTitle | escape }}</title>
