// Banner
//
// Weight: 1300
//
// Styleguide Banner

// Alpha
//
// Markup: _banner-alpha.html
//
// Weight: 1301
//
// Styleguide Banner.Alpha

// Beta
//
// Markup: _banner-beta.html
//
// Weight: 1301
//
// Styleguide Banner.Beta

// Gamma
//
// Markup: _banner-gamma.html
//
// Weight: 1302
//
// Styleguide Banner.Gamma

// Omega
//
// Markup: _banner-omega.html
//
// Weight: 1303
//
// Styleguide Banner.Omega

.hire-me {
  background-image: linear-gradient(to left, var(--color-alpha), var(--color-lightish), var(--color-lightish), var(--color-alpha));
  background-size: 200%;
  background-position: 0 0;
  text-align: center;
  padding: .25rem;
  animation: ad 3s infinite alternate-reverse ease-in-out forwards;

  p {
    margin: 0;
  }

  a {

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-thickness: from-font;
      text-underline-offset: 0.25em;
    }
  }
}

.advent-banner {
  background-color: var(--color-xmas-alpha);
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: center;

  p,
  a {
    background-image: linear-gradient(to right, var(--color-xmas-beta), var(--color-xmas-gamma));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin: 0;
  }

  a {
    padding: .1em;
    border: .3em solid transparent;

    &:not(.button) {
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        box-shadow: none;
        border-top-color: var(--color-xmas-gamma);
        border-bottom-color: var(--color-xmas-beta);
      }
    }
  }
}

@keyframes ad {
  to {
    background-position: 100% 0;
  }
}
