// Card
//
// Weight: 1400
//
// Styleguide Card

// Alpha
//
// Markup: _card-alpha.html
//
// Weight: 1401
//
// Styleguide Card.Alpha

// Beta
//
// Markup: _card-beta.html
//
// Weight: 1402
//
// Styleguide Card.Beta

// Gamma
//
// Markup: _card-gamma.html
//
// Weight: 1403
//
// Styleguide Card.Gamma

// Delta
//
// Markup: _card-delta.html
//
// Weight: 1404
//
// Styleguide Card.Delta

.card--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  @extend .brad;
  // filter: drop-shadow(0 0 .25rem #{transparentize($color-alpha, .9)});

  blockquote {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1 1 100%;
    }

    footer {
      margin-top: auto;
    }
  }
}

.card--flex {
  display: flex;
  flex-direction: column;

  > :last-child:not(:only-child) {
    margin-top: auto;
  }
}
