// Copy
//
// Markup: _copy.html
//
// Weight: 1600
//
// Styleguide Copy

.copy {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .note,
  p,
  li {
    code {
      background-color: var(--color-alpha-lighter);
      font-size: .9em;
      font-weight: normal;
      line-height: calc(var(--line-height2) * 1.111);
      border-radius: var(--border-radius);
      margin-right: .2em;
      margin-left: .2em;
      box-shadow: 0 0 .2em .2rem var(--color-alpha-lighter);
    }

    img {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .pic,
  .piclink {
    border-radius: var(--border-radius-alpha);
  }

  .pic {
    border: .125rem solid var(--color-alpha-light);
    overflow: hidden;
  }

  pre {
    &[class*="language-"] {
      border-radius: var(--border-radius-alpha);
    }

    code {
      font-size: .9em;
    }
  }

  pre[class*="language-txt"],
  code[class*="language-txt"] {
    white-space: inherit;
  }

  blockquote {
    background-color: var(--color-alpha-lighter);
    font-size: var(--step-1);
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1rem 2rem;
    // border: .125rem solid var(--color-alpha-light);
    border-radius: var(--border-radius-alpha);
    position: relative;

    &:after {
      content: "Quote";
      background-color: var(--color-alpha-light);
      color: var(--color-dark);
      font-family: var(--font-alpha);
      font-size: var(--step--2);
      font-style: normal;
      line-height: 1.5;
      letter-spacing: var(--letter-spacing-gamma);
      text-transform: uppercase;
      position: absolute;
      right: 1.5rem;
      top: 0;
      padding: .25rem .75rem;
      border-radius: var(--border-radius-alpha);
      transform: translateY(-50%);
    }
  }

  table {
    border-collapse: collapse;
    font-size: var(--step--2);
    min-width: 100%;

    @include mq($from: bp1) {
      width: 100%;
      table-layout: fixed;
    }

    thead {
      background-color: var(--color-alpha-lighter);

      &:first-child {
        tr {
          &:first-child {
            td,
            th {
              border-top: none;
            }
          }
        }
      }
    }

    tbody {
      &:last-child {
        tr {
          &:last-child {
            td,
            th {
              border-bottom: none;
            }
          }
        }
      }
    }

    td,
    th {
      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    th {
      font-family: var(--font-beta);
      font-size: var(--step-0);
      font-weight: bold;
      letter-spacing: var(--letter-spacing-beta);
    }

    th,
    td {
      padding: .25rem .5rem;
      border: .125rem solid var(--color-alpha-light);
      text-align: left;
    }
  }

  p ~ iframe {
    border: .125rem solid var(--color-alpha-light);
  }

  iframe {
    display: block;
    background-color: var(--color-lightish);
    border-radius: var(--border-radius-alpha);
    max-width: 100%;
  }

  a {
    &.block {
      &:only-child {
        display: block;
      }
    }

    &:hover,
    &:focus,
    &:active {
      code {
        background-color: transparent;
      }
    }
  }

  .button {
    position: relative;
    left: -0.2em;
  }

  .grid & {
    p {
      word-break: break-word;
    }
  }
}

.embed {
  overflow: hidden;
  margin: 1em 0;
  box-shadow: 0 0 0 .125rem var(--color-alpha-light);
  border-radius: var(--border-radius-alpha);
}

.copy--invalid {
  font-family: var(--font-gamma);
  background-color: var(--color-alpha-lighter);
  font-size: var(--step-2);
  // border: .125rem solid var(--color-alpha-light);
  border-radius: var(--border-radius-alpha);
  padding: 4rem 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;

  &:after {
    content: "Invalid CSS";
    background-color: var(--color-alpha-light);
    color: var(--color-dark);
    font-family: var(--font-alpha);
    font-size: var(--step--2);
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-gamma);
    text-transform: uppercase;
    position: absolute;
    right: 1.5rem;
    top: 0;
    padding: .25rem .75rem;
    border-radius: var(--border-radius-alpha);
    transform: translateY(-50%);
  }
}

.note {
  box-sizing: border-box;
  background-color: var(--color-alpha-lighter);
  font-family: var(--font-beta);
  font-size: var(--step-1);
  font-style: oblique;
  // border: .125rem solid var(--color-alpha-light);
  border-radius: var(--border-radius-alpha);
  padding: 1.5rem 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  position: relative;

  &:before {
    content: "Note";
    background-color: var(--color-alpha-light);
    color: var(--color-dark);
    font-family: var(--font-alpha);
    font-size: var(--step--2);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-gamma);
    text-transform: uppercase;
    position: absolute;
    right: 1.5rem;
    top: 0;
    padding: .25rem .75rem;
    border-radius: var(--border-radius-alpha);
    transform: translateY(-50%);
  }

  &[data-title] {
    &:before {
      content: attr(data-title);
    }
  }

  &[data-title*="important" i],
  &[data-title*="danger" i],
  &[data-title*="sponsor" i] {
    background-color: var(--color-beta-lightest);
    border-color: var(--color-beta-light);

    &:before {
      background-color: var(--color-beta-light);
    }
  }
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
  border-radius: var(--border-radius-alpha);
  border: .125rem solid var(--color-alpha-light);
}
