// Gallery
//
// Markup: _gallery.html
//
// 10up
//
// To see the real-life example of expandable gallery, you could go to <a class="text-dark" style="color:var(--text-color);text-decoration:underline" href="https://www.silvestar.codes/articles/how-to-build-an-expandable-accessible-gallery/">my favorite TV shows page</a>. To read more how it works, you could go to <a class="text-dark" style="color:var(--text-color);text-decoration:underline" href="https://www.smashingmagazine.com/2021/10/build-expandable-accessible-gallery/">Smashing Magazine article</a>.
//
// Also, below you could find the working example with placeholder images, as well as the HTML code in an expandable details section.
//
// Weight: 1800
//
// Styleguide Gallery

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--ggap);
  list-style: none;
  padding: 0;
  margin: 0;

  &:not(.is-zoomed) {
    button {
      &:focus {
        outline: 2px solid var(--color-alpha);
        outline-offset: 1px;
      }
    }
  }

  @include mq($from: bp1) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  li {
    position: relative;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    transition-duration: var(--duration2);
    overflow: hidden;

    &.is-zoomed {
      transition-duration: var(--duration);

      button {
        outline: 2px solid var(--color-alpha);
        outline-offset: 1px;
      }

      p {
        transition-duration: var(--duration);
        transition-delay: var(--duration);
        transform: none;
        opacity: 1;
      }
    }

    .is-zoomed &:not(.is-zoomed) {
      opacity: 0.3;
    }
  }

  button {
    all: initial;
    display: block;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    cursor: pointer;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:hover {
      p {
        transition-duration: var(--duration);
        transform: none;
        opacity: 1;
      }
    }
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: .25rem;
    margin: 0;
    z-index: 1;
    opacity: 0;
    transform: translateY(100%);
    transform-origin: bottom center;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    transition-duration: var(--duration2);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
