// Hero
//
// Weight: 1200
//
// Styleguide Hero

// Alpha
//
// Markup: _hero-alpha.html
//
// Weight: 1201
//
// Styleguide Hero.Alpha

// Beta
//
// Markup: _hero-beta.html
//
// Weight: 1202
//
// Styleguide Hero.Beta

// Gamma
//
// Markup: _hero-Gamma.html
//
// Weight: 1203
//
// Styleguide Hero.Gamma

.hero {
  a {
    &:not([class]) {
      text-decoration: underline;
      text-decoration-thickness: from-font;
      text-underline-offset: 0.125em;
    }
  }
}

.hero--fancy {
  position: relative;
  overflow: hidden;
  padding-top: calc(var(--space) * 6.5);
  padding-bottom: calc(var(--space) * 6.5);
  margin-top: -2.5rem;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  &:before {
    content: "";
    position: absolute;
    top: -100vmax;
    right: -100vmax;
    bottom: -100vmax;
    left: -100vmax;
    z-index: -1;
    background: var(--g1),
      var(--g2) 0 calc(3 * var(--s)),
      var(--g3) var(--s) calc(3 * var(--s)),
      var(--g4) var(--s) calc(6 * var(--s)),
      var(--g1) calc(2 * var(--s)) calc(6 * var(--s)),
      var(--g2) calc(2 * var(--s)) calc(9 * var(--s)),
      var(--g3) calc(3 * var(--s)) calc(9 * var(--s)),
      var(--g4) calc(3 * var(--s)) 0,
      repeating-linear-gradient(var(--c1) 0 25%, var(--c2) 0 50%);
    background-size: calc(4 * var(--s)) calc(12 * var(--s));
  }
}
