.lastfm {
  font-size: var(--step--3);
  text-align: center;

  p {
    a {
      margin-left: .25em;
      margin-right: .25em;

      &:before {
        content: "♪";
        margin-left: .5em;
        margin-right: .5em;
      }
    }
  }
}

.lastfm__tracks {
  &:empty {
    background: #333;
    display: block;

    &:before {
      content: "Waiting.";
      animation: waiting 3s steps(3, end) infinite;
    }
  }
}
