.newsletter {
  p {
    @include mq($until: bp1) {
      text-align: center;
    }
  }
}

.newsletter__input {
  position: relative;

  .input {
    padding-right: 9rem;

    @include mq($until: bp1) {
      font-size: var(--step-0);
      margin-bottom: .25em;
    }
  }

  .button {
    &:not(.df):not(.db) {
      margin: 0;
    }

    @include mq($until: bp1) {
      width: 100%;
    }

    @include mq($from: bp1) {
      font-size: var(--step-0);
      position: absolute;
      right: -0.1em;
      top: -0.1em;
      bottom: -0.1em;
      border: .25rem solid transparent;
    }
  }
}
