// Pagination
//
// Markup: _pagination.html
//
// Weight: 1700
//
// Styleguide Pagination

.pagination {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  li {
    margin-left: .25rem;
    margin-right: .25rem;
  }

  a {
    min-width: 10rem;
  }
}
