// Anchors
//
// Markup: _anchors.html
//
// :hover - Hover.
// :focus - Focus.
// :focus:active - Active.
//
// Weight: 600
//
// Styleguide Anchors

a {
  display: inline-flex;
  border-radius: var(--border-radius);
  color: currentColor;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  outline: none;

  &:not(.inert) {
    &:before {
      content: "";
      position: absolute;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #{transparentize($color-alpha, .75)} 50%, transparent 50%);
      transition: transform var(--duration2);
      z-index: -1;
    }

    &:hover {
      &:before {
        transform: translateX(50%);
        transition: transform var(--duration);
      }
    }
  }


  &:focus,
  &:active {
    box-shadow: 0 0 0 .25rem #{transparentize($color-alpha, .75)};
  }

  .copy--body & {
    &:not([class]) {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      display: inline;

      &:before {
        content: none;
      }

      &:hover {
        text-decoration: none;
        background-color: var(--color-alpha);
        transition: all var(--duration);
      }

      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
