// Anchors
//
// Markup: _anchors.html
//
// :hover - Hover.
// :focus - Focus.
// :focus:active - Active.
//
// Weight: 600
//
// Styleguide Anchors

a {
  @extend .brad;
  display: inline-flex;
  color: currentColor;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: all var(--duration2);

  &:not(.button) {
    &:hover,
    &:focus {
      box-shadow: 0 0 0 .15rem var(--color-alpha-hover);
      z-index: 2;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 .15rem var(--color-alpha-hover) inset, 0 0 0 .15rem var(--color-dark);
      z-index: 1;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:not(.glow) {
      &:hover,
      &:focus {
        background-color: var(--color-alpha-hover);
      }
    }
  }

  // &.glow {
  //   &:hover,
  //   &:focus {
  //     // filter: drop-shadow(0 0 .5rem var(--color-alpha-hover));
  //   }
  // }

  .copy & {
    &:not([class]) {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      display: inline;
      word-break: break-word;

      // &:hover {
      //   text-decoration: none;
      // }

      // &:focus,
      // &:active {
      //   text-decoration: none;
      // }
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.link-block {
  display: inline-block;

  .pic {
    display: block;
  }
}
