// Anchors
//
// Markup: _anchors.html
//
// :hover - Hover.
// :focus - Focus.
// :focus:active - Active.
//
// Weight: 600
//
// Styleguide Anchors

a {
  display: inline-flex;
  border-radius: var(--border-radius);
  color: currentColor;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: all var(--duration);

  &:not(.inert) {
    &:hover,
    &:focus {
      background-color: transparentize($color-alpha, .75);
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 .25rem #{transparentize($color-alpha, .75)};
    }
  }

  &.inert {
    &:hover,
    &:focus {
      filter: drop-shadow(0 0 .5rem #{transparentize($color-alpha, .5)});
    }
  }

  .copy--body & {
    &:not([class]) {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      display: inline;
      word-break: break-word;

      &:hover {
        text-decoration: none;
      }

      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}
