// Buttons
//
// Markup: _buttons.html
//
// :hover - Hover.
// :focus - Focus.
// :focus:active - Active.
// .button--small - Small.
// .button--inverse - Inverse.
//
// Weight: 800
//
// Styleguide Buttons

.button {
  @extend .fw-normal;
  @extend .ttuc;
  @extend .lsp;
  @extend .brad;
  background-color: var(--color-alpha);
  color: var(--color-dark);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  appearance: none;
  font-size: var(--step-0);
  line-height: 1.66;
  min-height: 3em;
  padding: .25em 2em;
  border: none;
  outline: none;
  transition: all var(--duration2);

  &:not(.df):not(.db) {
    @extend .brad;
    display: inline-flex;
    margin: .2em;
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &[href] {
    text-decoration: none;
  }

  &[href],
  &[type] {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 .25rem var(--color-alpha);
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 .25rem var(--color-dark);
    }
  }
}

.button--small {
  font-size: var(--step--1);
  padding: .25em .5em;
  min-height: 1.75em;

  @include mq($until: bp1) {
    padding: .75em;
  }
}

.button--inverse {
  background-color: var(--color-dark);
  color: var(--color-light);

  &[href],
  &[type] {
    &:hover,
    &:focus {
      background-color: var(--color-alpha);
      color: var(--color-dark);
    }
  }
}

.button--outline {
  background-color: transparent;
  box-shadow: 0 0 0 2px currentColor inset;

  &[href],
  &[type] {
    &:hover,
    &:focus {
      background-color: transparent;
      color: currentColor;
    }
  }
}

.button--invisible {
  background-color: transparent;
  box-shadow: none;

  &[href],
  &[type] {
    &:hover,
    &:focus {
      background-color: transparent;
      color: currentColor;
    }
  }
}

.button--toggle {
  position: fixed;
  right: var(--space);
  bottom: var(--space);
  font-size: var(--step--2);
  min-height: 3.5em;
  min-width: 3.5em;
  padding: 0;

  &:not(.df):not(.db) {
    border-radius: 50%;
  }

  html:not(.dark) & {
    span {
      &:last-of-type {
        display: none;
      }
    }
  }

  html.dark & {
    span {
      &:first-of-type {
        display: none;
      }
    }
  }
}

.button--menu {
  min-width: 5em;

  &:not(.df):not(.db) {
    @include mq($from: bp1) {
      display: none;
    }

    @include mq($until: bp1) {
      position: absolute;
      top: var(--space);
      right: var(--space);
      z-index: 1;

      nav.active & {
        span {
          &:first-child {
            display: none;
          }
        }
      }

      nav:not(.active) & {
        span {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}


