<form class="wrapper wrapper-bp1">
  <div class="margin-y-2">
    <label for="name">Name</label>
    <input class="input {{ modifier_class }}" type="text" name="name" id="name" value="Silvestar">
  </div>
  <div class="margin-y-2">
    <label for="email">Email</label>
    <input class="input {{ modifier_class }}" type="email" name="email" id="email" value="me@silvestar.codes">
  </div>
  <div class="margin-y-2">
    <label for="note">Note</label>
    <textarea class="input {{ modifier_class }}" name="note" id="note" rows="6">Just a thought...</textarea>
  </div>
  <div class="margin-y-2">
    <button class="button lg-alpha" type="submit">Submit</button>
  </div>
</form>
