<section class="lg-alpha padding-1">
  <div class="wrapper wrapper-bp2 df-center text-center">
    <p class="fz-step-0 margin-x-2">Did you know that I write <a href="#newsletter">UI Dev Newletter</a>?</p>
    <a class="button button--alpha button--sm margin-x-2" href="#submit">Subscribe here ⇢</a>
  </div>
</section>
<section class="lg-beta padding-1">
  <div class="wrapper wrapper-bp2 df-center text-center">
    <p class="fz-step-0 margin-x-2">Did you know that I write <a href="#newsletter">UI Dev Newletter</a>?</p>
    <a class="button button--beta button--sm margin-x-2" href="#submit">Subscribe here ⇢</a>
  </div>
</section>
