<div class="card bg-light">
  <blockquote cite="#linkedin">
    <header class="padding copy">
      <p class="fz-step--1">John Ganotis, an entrepreneur from Credit Card Insider said:</p>
    </header>
    <hr class="no-margin">
    <div class="padding copy fs-italic">
      <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
      <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
      <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
    </div>
    <footer>
      <a class="button df padding" href="#more">View project ⇢</a>
    </footer>
  </blockquote>
</div>
