<div class="card text-center bg-light">
  <h2 class="fz-step-2 no-margin bg-dark text-light"><a class="db padding" href="#more">Page builders might not be a good idea</a></h2>
  <div class="padding">
    <div class="copy">
      <p>Published: <time>2020-02-20</time></p>
    </div>
    <div>
      <a class="button button--small button--inverse" href="#tag">wordpress</a>
      <a class="button button--small button--inverse" href="#tag">frontend</a>
      <a class="button button--small button--inverse" href="#tag">shopify</a>
    </div>
    <div class="copy margin-top">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto alias vel quis! Fuga odit soluta ratione, itaque aspernatur aliquid alias minima voluptates, temporibus quaerat illo, vel deserunt rerum deleniti harum?</p>
    </div>
  </div>
  <a class="button df padding" href="#more">Read more ⇢</a>
</div>
<hr class="margin-top margin-bottom">
<div class="card text-center bg-light">
  <div class="padding">
    <div class="copy margin-top margin-bottom">
      <p>Do you want to see all articles?</p>
      <a class="button button--small button--inverse margin-top" href="#more">Go to all articles ⇢</a>
    </div>
  </div>
</div>
