// Copy
//
// Markup: _copy.html
//
// Weight: 1600
//
// Styleguide Copy

.copy {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  code {
    font-size: 115%;
    padding-left: 0.125em;
    padding-right: 0.125em;
  }
}

.copy--body {
  overflow: hidden;
}
