// Copy
//
// Markup: _copy.html
//
// Weight: 1600
//
// Styleguide Copy

.copy {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    code {
      font-size: 90%;
      font-weight: normal;
      line-height: calc(var(--line-height2) * 1.111);
      padding-right: .3em;
      padding-left: .3em;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -0.25em;
        right: 0;
        bottom: -0.3em;
        left: 0;
        border-radius: var(--border-radius);
        background-color: var(--selection);
        z-index: -1;
      }
    }

    img {
      margin-right: auto;
      margin-left: auto;
    }
  }

  pre {
    code {
      font-size: var(--step--1);
    }
  }

  blockquote {
    font-size: 112.5%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2rem;
    border-left: .125rem dashed var(--color-alpha);
  }

  table {
    border-collapse: collapse;
    border: 1px solid var(--color-alpha);

    th,
    td {
      padding: .25rem .5rem;
      border: 1px solid var(--color-alpha);
      text-align: left;
    }

    th {
      font-size: 112.5%;
    }
  }

  iframe {
    max-width: 100%;
  }
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}
