<footer class="lg-beta padding-2 fw-black">
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#portfolio">Portfolio</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#blog">Blog</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#about">About</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#links">Links</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#feed">Feed</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="wrapper wrapper-bp2 fz-step--1">
    <ul class="df-center list-reset">
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#github">GitHub</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#github">LinkedIn</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#Twitter">Twitter</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#CodePen">CodePen</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="df-col list-reset">
          <li class="margin-x-2">
            <a class="padding-y-1" href="#Dev.to">Dev.to</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="wrapper wrapper-bp2 text-center">
    <p class="fz-step--1">&copy; Silvestar Bistrović, 2016-2020</p>
  </div>
  <div class="wrapper wrapper-bp2 text-center">
    <a class="rm margin-x-2" href="#">
      <img src="/gfx/svg/logo.svg" alt="Logo" width="50" height="50">
    </a>
  </div>
</footer>
