// Header
//
// Markup: _header.html
//
// Weight: 1000
//
// Styleguide Header

header,
footer {
  nav {
    > ul {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
}

@include mq($until: bp1) {
  header {
    nav {
      text-align: center;

      a {
        white-space: nowrap;
      }

      > ul {
        flex-wrap: wrap;

        > li {
          &:first-child {
            flex: 1 1 100%;

            img {
              margin: auto;
            }
          }

          &:not(:first-child) {
            flex: 1 0 150px;
          }
        }
      }
    }
  }

  footer {
    nav {
      ul {
        flex-wrap: wrap;
      }
    }
  }
}
