<header>
  <nav>
    <ul class="list-style-none">
      <li><a class="db" href="#"><img src="/gfx/svg/logo-2021.svg" alt="Logo" width="100" height="100"></a></li>
      <li>
        <ul>
          <li class="fz-step-1">
            <a href="#portfolio">Portfolio</a>
          </li>
          <li>
            <a href="#side-projects">Side Projects</a>
          </li>
          <li>
            <a href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="fz-step-1">
            <a href="#blog">Blog</a>
          </li>
          <li>
            <a href="#publications">Publications</a>
          </li>
          <li>
            <a href="#ui-dev-newsletter">UI Dev Newsletter</a>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li class="fz-step-1">
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
