// Hero
//
// Weight: 1200
//
// Styleguide Hero

// Alpha
//
// Markup: _hero-alpha.html
//
// Weight: 1201
//
// Styleguide Hero.Alpha

// Beta
//
// Markup: _hero-beta.html
//
// Weight: 1202
//
// Styleguide Hero.Beta
