{% if theme and theme.site and theme.site.language %}
  {% assign lang = theme.site.language %}
{% elsif config and config.language %}
  {% assign lang = config.language %}
{% else %}
  {% assign lang = "en" %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  {% include '_legacy/head' %}
  <body>
    {% include '_legacy/skip-link' %}
    <div class="inner">
      {% include '_legacy/header' %}
      <main id="main">
        {% block content %}
          {% if sections %}
            {% for section in sections %}
              {% include '_legacy/sections' %}
            {% endfor %}
          {% endif %}
          {% if content != blank and content != '' %}
            {% include '_legacy/content-alpha' %}
          {% endif %}
          {% if sections2 %}
            {% for section in sections2 %}
              {% include '_legacy/sections' %}
            {% endfor %}
          {% endif %}
        {% endblock %}
      </main>
      {% include '_legacy/footer' %}
    </div>
    {% include '_legacy/toggle-button' %}
    {% include '_assets/style' %}
    {% include '_assets/scripts' %}
    {% include '_assets/analytics' %}
  </body>
</html>




