{% if theme and theme.site and theme.site.language %}
  {% assign lang = theme.site.language %}
{% elsif config and config.language %}
  {% assign lang = config.language %}
{% else %}
  {% assign lang = "en" %}
{% endif %}

{% if tag %}
  {% assign title = title_suffix | append: ' “' | append: tag | append: '”' %}
  {% assign subtitle = subtitle_suffix | append: ' “' | append: tag | append: '”.' %}
  {% assign description = description_suffix | replace: 'XXXYYY', tag %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  {% include '_legacy/head' %}
  <body>
    {% include '_legacy/skip-link' %}
    <div class="inner">
      {% include '_legacy/header' %}
      <main id="main">
        {% include '_legacy/hero-tags' %}
        <hr class="text-alpha hr">
        {% if tag %}
          {% include '_legacy/cards-tags' %}
        {% else %}
          {% include '_legacy/tags' %}
        {% endif %}
      </main>
      {% include '_legacy/footer' %}
    </div>
    {% include '_legacy/toggle-button' %}
    {% include '_assets/style' %}
    {% include '_assets/scripts' %}
    {% include '_assets/analytics' %}
  </body>
</html>




