{%- if cta[component.banner] -%}
  {%- liquid
    assign banner_class = 'banner'

    if section.sticky
      assign banner_class = banner_class | append: ' banner--beta banner--small sticky'
    else
      assign banner_class = banner_class | append: ' banner--alpha banner--medium'
    endif

    if section.last
      assign banner_class = banner_class | append: ' last'
    endif
  -%}

  <section class="{{ banner_class }}">
    {%- if cta[component.banner].logo -%}
      {%- assign logo = cta[component.banner].logo -%}
      {% assign bannerWidth2x = logo.width | times: 2 %}
      {% assign bannerWidths = logo.width | append: ',' | append: bannerWidth2x | split: ',' %}
      {%- if cta[component.banner].cta -%}
        <a class="banner__logo" href="{{ cta[component.banner].cta.href }}">
          {%- cldnryfetch logo.src logo.alt bannerWidths true false logo.svg -%}
        </a>
      {%- else -%}
        <div class="banner__logo">
          {%- cldnryfetch logo.src logo.alt bannerWidths true false logo.svg -%}
        </div>
      {%- endif -%}
    {%- endif -%}
    {%- if cta[component.banner].title -%}
      <h2 class="banner__title">{{ cta[component.banner].title | markdownifyi }}</h2>
    {%- endif -%}
    {%- if cta[component.banner].desc -%}
      <div class="banner__desc">{{ cta[component.banner].desc | markdownify }}</div>
    {%- endif -%}
    {%- if cta[component.banner].cta -%}
      <div class="banner__action">
        {%- include '_includes/_components/cta', cta: cta[component.banner].cta -%}
      </div>
    {%- endif -%}
  </section>
{%- endif -%}
