{%- liquid
  assign banner_class = 'banner banner--gfx'

  if section.sticky
    assign banner_class = banner_class | append: ' sticky'
  endif

  if section.last
    assign banner_class = banner_class | append: ' last'
  endif
-%}

<section class="{{ banner_class }}">
  {%- if component.img -%}
    <div class="banner__image"{% if component.img.clamp or component.img.bg %} style="{% if component.img.clamp %}--max-inline-size: {{ component.img.clamp }};{% endif %}{% if component.img.bg %}--hero-bg: url({{ component.img.bg }});{% endif %}"{% endif %}>
      {% assign heroWidth2x = component.img.width | times: 2 %}
      {% assign heroWidths = component.img.width | append: ',' | append: heroWidth2x | split: ',' %}
      {%- cldnryfetch component.img.src component.img.alt heroWidths false -%}
    </div>
  {%- endif -%}
</section>
