{%- liquid
  assign list = collections[component.filter] | sort: 'date' | reverse
  assign i1 = 1
-%}

{%- if list -%}
  <section class="box">
    {%- if component.title -%}
      <h2 class="box__title">{{ component.title }}</h2>
    {%- endif -%}
    <ul class="box__list">
      {%- for card in list -%}
        {%- if card.data.projectName -%}
          {%- assign projectTitle = card.data.projectName -%}
        {%- elsif card.data.title -%}
          {%- assign projectTitle = card.data.title -%}
        {%- endif -%}
        {%- if card.data.year -%}
          {%- assign projectTitle = projectTitle | append: ' ' | append: card.data.year -%}
        {%- endif -%}
        {%- unless component.limit and i1 > component.limit -%}
          {%- unless component.exclude and page.url == card.url -%}
            <li class="box__item">
              <h3 class="box__subtitle"><a href="{{ card.url }}">{{ projectTitle }}</a></h3>
              {%- if card.data.description -%}
                <p class="box__text">{{ card.data.description }}</p>
              {%- endif -%}
            </li>
            {%- assign i1 = i1 | plus: 1 -%}
          {%- endunless -%}
        {%- endunless -%}
      {%- endfor -%}
    </ul>
    {%- if component.cta -%}
      <div class="box__action">
        {%- include '_includes/_components/cta', cta: component.cta -%}
      </div>
    {%- endif -%}
  </section>
{%- endif -%}
