<div class="banner banner--beta">
  <nav aria-labelledby="css-webring-club">
    <h2 id="css-webring-club">CS.Sjoy.lol</h2>
    <p>This site is a member of the <a rel="external" href="https://cs.sjoy.lol/">CS.Sjoy.lol webring</a>.</p>
    <ul class="banner__list">
      <li>
        <a rel="external" referrerpolicy="strict-origin" href="https://webri.ng/webring/cssjoy/previous?via=https://www.silvestar.codes/">Previous website</a>
      </li>
      <li>
        <a rel="external" referrerpolicy="strict-origin" href="https://webri.ng/webring/cssjoy/random?via=https://www.silvestar.codes/">Random website</a>
      </li>
      <li>
        <a rel="external" referrerpolicy="strict-origin" href="https://webri.ng/webring/cssjoy/next?via=https://www.silvestar.codes/">Next website</a>
      </li>
    </ul>
  </nav>
</div>
