.form {
  margin-top: rem(30);

  @include mq($until: mobile) {
    text-align: left;
  }

  form {
    margin-bottom: rem(10);
  }

  .label,
  label {
    display: block;
    color: $color-text;
    font-weight: bold;
    font-size: ms(-1);
    text-transform: uppercase;
    margin-top: rem(20);
    margin-bottom: rem(3);
    @include ws(80);

    &:before {
      content: "➥";
      margin-right: rem(6);
      font-size: ms(-1);
      color: $color-beta;
    }
  }

  label {
    cursor: pointer;
  }

  .cta + label {
    margin-top: rem(40);
  }

  input:not([type="checkbox"]):not([type="radio"]) {
    min-height: rem(50);
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    font-size: ms(-1);
    font-weight: bold;
    border-radius: rem(3);
    width: 100%;

    &[class*="is-danger"] {
      border: 1px dotted $color-alpha;

      &:hover,
      &:focus,
      &:active {
        border-color: $color-alpha;
      }

      &:focus,
      &:active {
        box-shadow: 0 0 0 rem(3) $color-gamma;
      }
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  button {
    box-sizing: border-box;
    padding: rem(10);

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    color: $color-text;
    background-color: $color-omega;
    border: 1px dotted $color-beta;

    &:hover,
    &:focus,
    &:active {
      border-color: $color-text;
      box-shadow: 0 0 0 rem(3) $color-delta;
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  button {
    width: 100%;
  }

  button {
    font-size: ms(-1);
    font-weight: bold;
    background-color: $color-beta;
    color: $color-text;
    border-radius: rem(3);
    min-height: rem(50);
    margin-top: rem(20);
    border: none;
    text-transform: uppercase;
    @include ls(50);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-beta;
    }
  }

  .has-radios {
    display: flex;
    flex-direction: column-reverse;
  }

  .kw-radio-group {
    label {
      margin-top: 0;

      &:before {
        content: none;
      }
    }
  }

  .kw-field-wrapper:not(.kw-radio) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: rem(20);

    .help {
      color: $color-alpha;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }
  }

  .kw-radio {
    display: flex;
    align-items: center;
    padding-top: rem(10);

    input {
      margin-right: rem(6);
      position: relative;
      top: rem(-3);
    }
  }

  [class*="kw-message-"] {
    box-sizing: border-box;
    margin-bottom: rem(10);

    &:before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: ms(-4);
      font-weight: bold;
      min-height: 1rem;
      min-width: 1rem;
      border-radius: rem(3);
      color: $color-omega;
      margin-right: rem(6);
      position: relative;
      top: rem(-2);
    }

    span {
      padding-bottom: 0;
    }

    a {
      font-weight: bold;
    }
  }

  .kw-message-error {
    border: 1px dotted $color-alpha;
    background-color: $color-omega;
    color: $color-alpha;
    border-radius: rem(3);

    &:before {
      content: "!";
      background-color: $color-alpha;
    }
  }

  .kw-message-warning {
    border: 1px dotted $color-text;
    background-color: $color-omega;
    color: $color-text;
    border-radius: rem(3);

    &:before {
      content: "i";
      background-color: $color-text;
    }
  }

  .kw-message-info {
    border: 1px dotted $color-beta;
    background-color: $color-omega;
    color: $color-text;
    border-radius: rem(3);

    &:before {
      content: "i";
      background-color: $color-beta;
    }
  }
}


.desc {
  padding-bottom: rem(10);
  font-size: ms(-1);

  p {
    margin: rem(3) 0;

    &:before {
      content: "i";
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: ms(-4);
      font-weight: bold;
      min-height: 1rem;
      min-width: 1rem;
      border-radius: rem(3);
      background-color: $color-beta;
      color: $color-omega;
      margin-right: rem(6);
      position: relative;
      top: rem(-2);
    }
  }
}

[v-cloak] {
  position: relative;

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    margin-bottom: rem(20);
  }

  .kw-radio-group {
    display: flex;
    flex-direction: column;
    min-width: rem(74);

    input {
      display: block;
      margin-top: rem(12);
      margin-bottom: rem(9);
    }

    margin-bottom: rem(20);
  }

  &:after {
    content: "Waiting.";
    position: absolute;
    top: rem(-10);
    right: rem(-10);
    bottom: rem(-10);
    left: rem(-10);
    border-radius: rem(3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: ms(4);
    font-weight: bold;
    background-color: transparentize($color-omega, .25);
    color: $color-text;
    animation: waiting 3s steps(3, end) infinite;
  }
}

@keyframes waiting {
  33% {
    content: "Waiting..";
  }
  66% {
    content: "Waiting...";
  }
}
