body {
  background-image: radial-gradient(circle at rem(30) rem(30), transparentize($color-gamma, 0.75), transparentize($color-gamma, 0.75) rem(20), transparent rem(20)), radial-gradient(circle at rem(50) rem(50), transparentize($color-delta, 0.75), transparentize($color-delta, 0.75) rem(20), transparent rem(20)), radial-gradient(circle at calc(100% - #{rem(30)}) calc(100% - #{rem(30)}), transparentize($color-delta, 0.75), transparentize($color-delta, 0.75) rem(20), transparent rem(20)), radial-gradient(circle at calc(100% - #{rem(50)}) calc(100% - #{rem(50)}), transparentize($color-gamma, 0.75), transparentize($color-gamma, 0.75) rem(20), transparent rem(20));
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.wrapper--omega {
  max-width: rem(960);
}

.cta {
  text-align: center;

  p[class^="h"] {
    &:after {
      content: none;
    }
  }
}

:target {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(110deg, transparent 49%, $color-omega 49%, $color-omega 51%, transparent 51%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0.85;
    animation: wow 1s ease-out 1s forwards;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rem(40);

  &:not(:first-child) {
    margin-top: rem(30);
  }
}

.col {
  display: flex;
  align-items: stretch;
}

@include mq($until: desktop) {
  .wrapper--beta {
    max-width: rem(440);
  }
}

@include mq($from: desktop) {
  .wrapper--alpha {
    max-width: rem(600);
  }

  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes wow {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
