[Settings]
ID = "33c0f310-012c-4821-9f39-9448f1a4b051"

[build]
  publish = "public"
  command = "npm run build-prod"

[context.production]
  command = "npm run build-prod"

[context.deploy-preview]
  command = "npm run build-dev"

[context.branch-deploy]
  command = "npm run build-dev"

[context.develop]
  command = "npm run build-dev"

# [[plugins]]
#   package = "@netlify/plugin-lighthouse"

#   # optional, fails build when a category is below a threshold
#   [plugins.inputs.thresholds]
#     performance = 0.9
#     accessibility = 0.9
#     best-practices = 0.9
#     seo = 0.9

# [[plugins]]
#   package = "netlify-plugin-checklinks"

#   [plugins.inputs]
#     skipPatterns = ["googletagmanager", "sb.js"]

[[plugins]]
  package = "netlify-plugin-minify-html"

  # Specify which deploy contexts we'll minify HTML in.
  # Supports any Deploy Contexts available in Netlify.
  # https://docs.netlify.com/site-deploys/overview/#deploy-contexts
  [plugins.inputs]
    contexts = [
      'production'
    ]

  # Optionally, override the default options for the minification
  # https://github.com/kangax/html-minifier#options-quick-reference
  [plugins.inputs.minifierOptions]
    removeComments = true
    collapseInlineTagWhitespace = false

[[plugins]]
  package = "@netlify/plugin-sitemap"

  [plugins.inputs]

    # The base dir of the project
    buildDir = "public"

    # Exclude files from sitemap
    exclude = [
      "./404/",
      "./docs/",
      "./docs/styleguide/",
      "./docs/styleguide/*.html",
      "./docs/styleguide/**.html",
      "./docs/**/*.html",
      "./docs/styleguide/**",
      "./docs/**"
    ]

[[plugins]]
  package = "netlify-plugin-submit-sitemap"

  [plugins.inputs]

    # The base url of your site (optional, default = main URL set in Netlify)
    baseUrl = "https://www.silvestar.codes"

    # Path to the sitemap URL (optional, default = /sitemap.xml)
    sitemapPath = "/sitemap.xml"

    # Enabled providers to submit sitemap to (optional, default = 'google', 'bing', 'yandex'). Possible providers are currently only 'google', 'bing', 'yandex'.
    providers = [
      "google",
      "bing",
      "yandex"
    ]
