<div class="card df-col-center bg-alpha padding-3 text-center">
  <div class="margin-b-2 dib">
    <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
  </div>
  <div class="df-center margin-y-1">
    <span class="margin-1">wordpress</span>
    <span class="margin-1">frontend</span>
    <span class="margin-1">shopify</span>
  </div>
  <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
</div>
<div class="card df-col-center lg-alpha padding-3 text-center">
  <div class="margin-b-2 dib">
    <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
  </div>
  <div class="df-center margin-y-1">
    <span class="margin-1">wordpress</span>
    <span class="margin-1">frontend</span>
    <span class="margin-1">shopify</span>
  </div>
  <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
</div>
