// Grid
//
// Markup: _grid.html
//
// .grid--alpha - Alternative grid
// .grid--beta - Alternative grid
// .grid--gamma - Alternative grid
//
// Weight: 1000
//
// Styleguide Grid

.grid {
  display: grid;
  grid-template-columns: var(--cols);
  grid-gap: var(--gap);
}

.grid--alpha {
  --cols: repeat(auto-fit, minmax(350px, 1fr));
}

.grid--beta {
  --cols: repeat(auto-fit, minmax(300px, 1fr));
}

.grid--gamma {
  --cols: repeat(auto-fit, minmax(250px, 1fr));
}
