<header class="lg-alpha padding-2">
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li class="df-center margin-x-auto padding-x-2">
        <a class="rm" href="#">
          <img src="/gfx/svg/logo.svg" alt="Logo" width="100" height="100">
        </a>
      </li>
      <li class="margin-x-a">
        <ul class="df-center list-reset">
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2 fz-step-0">
                <a class="fw-bold padding-y-1 tdn" href="#portfolio">Portfolio</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#side-projects">Side Projects</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#testimonials">Testimonials</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2 fz-step-0">
                <a class="fw-bold padding-y-1 tdn" href="#blog">Blog</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#publications">Publications</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#ui-dev-newsletter">UI Dev Newsletter</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2 fz-step-0">
                <a class="fw-bold padding-y-1 tdn" href="#about">About</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#contact">Contact</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#services">Services</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
