.widget-contact {
  @include wrapper;
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3px;

  @include mq($from: mobile) {
    flex-direction: row;
  }

  @supports (display: grid) {
    display: grid;

    @include mq($from: mobile) {
      grid-template-columns: repeat(4, minmax(25%, 1fr));
    }
  }
}

.widget-contact__item {
  flex: 0 0 auto;
  width: 100%;

  @include mq($from: mobile) {
    width: 25%;
  }
}

.widget-contact__link {
  @include link-reset(block);
  width: 100%;
  font-size: ms(-2);
  padding: 9px 3px;
  color: $white;
  transition: background-color .15s ease-in-out .03s;
  display: flex;
  align-items: center;
  justify-content: center;

  @supports (display: grid) {
    @include mq($from: mobile) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 6px;
    }
  }
}

.font-awesome {
  critical: this;
  height: 15px;
  width: 15px;
  margin-right: 6px;

  @supports (display: grid) {
    @include mq($from: mobile) {
      margin-left: auto;
    }
  }

  path {
    fill: $white;
  }
}

@each $social-name, $social-color in $social-icons {
  .widget-contact__link--#{$social-name} {
    &:hover,
    &:focus,
    &:active {
      background-color: $social-color;
    }
  }
}
