@font-face {
  font-family: $font-family1-subset;
  src: url('/fonts/Vollkorn/Vollkorn-Regular-Subset.woff2') format('woff2'), url('/fonts/Vollkorn/Vollkorn-Regular-Subset.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  // unicode-range: 0020-007F;
}

@font-face {
  font-family: $font-family1;
  src: url('/fonts/Vollkorn/Vollkorn-Regular.woff2') format('woff2'), url('/fonts/Vollkorn/Vollkorn-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: $font-family2-subset;
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Bold-Subset.woff2') format('woff2'), url('/fonts/Playfair_Display/PlayfairDisplay-Bold-Subset.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: $font-family2;
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Bold.woff2') format('woff2'), url('/fonts/Playfair_Display/PlayfairDisplay-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
