footer.footer
  if (theme && theme.widgets && theme.widgets.subnav)
    include widgets/subnav
  if (theme && theme.site && theme.site.short_name)
    p.copy!= "&copy; " + theme.site.short_name + ", " + new Date().getFullYear()
  else if (config && config.title)
    p.copy!= "&copy; " + config.title + ", " + new Date().getFullYear()

if (theme && theme.widgets && theme.widgets.cookies)
  include widgets/ga

if (page && page.layout == "post" && theme && theme.widgets && theme.widgets.disqus)
  include widgets/disqus

include assets/style
include assets/scripts

script.
  window.replainSettings = { id: 'b4390b69-ab1e-4820-8e8c-8477e7483e68' };
  (function(u){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=u;
  var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);
  })('https://widget.replain.cc/dist/client.js');
