head
  include head/meta
  include head/og
  include head/link
  include assets/favicon
  include assets/critical
  include assets/foft-font-loading
  if(page && page.canonical)
    link(rel="canonical", href=page.canonical)
  link(rel="alternate", type="application/rss+xml", title="RSS Feed for petefreitag.com", href="/rss2.xml")
