.home
  include redesign/profile
  include redesign/articles
  include cta1
  include redesign/publications
  include redesign/portfolio
  include redesign/testimonials
  include cta2
  include redesign/projects
