.home
  include _redesign/profile
  include _redesign/articles
  include cta1
  include _redesign/publications
  include _redesign/portfolio
  include _redesign/testimonials
  include cta2
  include _redesign/projects
  include _redesign/cld
