.home
  include redesign/profile
  include redesign/offline-articles
  include cta1
  include redesign/offline-publications
  include redesign/offline-portfolio
  include redesign/testimonials
  include cta2
  include redesign/offline-projects
