if (theme && theme.widgets && theme.widgets.info)
  .info
    a.info__icon(href="#")= "i"
    if (theme.widgets.info.paragraphs)
      .info__popup
        each p in theme.widgets.info.paragraphs
          p= p
        if (theme.widgets.info.contact)
          ul.info__list
            each kcontact, vcontact in theme.widgets.info.contact
              li.info__item
                a.info__link(href=kcontact)= vcontact
