.home
  include _redesign/offline-profile
  include _redesign/offline-articles
  include _redesign/offline-publications
  include _redesign/offline-portfolio
  include _redesign/offline-testimonials
  include _redesign/offline-projects
