h2#testimonials Testimonials
p There is nothing more important to me than a happy and satisfied client.
p These clients said some kind words about my work.
p To see more projects, feel free to #[a(href="/portfolio/") explore my portfolio ⇢].
p If you think we would be a good match, feel free #[a(href="/contact/") to contact me]. I am always open to new collaborations.
