<section>
  <article class="intro">
    <h2>Programs</h2>
    <p>The UI Development Mentoring Programs provides two courses:</p>
    <ul>
      <li>Skills improvement, and</li>
      <li>Career Guidance.</li>
    </ul>
    <div class="row">
      <div class="col">
        <div class="card wrapper wrapper--beta">
          <h3>Improve your skills</h3>
          <ul>
            <li>HTML/CSS/JavaScript</li>
            <li>WordPress</li>
            <li>JAMstack</li>
            <li>Web performance</li>
            <li>In-page SEO</li>
          </ul>
          <a href="/side-projects/ui-dev-mentoring/apply/" class="href">Apply now</a>
        </div>
      </div>
      <div class="col">
        <div class="card wrapper wrapper--beta">
          <h3>Guidance is the key</h3>
          <ul>
            <li>What to expect?</li>
            <li>How to overcome challenges?</li>
            <li>How to improve your skills?</li>
            <li>What to focus on?</li>
            <li>How to land a job?</li>
          </ul>
          <a href="/side-projects/ui-dev-mentoring/apply/" class="href">Apply now</a>
        </div>
      </div>
    </div>
  </article>
</section>
