{% assign my-slides = collections['my-slides'] | reverse %}
<section>
  <ul>
    {% for slide in my-slides %}
      {% if slide.data.version == 'mentor' %}
        <li><a href="{{ slide.url }}">{{ slide.data.title }} ⇢</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
