body {
  color: $color-psi;
  font-family: $font-alpha;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-beta;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

pre,
code,
.code {
  font-family: $font-gamma;
}
