@mixin light-mode {
  --color-alpha: #12e09f;
  --color-beta: #e01258;
  --color-gamma: #f5f5f5;
  --color-delta: #C2FAE8;
  --color-epsilon: #FAC2D4;
  --color-chi: #4f4f4f;
  --color-psi: #1f1f1f;
  --color-omega: #fff;
}

@mixin dark-mode {
  --color-alpha: #e01258;
  --color-beta: #12e09f;
  --color-gamma: #3e3e3e;
  --color-delta: #C20A38;
  --color-epsilon: #42AE8C;
  --color-chi: #e1e1e1;
  --color-psi: #fff;
  --color-omega: #1f1f1f;
}

@mixin mixed-mode {
  --color-alpha: #12e09f;
  --color-beta: #FAC2D4;
  --color-gamma: #4f4f4f;
  --color-delta: #e01258;
  --color-epsilon: #C2FAE8;
  --color-chi: #fff;
  --color-psi: #1f1f1f;
  --color-omega: #3e3e3e;
}

@mixin comment-mode {
  --color-gamma: #d5d5d5;
  --color-psi: #1f1f1f;
}

:root {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

/// Media query definition for mobile devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--tablet, $font-size--mobile, $font-size--desktop);
/// @group 1.1 Sizes
/// @name mq--mobile
/// @since 1.0.0
$mq--mobile: 480px;

/// Media query definition for tablet devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--tablet, $font-size--mobile, $font-size--desktop);
/// @group 1.1 Sizes
/// @name mq--tablet
/// @since 1.0.0
$mq--tablet: 768px;

/// Media query definition for desktop devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
/// @group 1.1 Sizes
/// @name mq--desktop
/// @since 1.0.0
$mq--desktop: 1200px;

/// Default font size on mobile devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--tablet, $font-size--mobile, $font-size--desktop);
/// @group 1.1 Sizes
/// @name font-size--mobile
/// @since 1.0.0
$font-size--mobile: 16px;

/// Default font size on tablet devices, used in css-locks.
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--tablet, $font-size--mobile, $font-size--desktop);
/// @group 1.1 Sizes
/// @name font-size--tablet
/// @since 1.0.0
$font-size--desktop: 19px;

/// Default line height applied on every element
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example line-height: $line-height;
/// @group 1.1 Sizes
/// @name line-height
/// @since 1.0.0
$line-height: 1.6;

/// Configuration for modular scale
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example @include css-locks(font-size, $mq--mobile, $mq--tablet, $font-size--mobile, $font-size--desktop);
/// @group 1.1 Sizes
/// @name modularscale
/// @since 1.0.0
/// @link http://www.modularscale.com/
$modularscale: (
  base: 1rem,
  ratio: 1.333
);

/// Configuration for media queries
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example
///   @include mq($from: mobile, $until: tablet) {
///     color: $color-alpha;
///   }
/// @group 1.1 Sizes
/// @name mq-breakpoints
/// @since 1.0.0
/// @link https://www.npmjs.com/package/sass-mq
$mq-breakpoints: (
  mobile:  $mq--mobile,
  tablet: $mq--tablet,
  desktop: $mq--desktop
);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-alpha;
/// @group 1.1 Colors
/// @name color1
/// @since 1.0.0
$color-alpha: var(--color-alpha);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-beta;
/// @group 1.1 Colors
/// @name white
/// @since 1.0.0
$color-beta: var(--color-beta);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-gamma;
/// @group 1.1 Colors
/// @name white
/// @since 1.0.0
$color-gamma: var(--color-gamma);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-delta;
/// @group 1.1 Colors
/// @name white
/// @since 1.0.0
$color-delta: var(--color-delta);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-epsilon;
/// @group 1.1 Colors
/// @name white
/// @since 1.0.0
$color-epsilon: var(--color-epsilon);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-chi;
/// @group 1.1 Colors
/// @name zeta
/// @since 1.0.0
$color-chi: var(--color-chi);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-psi;
/// @group 1.1 Colors
/// @name zeta
/// @since 1.0.0
$color-psi: var(--color-psi);

/// Color from SB palette
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example color: $color-omega;
/// @group 1.1 Colors
/// @name omega
/// @since 1.0.0
$color-omega: var(--color-omega);

/// Transition duration
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example transition-duration: $tra;
/// @group 1.2 Transitions
/// @name trd
/// @since 1.0.0
$trd: 0.225s;

/// Transition animation default
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example transition-duration: $tra;
/// @group 1.2 Transitions
/// @name tra
/// @since 1.0.0
$tra: cubic-bezier(0.3, 0.6, 0.5, 0.81);

/// Transition animation bounce
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example transition-duration: $tra2;
/// @group 1.2 Transitions
/// @name tra2
/// @since 1.0.0
$tra2: cubic-bezier(0.15, -0.15, 0.6, 1.2);

/// Barlow
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-alpha;
/// @group 1.3 Fonts
/// @name font-alpha
/// @since 1.0.0
$font-alpha-def: 'Barlow';

/// Barlow Fallback
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-alpha;
/// @group 1.3 Fonts
/// @name font-alpha
/// @since 1.0.0
$font-alpha: 'Barlow', sans-serif;

/// Playfair Display
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-beta;
/// @group 1.3 Fonts
/// @name font-beta
/// @since 1.0.0
$font-beta-def: 'Playfair Display';

/// Playfair Display Fallback
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-beta;
/// @group 1.3 Fonts
/// @name font-beta
/// @since 1.0.0
$font-beta: 'Playfair Display', serif;

/// Courier New', Courier, monospac
/// @access public
/// @author Silvestar Bistrović <me@silvestar.codes>
/// @example font-family: $font-gamma;
/// @group 1.3 Fonts
/// @name font-gamma
/// @since 1.0.0
$font-gamma: 'Courier New', Courier, monospace;
