@function rem($size: 20px, $media: 'desktop') {
  @if $media == 'desktop' {
    @return calc(#{strip-unit($size / $font-size--desktop)} * 1rem);
  } @else if $media == 'mobile' {
    @return calc(#{strip-unit($size / $font-size--mobile)} * 1rem);
  } @else {
    @return 1rem;
  }
}

@function tracking($tracking: 0) {
  @if $tracking == 0 {
    @return 0;
  } @else {
    @return calc(#{$tracking} / 1000 * 1em);
  }
}

@mixin ls($tracking: 0) {
  letter-spacing: tracking(#{strip-unit($tracking)});
}

@mixin ws($tracking: 0) {
  word-spacing: tracking(#{strip-unit($tracking)});
}

@mixin zero-box() {
  margin: 0;
  padding: 0;
}

@mixin tra($transition-property: all, $transition-duration: $trd, $transition-animation: $tra) {
  transition: $transition-property $transition-duration $transition-animation;
}
