html {
  @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
}

body {
  color: $color-text;
  font-family: $font-alpha;
  font-size: ms(0);
  font-style: normal;
  font-weight: 400;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-style: normal;
    font-size: ms(7 - $i);
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    &:first-letter {
      font-size: 1.5em;
      line-height: 0.75;
    }

    &:target {
      color: $color-alpha;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    p + & {
      margin-top: 2em;
    }

    @include mq($from: desktop) {
      &:not(.plain):after {
        content: "";
        background-image: linear-gradient(to right, $color-delta 50%, transparent);
        position: absolute;
        top: 100%;
        left: 0;
        width: 20%;
        max-width: 2em;
        height: .15em;
      }
    }
  }
}

::selection {
  background-color: $color-delta;
}

pre,
code,
.code {
  font-family: $font-beta;
}

.tac {
  text-align: center;
}
