$mq--mobile: 480px;
$mq--desktop: 960px;
$mq-breakpoints: (
  mobile:  $mq--mobile,
  desktop: $mq--desktop
);

$font-size--mobile: 15px;
$font-size--desktop: 18px;
$line-height: 1.5;
$modularscale: (
  base: 1rem,
  ratio: 1.125
);

$color-alpha: #FF3366;
$color-beta: #12e09f;
$color-gamma: #FAC2D4;
$color-delta: #C2FAE8;
$color-omega: #fff;
$color-psi: darken($color-omega, 2%);
$color-text: #120207;

$trd: 0.175s;
$tra: cubic-bezier(0.04, 0.88, 0.74, 1.04);

$font-alpha: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
