@charset "UTF-8";

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

:root {
  --bp: 80ch;
  --bp1: 600px;
  --bp2: 1200px;
  --bp3: 1600px;
  --selection: rgba(18, 224, 159, 0.325);
  --color-alpha: #12e09f;
  --color-beta: #ff3366;
  --color-light: #fff;
  --color-dark: #111;
  --font-alpha: Playfair Display, serif;
  --font-beta: Barlow, sans-serif;
  --font-gamma: Courier New, Courier, monospace;
  --step-6: 54px;
  --step-5: 46.8px;
  --step-4: 39.6px;
  --step-3: 32.4px;
  --step-2: 25.2px;
  --step-1: 21.6px;
  --step-0: 18px;
  --step--1: 16.2px;
  --step--2: 14.4px;
  --line-height: 1.66;
  --letter-spacing: 0.01em;
  --space-default: 0.25rem;
  --space: 1rem;
  --border-radius: 0.1rem;
  --duration: 0.3s;
  --duration2: 0.15s;
  --delay: 0.15s;
  --cols: repeat(auto-fill, minmax(400px, 1fr));
  --gap: 2rem;
}

@media (max-width: 37.49em) {
  :root {
    --step-6: 39.996px;
    --step-5: 31.986px;
    --step-4: 27.99px;
    --step-3: 23.994px;
    --step-2: 21.996px;
    --step-1: 19.998px;
    --step-0: 18px;
    --step--1: 15.984px;
    --step--2: 13.986px;
    --space-default: 0.1rem;
    --cols: repeat(auto-fill, 1fr);
  }
}

@font-face {
  font-family: 'Barlow';
  src: local("Barlow Medium Italic"), local("Barlow-MediumItalic"), url("/fonts/Barlow/Barlow-MediumItalic.woff2") format("woff2"), url("/fonts/Barlow/Barlow-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local("Barlow SemiBold"), local("Barlow-SemiBold"), url("/fonts/Barlow/Barlow-SemiBold.woff2") format("woff2"), url("/fonts/Barlow/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local("Barlow Medium"), local("Barlow-Medium"), url("/fonts/Barlow/Barlow-Medium.woff2") format("woff2"), url("/fonts/Barlow/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local("Barlow SemiBold Italic"), local("Barlow-SemiBoldItalic"), url("/fonts/Barlow/Barlow-SemiBoldItalic.woff2") format("woff2"), url("/fonts/Barlow/Barlow-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display Medium Italic"), local("PlayfairDisplay-MediumItalic"), url("/fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("/fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display SemiBold"), local("PlayfairDisplay-SemiBold"), url("/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display Medium"), local("PlayfairDisplay-Medium"), url("/fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2") format("woff2"), url("/fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: local("Playfair Display SemiBold Italic"), local("PlayfairDisplay-SemiBoldItalic"), url("/fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"), url("/fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

body {
  color: var(--black);
  font-family: var(--font-beta);
  font-style: normal;
  font-weight: 500;
  font-size: var(--step-0);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

body:not([id*="kss"]) {
  filter: drop-shadow(0 0 0.25rem rgba(17, 17, 17, 0.1));
}

pre {
  font-family: var(--font-gamma);
}
