// Spacing
//
// Markup: _spacing.html
//
// Weight: 400
//
// Styleguide Spacing


.padding {
  padding: var(--space);
}

.padding-top-alpha {
  padding-top: calc(var(--space) * 2);

  @include mq($from: bp1) {
    padding-top: calc(var(--space) * 3);
  }
}

.padding-bottom-alpha {
  padding-bottom: calc(var(--space) * 2);

  @include mq($from: bp1) {
    padding-bottom: calc(var(--space) * 3);
  }
}

.margin {
  margin: var(--space);
}

.margin-top {
  margin-top: var(--space);
}

.margin-bottom {
  margin-bottom: var(--space);
}

.margin-top-alpha {
  margin-top: calc(var(--space) * 2);

  @include mq($from: bp1) {
    margin-top: calc(var(--space) * 3);
  }
}

.margin-bottom-alpha {
  margin-bottom: calc(var(--space) * 2);

  @include mq($from: bp1) {
    margin-bottom: calc(var(--space) * 3);
  }
}

.margin-top-beta {
  margin-top: calc(var(--space) * 2);

  @include mq($from: bp1) {
    margin-top: calc(var(--space) * 5);
  }
}

.margin-bottom-beta {
  margin-bottom: calc(var(--space) * 2);

  @include mq($from: bp1) {
    margin-bottom: calc(var(--space) * 5);
  }
}

.margin-left {
  margin-left: var(--space);
}

.margin-right {
  margin-right: var(--space);
}

.margin-auto {
  margin: auto;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-margin {
  margin: 0;
}
