// Breakpoints
$bp: 66ch;
$bp1: 600px;
$bp2: 1200px;
$bp3: 1600px;

$mq-breakpoints: (
  bp1: $bp1,
  bp2: $bp2,
  bp3: $bp3
);

// Colors
$color-alpha: hsl(161, 85%, 67%);
$color-alpha-hover: hsl(161, 85%, 57%);
$color-alpha-dark: hsl(161, 85%, 27%);
$color-alpha-darker: hsl(161, 85%, 17%);
$color-alpha-darkest: hsl(161, 85%, 7%);
$color-alpha-light: hsl(161, 85%, 77%);
$color-alpha-lighter: transparentize($color-alpha, .8125);
$color-beta: hsl(345, 100%, 60%);
$color-beta-dark: hsl(345, 80%, 50%);
$color-beta-light: hsl(345, 100%, 70%);
$color-light: hsl(161, 85%, 98%);
$color-lightish: hsl(161, 85%, 96%);
$color-dark: hsl(161, 85%, 5%);
$color-darkish: hsl(161, 85%, 10%);
$color-xmas-alpha: hsl(0, 33%, 95%);
$color-xmas-beta: hsl(2, 73%, 49%);
$color-xmas-beta-dark: hsl(2, 73%, 66%);
$color-xmas-gamma: hsl(122, 20%, 49%);
$color-xmas-gamma-dark: hsl(122, 20%, 66%);

// Typography
$font-alpha: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-sm: 16px;
$font-size-lg: 20px;
$lh1: 1.33;
$lh2: 1.66;
$lsp: .015em;

// Spacing
$space-default: .25rem;
$space-default-min: .1rem;
$space-factor: 4;
$space: $space-default * $space-factor;

// Border Radius
$brad: .1rem;

// Transitions
$duration: .3s;
$duration2: $duration / 2;
$delay: $duration / 2;

// Grid
$cols: repeat(auto-fill, minmax(400px, 1fr));
$cols-bp1: repeat(auto-fill, 1fr);
$gap: $space * 2;

// Gallery gap
$ggap: 4px;

// Tilt
$angle: .5deg;

// Scrollbar
$snap-height: 100vh;
$snap-inline: 10px;

:root {
  // Breakpoints
  --bp: #{$bp};
  --bp1: #{$bp1};
  --bp2: #{$bp2};
  --bp3: #{$bp3};

  // Colors
  --color-alpha: #{$color-alpha};
  --color-alpha-hover: #{$color-alpha-hover};
  --color-alpha-dark: #{$color-alpha-dark};
  --color-alpha-light: #{$color-alpha-light};
  --color-alpha-lighter: #{$color-alpha-lighter};
  --color-beta: #{$color-beta};
  --color-beta-light: #{$color-beta-light};
  --color-light: #{$color-light};
  --color-lightish: #{$color-lightish};
  --color-dark: #{$color-dark};
  --color-darkish: #{$color-darkish};
  --color-xmas-alpha: #{$color-xmas-alpha};
  --color-xmas-beta: #{$color-xmas-beta};
  --color-xmas-gamma: #{$color-xmas-gamma};

  // Typography
  --font-alpha: #{$font-alpha};
  --step-6: #{$font-size-lg * 3};
  --step-5: #{$font-size-lg * 2.6};
  --step-4: #{$font-size-lg * 2.2};
  --step-3: #{$font-size-lg * 1.8};
  --step-2: #{$font-size-lg * 1.4};
  --step-1: #{$font-size-lg * 1.2};
  --step-0: #{$font-size-lg};
  --step--1: #{$font-size-lg * 0.9};
  --step--2: #{$font-size-lg * 0.8};
  --step--3: #{$font-size-lg * 0.7};
  --line-height1: #{$lh1};
  --line-height2: #{$lh2};
  --letter-spacing: #{$lsp};

  // Spacing
  --space-default: #{$space-default};
  --space: #{$space};

  // Border Radius
  --border-radius: #{$brad};

  // Transitions
  --duration: #{$duration};
  --duration2: #{$duration2};
  --delay: #{$delay};

  // Grid
  --cols: #{$cols};
  --gap: #{$gap};

  // Gallery
  --ggap: #{$ggap};

  // Tilt
  --angle: #{$angle};

  // Scrollbar
  --snap-height: #{$snap-height};
  --snap-inline: #{$snap-inline};

  @include mq($until: bp1) {
    // Typography
    --step-6: #{$font-size-sm * 2.222};
    --step-5: #{$font-size-sm * 1.777};
    --step-4: #{$font-size-sm * 1.555};
    --step-3: #{$font-size-sm * 1.333};
    --step-2: #{$font-size-sm * 1.222};
    --step-1: #{$font-size-sm * 1.111};
    --step-0: #{$font-size-sm};
    --step--1: #{$font-size-sm * 0.888};
    --step--2: #{$font-size-sm * 0.777};
    --step--3: #{$font-size-sm * 0.666};

    // Spacing
    --space-default: #{$space-default-min};

    // Grid
    --cols: #{$cols-bp1};
  }

  @media (prefers-reduced-motion: reduce) {
    --duration: .05s;
    --duration2: .05s;
    --delay: .05s;
  }
}
