| <style>
if (page && page.offline)
  include ../../../source/css/style.min.css
  include ../../../source/css/offline.min.css
else if (isHome())
  include ../../../source/css/style.critical.min.css
else if (page && isPortfolioPost(page))
  include ../../../source/css/style2.critical.min.css
else if (page && isPortfolio(page))
  include ../../../source/css/style3.critical.min.css
else if (isCategory())
  include ../../../source/css/style4.critical.min.css
else if (isPost())
  include ../../../source/css/style5.critical.min.css
else if (page && isContact(page))
  include ../../../source/css/style6.critical.min.css
else if (page && isMentoring(page))
  include ../../../source/css/style7.critical.min.css
else
  include ../../../source/css/style8.critical.min.css
| </style>
style
  include ../../../source/css/foft.min.css
