script(src="/js/workbox.min.js", async)

if (page && !page.offline)
  script(src="/js/cldnry.min.js", async)

  script(src="/js/index.min.js", async)

  if (page && page.form)
    script(src="https://kwes.io/js/kwes.js", async)
