<ul>
  <li>Regular List</li>
  <li>Regular List</li>
  <li>Regular List</li>
  <li>Regular List</li>
</ul>
<ul class="list-outside">
  <li>.list-outside</li>
  <li>.list-outside</li>
  <li>.list-outside</li>
  <li>.list-outside</li>
</ul>
<ul class="list-inside">
  <li>.list-inside</li>
  <li>.list-inside</li>
  <li>.list-inside</li>
  <li>.list-inside</li>
</ul>
<ul class="list-style-none">
  <li>.list-style-none</li>
  <li>.list-style-none</li>
  <li>.list-style-none</li>
  <li>.list-style-none</li>
</ul>
<ul class="list-condensed">
  <li>.list-condensed</li>
  <li>.list-condensed</li>
  <li>.list-condensed</li>
  <li>.list-condensed</li>
</ul>
<ul class="list-condensed list-inside">
  <li>.list-condensed.list-inside</li>
  <li>.list-condensed.list-inside</li>
  <li>.list-condensed.list-inside</li>
  <li>.list-condensed.list-inside</li>
</ul>
<ul class="list-reset">
  <li>.list-reset</li>
  <li>.list-reset</li>
  <li>.list-reset</li>
  <li>.list-reset</li>
</ul>
