@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul:not([class]),
ol:not([class]),
iframe,
code,
figure,
table {
  line-height: 1.5;
  margin-bottom: 0.88889em; }
h1 {
  font-size: 2.02729em; }
h2 {
  font-size: 1.80203em; }
h3 {
  font-size: 1.60181em; }
h4 {
  font-size: 1.42383em; }
h5 {
  font-size: 1.26562em; }
h6 {
  font-size: 1.125em; }
p,
ul:not([class]),
ol:not([class]),
iframe {
  font-size: 1em; }
code,
figure,
table {
  font-size: 0.88889em; }
html {
  font-family: 'Exo 2', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
body {
  font-size: 13px;
  color: #232323;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media screen and (min-width: 332px) {
    body {
      font-size: calc( 0.8125em + 3 * ( 100vw - 20.75em ) / 320); } }
  @media screen and (min-width: 652px) {
    body {
      font-size: 16px; } }
  @supports (display: grid) {
    body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto auto; } }
.main {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  flex: 1 1 auto; }
  @media (min-width: 40.75em) {
    .main {
      width: 652px; } }
  @media (max-width: 40.74em) {
    .main {
      overflow: hidden; } }
  @media screen and (min-width: 332px) {
    .main {
      padding-top: calc( 0.375em + 24 * ( 100vw - 20.75em ) / 320);
      padding-bottom: calc( 0.375em + 24 * ( 100vw - 20.75em ) / 320); } }
  @media screen and (min-width: 652px) {
    .main {
      padding-top: 30px;
      padding-bottom: 30px; } }
.header {
  padding: 6px;
  background-image: radial-gradient(circle at center bottom, rgba(236, 50, 17, 0.67), rgba(224, 18, 88, 0.67)); }
.header__list {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 40.75em) {
    .header__list {
      width: 652px; } }
  @media (max-width: 40.74em) {
    .header__list {
      overflow: hidden; } }
  @media (min-width: 20.75em) {
    .header__list {
      overflow: visible; } }
.header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; }
  @media (min-width: 20.75em) {
    .header__item:nth-child(2), .header__item:nth-child(3) {
      order: 0; } }
  @media (min-width: 20.75em) {
    .header__item:nth-child(4), .header__item:nth-child(5) {
      order: 2; } }
.header__item--logo {
  z-index: 1; }
  @media (min-width: 20.75em) {
    .header__item--logo {
      order: 1; } }
.header__link {
  text-decoration: none;
  display: block;
  color: #fff;
  padding-bottom: 3px;
  text-shadow: 0 1px 0 #e01258;
  position: relative;
  overflow: hidden; }
.header__link--logo {
  border-radius: 50%;
  background-color: #fff;
  padding: 6px; }
  @media (min-width: 20.75em) {
    .header__link--logo {
      margin-bottom: -35px; } }
.header__image {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.banner {
  font-size: 0.88889em; }
.banner--top {
  background-image: radial-gradient(circle at center top, rgba(236, 50, 17, 0.56), rgba(224, 18, 88, 0.56)); }
  @supports (display: grid) {
    .banner--top {
      opacity: 0;
      animation: appear 1.23s cubic-bezier(0.3, 0.6, 0.5, 0.81) 0.33s forwards; } }
.banner__content {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 40.75em) {
    .banner__content {
      width: 652px; } }
  @media (max-width: 40.74em) {
    .banner__content {
      overflow: hidden; } }
  @media (min-width: 20.75em) {
    .banner__content {
      flex-direction: row;
      justify-content: space-between; } }
  @media (max-width: 20.74em) {
    .banner__content {
      text-align: center; } }
.banner__info {
  padding: 6px 0;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 1px 0 #ec3211; }
  @supports (display: grid) {
    .banner--top .banner__info:nth-child(1) {
      transform-origin: center center;
      transform: scale(0.5);
      opacity: 0;
      animation: grow 0.33s cubic-bezier(0, 1.23, 0.45, 1.23) 1.23s forwards; } }
  @supports (display: grid) {
    .banner--top .banner__info:nth-child(2) {
      transform-origin: center center;
      transform: scale(0.5);
      opacity: 0;
      animation: grow 0.33s cubic-bezier(0, 1.23, 0.45, 1.23) 1.5s forwards; } }
  @media (max-width: 20.74em) {
    .banner__info {
      flex: 1 1 auto;
      width: 100%; } }
.banner__link {
  text-decoration: none;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: rgba(224, 18, 88, 0.5);
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color .18s ease-in-out, color .18s ease-in-out; }
.breadcrumb {
  list-style: none; }
.breadcrumb__item {
  font-size: 0.79012em;
  display: inline-block; }
  .breadcrumb__item:nth-of-type(odd) {
    color: #e01258; }
  .breadcrumb__item:nth-of-type(even) {
    color: #ec3211; }
  .breadcrumb__item:not(:last-of-type) {
    margin-right: 1px; }
.breadcrumb__item--link:not(:last-of-type)::after {
  content: "⇢";
  display: inline-block;
  margin-left: 1px; }
.breadcrumb__link {
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  color: inherit;
  transition: background-color .18s ease-in-out, color .18s ease-in-out; }
.archive__title {
  font-size: 1.60181em;
  color: #e01258; }
  .archive__title::after {
    content: "";
    display: block;
    max-width: 100%;
    width: 100px;
    height: 2px;
    margin-top: 24px;
    border-radius: 1px;
    background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
.article__item:not(:last-of-type) {
  margin-bottom: 36px; }
  .article__item:not(:last-of-type)::after {
    content: "";
    display: block;
    max-width: 100%;
    width: 100px;
    height: 2px;
    margin-top: 36px;
    border-radius: 1px;
    background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
.article__content,
.article__footer {
  margin-top: 18px; }
.article__title {
  font-size: 1.60181em;
  color: #ec3211;
  transition: color .15s ease-in-out; }
.article__title--list {
  margin-bottom: 18px; }
.article__title--post {
  margin-bottom: 24px; }
.article__title-link {
  text-decoration: none;
  display: inline-block;
  color: inherit; }
.article__details {
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; }
.article__meta {
  font-size: 0.79012em;
  margin-right: 6px; }
.article__meta-item {
  display: inline-block;
  background-image: radial-gradient(circle at top left, rgba(224, 18, 88, 0.9), rgba(236, 50, 17, 0.9));
  padding: 1px;
  border-radius: 3px; }
.article__meta-inner {
  display: block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #e01258; }
.article__link {
  text-decoration: none;
  display: inline-block;
  font-size: 0.88889em;
  background-image: radial-gradient(circle at center left, rgba(224, 18, 88, 0.67), rgba(236, 50, 17, 0.67));
  color: #fff;
  padding: 3px 6px;
  border-radius: 3px;
  transition: background-color .15s ease-in-out; }
.article__header--post,
.article__title--post { }
  .article__header--post::after,
  .article__title--post::after {
    content: "";
    display: block;
    max-width: 100%;
    width: 100px;
    height: 2px;
    margin-top: 24px;
    border-radius: 1px;
    background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.88889em; }
a:not([class]) {
  text-decoration: none;
  display: inline;
  padding: 1px;
  color: #ec3211;
  border-radius: 2px;
  transition: background-color .18s ease-in-out, color .18s ease-in-out; }
  a:not([class])#more {
    display: none; }
  @media (max-width: 20.74em) {
    a:not([class]) {
      word-break: break-all; } }
  hr::after {
    content: "";
    display: block;
    max-width: 100%;
    width: 100%;
    height: 2px;
    margin-top: 24px;
    border-radius: 1px;
    background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
a[href*=".gif"],
a[href*=".png"],
a[href*=".jpg"],
a[href*=".jpeg"] {
  display: block;
  text-align: center;
  padding: 0; }
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
.tags::after {
  content: "";
  display: block;
  max-width: 100%;
  width: 100px;
  height: 2px;
  margin-top: 24px;
  border-radius: 1px;
  background-image: radial-gradient(circle at center, rgba(224, 18, 88, 0.15), rgba(236, 50, 17, 0.15)); }
.widget-contact {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3px; }
  @media (min-width: 40.75em) {
    .widget-contact {
      width: 652px; } }
  @media (max-width: 40.74em) {
    .widget-contact {
      overflow: hidden; } }
.font-awesome {
  height: 15px;
  width: 15px;
  margin-right: 6px; }
.copyright {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-size: 0.70233em;
  padding: 3px;
  text-align: center;
  color: #fff; }
  @media (min-width: 40.75em) {
    .copyright {
      width: 652px; } }
  @media (max-width: 40.74em) {
    .copyright {
      overflow: hidden; } }
