.block__grid.block__grid--alpha
  .block__item
    h2 Code Line Daily
    p The project aims to highlight those simple line of codes that we developers often take for granted.
    button.js-reset.reset Get new line
  .block__item.block__item--beta
      .ide
        .js-ide
