h2#publications Publications
p I had the opportunity to feature my articles on some well-known publications, like CSS-Tricks, Toptal and LogRocket.
p Here are the selected publication articles, but feel free to #[a(href="/categories/articles/") explore the blog ⇢] for more content.
