h2#portfolio Portfolio
p I had the luck to be able to prove my worth on many challenging projects.
p I worked with many exceptional clients from all over the world: United States, Canada, United Kingdom, Germany, Spain, Denmark, Saudi Arabia.
p Here are the selected works, but feel free to #[a(href="/portfolio/") explore the full portfolio ⇢].
