h2#blog
  a(href="/categories/articles/") Blog
p I have started blogging in 2016 while I was working in a local startup.
p Since then, I wrote more than 50 articles.
p I usually write about my findings in my everyday work.
p Some of my favorite topics are frontend, JAMstack, and freelance.
p Here are the selected articles, but feel free to #[a(href="/categories/articles/") explore the blog ⇢].
