h2#projects
  a(href="/side-projects/") Side Projects
p In my spare time, I develop and maintain my side projects.
p It is the opportunity to try things out and to experiment with new technologies.
p Here are the selected works, but feel free to #[a(href="/side-projects/") explore all side projects ⇢].
