h2#testimonials
  a(href="/hire-me/") Testimonials
p There is nothing more important to me than a happy client. And there is nothing more satisfying then hear nice things about my work.
p My commitment and motivation didn’t go unnoticed. These clients said some kind words about my work.
p To explore more projects, #[a(href="/portfolio/") see my portfolio ⇢].
p If you think we would be a good match, feel free #[a(href="/contact/") to contact me]. I am always open to new collaborations.
