h2#projects
  a(href="/side-projects/") Side Projects
p In my spare time, I like to develop and maintain my side projects.
p It is the opportunity to try things out and to experiment with new technologies. It is also a commitment, but the one I enjoy the most.
p All my projects are #[a(href="https://github.com/maliMirkec") available on GitHub], too. To see my experiments, #[a(href="https://codepen.io/CiTA/") go to my CodePen profile].
p #[a(href="/side-projects/") View all projects here. ⇢]
