h2#portfolio
  a(href="/portfolio/") Portfolio
p I had the luck to be able to prove my worth on many challenging projects. Either working with WordPress themes or static sites, I usually utilise HTML, CSS/Sass and Vanilla JavaScript to deliver the perfect solutions.
p I worked with many exceptional clients from all over the world: United States, Canada, United Kingdom, Germany, Spain, Denmark, Saudi Arabia.
p To see more projects, #[a(href="/portfolio/") explore the portfolio ⇢].
