h1.h2 Silvestar Bistrović
p I am Silvestar from Croatia and here is how I like to describe myself:
ul
  li #[b A fearless web engineer]—always trying to solve any problem put before me most efficiently,
  li #[b CSS developer]—enjoying solving challenging layout and styling tasks,
  li #[b JAMstack enthusiast]—simplifying website development using serverless technologies,
  li #[b WordPress theme specialist]—creating stunning, modern, pixel-perfect themes with performance and usability in mind.
p I have been working with web technologies since 2012. I feel the most comfortable when #[a(href="#portfolio") working with HTML, CSS and JavaScript].
p I live in Osijek, Croatia, and I am working remotely #[a(href="/uses/") from my office].
p When I am not coding, I like #[a(href="#blog") to write about what I do] and #[a(href="#projects") work on my side projects]. ✍️
