h2#blog
  a(href="/articles/") Blog
p I have started blogging in 2016. Since then, I wrote more than 50 articles.
p I usually write about my findings in my everyday work. Some of my favorite topics include frontend, JAMstack, and freelancing.
p For more content, but feel free to #[a(href="/articles/") explore all articles ⇢].
