h2#publications
  a(href="/articles/") Publications
p I had the opportunity to feature my articles on some well-known publications, like CSS-Tricks, Toptal and LogRocket.
p Writing for prominent publications has been a great challenge, but it was an excellent experience as I worked with proficient writers and editors.
p Here are the selected publication articles, but feel free to #[a(href="/articles/") explore the blog ⇢] for more content.
