if (site && site.posts)
  .block__grid.block__grid--alpha
    .block__item
      include intro-publications
    each vpost, kpost in site.posts.toArray().reverse()
      if (vpost.highlighted && vpost.canonical)
        .block__item.card
          .card__content
            if vpost.title
              h3.h3.card__title
                span= vpost.title
            if vpost.description
              .card__description!= vpost.description
            if (vpost.tags)
              ul.card__list.card__list--alpha.card__tags
                each tag in vpost.tags.toArray()
                  li
                    span.card__tag= tag.name
