if (site && site.pages)
  .block__grid.block__grid--beta
    .block__item.block__item--alpha
      include intro-projects
    each vpage, kpage in site.pages.toArray()
      if (vpage.highlighted && vpage.side)
        .block__item.poster.poster--alpha
          .poster__image
            span
              - var thumbnail_alt = "Screenshot of " + vpage.title + " website.";
              img(src="/gfx/jpg/offline.jpg", alt=thumbnail_alt)
          .poster__content
            if vpage.title
              h3.poster__title
                span= vpage.title
              if (vpage.description)
                p.poster__description= vpage.description
