if (site && site.pages)
  .block__grid.block__grid--beta
    .block__item
      include intro-portfolio
    each vpage, kpage in site.pages.toArray()
      if (vpage.highlighted && vpage.portfolio)
        .block__item.poster
          if (vpage.thumbnail)
            .poster__image
              a(href=urlFor(vpage.path))
                +cldnry(vpage.thumbnail, "Screenshot of " + vpage.title + " website.")
          .poster__content
            if vpage.title
              h3.poster__title
                a(href=urlFor(vpage.path))= vpage.title
            if (vpage.tags)
              ul.poster__list.poster__tags
                each tag in vpage.tags
                  li.poster__tag= tag
            .poster__action
              a(href=urlFor(vpage.path)) View Project ⇢

