.profile.profile--alpha
  .profile__image
    .profile__avatar
      +cldnry("profile-2019-circle-small_sp95uf.png", "Headshot of myself, Silvestar Bistrović.", "https://res.cloudinary.com/starbist/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582948190/placeholder_nazwc1.jpg")
      +cldnry("avatar_gc1swk.jpg", "Avatar of myself, Silvestar Bistrović.", "https://res.cloudinary.com/starbist/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582948190/placeholder_nazwc1.jpg")
  .profile__content
    .profile__inner
      h1.profile__title Silvestar Bistrović
      p.profile__tagline Developing websites since 2012
      ul.profile__list.profile__list--alpha.profile__tags
        li.profile__tag Frontend
        li.profile__tag User Interface
        li.profile__tag HTML
        li.profile__tag CSS
        li.profile__tag JavaScript
        li.profile__tag JAMstack
        li.profile__tag WordPress
      ul.profile__positions
        li.profile__position
          h3.h4 Fearless web engineer
        li.profile__position
          h3.h4 CSS developer
        li.profile__position
          h3.h4 JAMstack enthusiast
        li.profile__position
          h3.h4 WordPress theme specialist
      ul.profile__list.profile__list--beta.profile__links
        li.profile__link
          a.profile__href(href="/portfolio/") Portfolio
        li.profile__link
          a.profile__href(href="/about-me/") About
        li.profile__link
          a.profile__href(href="/contact/") Contact
