if (site && site.pages)
  - var projectPages = site.pages.toArray().filter(page => page.side && page.display)
  - projectPages.sort((a, b) => (a.order > b.order) ? 1 : -1)
  .sidebar
    .sidebar__inner
      h2.sidebar__title Portfolio
      ul.list.list--beta
        each vpage, kpage in projectPages
            li.list__item
              - var link_class = (page.path.indexOf(vpage.path) !== -1) ? " list__link--current" : "";
              a(href=urlFor(vpage.path), class="list__link" + link_class)= vpage.title
