:root {
  --cursive: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  --serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --rounded: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  --sans: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --monospace: 'Nimbus Mono PS', 'Courier New', monospace;

  --sidebar: clamp(5rem, calc(2.5rem + 4vw), 7.5rem);
  --main: clamp(31.25rem, calc(0rem + 50vw), 62.5rem);
  --viewport: 120rem;

  --size-02-04: clamp(0.125rem, calc(0rem + 0.2vw), 0.25rem);
  --size-03-06: clamp(0.188rem, calc(0.054rem + 0.357vw), 0.375rem);
  --size-05-10: clamp(0.313rem, calc(0rem + 0.5vw), 0.625rem);
  --size-10-20: clamp(0.625rem, calc(0rem + 1vw), 1.25rem);
  --size-10-40: clamp(0.625rem, calc(-1.25rem + 3vw), 2.5rem);
  --size-12-14: clamp(0.75rem, calc(0.625rem + 0.2vw), 0.875rem);
  --size-13-16: clamp(0.813rem, calc(0.625rem + 0.3vw), 1rem);
  --size-15-18: clamp(0.938rem, calc(0.804rem + 0.357vw), 1.125rem);
  --size-15-30: clamp(0.938rem, calc(0rem + 1.5vw), 1.875rem);
  --size-16-20: clamp(1rem, calc(0.75rem + 0.4vw), 1.25rem);
  --size-20-24: clamp(1.25rem, calc(1rem + 0.4vw), 1.5rem);
  --size-20-30: clamp(1.25rem, calc(0.625rem + 1vw), 1.875rem);
  --size-20-40: clamp(1.25rem, calc(0rem + 2vw), 2.5rem);
  --size-24-40: clamp(1.5rem, calc(0.5rem + 1.6vw), 2.5rem);
  --size-30-40: clamp(1.875rem, calc(1.25rem + 1vw), 2.5rem);
  --size-30-60: clamp(1.875rem, calc(0rem + 3vw), 3.75rem);
  --size-40-60: clamp(2.5rem, calc(1.25rem + 2vw), 3.75rem);
  --size-50-100: clamp(3.125rem, calc(0rem + 5vw), 6.25rem);
  --size-60-100: clamp(3.75rem, calc(1.25rem + 4vw), 6.25rem);
  --size-60-120: clamp(3.75rem, calc(0rem + 6vw), 7.5rem);

  --color-alpha: #63f2c5;
  --color-alpha-op0: #63f2c500;
  --color-alpha-op33: #63f2c554;
  --color-beta: #ff3366;
  --color-gamma: #043A73;
  --color-gamma-op06: #0439710f;
  --color-dark: #000;
  --color-light: #fff;

  --timing100: 111ms;
  --timing200: 222ms;

  /* https://scrollbar.app/ */
  --sb-track-color: color-mix(in srgb, var(--color-alpha), var(--color-light) 80%);
  --sb-thumb-color: var(--color-alpha);
  --sb-size: 12px;
}

@supports (color: oklch(0.87 0.14 169.13 / 1)) {
  :root {
    --color-alpha: oklch(0.87 0.14 169.13 / 1);
    --color-alpha-op0: oklch(0.87 0.14 169.13 / 0);
    --color-beta: oklch(0.66 0.23 13.34 / 1);
    --color-gamma: oklch(0.35 0.11 254.86 / 1);
    --color-dark: oklch(0 0 0 / 1);
    --color-light: oklch(1 0 0 / 1);
  }
}

@view-transition {
	navigation: auto;
}

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

body::-webkit-scrollbar,
.table-wrapper::-webkit-scrollbar,
.copy pre[class*="language-"]::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track,
.table-wrapper::-webkit-scrollbar-track,
.copy pre[class*="language-"]::-webkit-scrollbar-track {
  background-color: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb,
.table-wrapper::-webkit-scrollbar-thumb,
.copy pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: var(--sb-thumb-color);
  border: 1px solid #043a73;
}

body::-webkit-scrollbar-thumb {
  border-radius: var(--sb-size);
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .table-wrapper,
  .copy pre[class*="language-"] {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

::selection {
  background-color: color-mix(in srgb, var(--color-gamma), transparent 90%);
}

/*https://pqina.nl/blog/fix-google-mobile-usability-issues/*/
:where(body, iframe, pre, img, svg, video, canvas, select) {
  max-inline-size: 100%;
  overflow: auto;
  word-break: break-word;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--serif);
  line-height: 1.2;
}

:where(label, input, textarea, button, [class*="cta"], [class*="link"]) {
  font-family: var(--rounded);
}

:where(label, button, [class*="cta"], [class*="link"]) {
  cursor: pointer;
}

img {
  display: block;
  block-size: auto;
}

:where(a, input, textarea, button) {
  color: inherit;
  outline-color: transparent;
  outline-offset: 0;
  outline-style: solid;
  outline-width: 0.075em;
  transition: all var(--timing200);
}

:where(a) {
  text-underline-offset: 0.15em;
  text-decoration-thickness: max(1px, 0.05em);
}

:where(a):is(:hover, :focus, :active) {
  text-underline-offset: 0.075em;
}

/* https://css-tricks.com/cool-hover-effects-using-background-properties/ */
:where(main a:not([class]), .fancy-hover) {
  background-image: linear-gradient(var(--link-color, var(--color-alpha-op33)) 0 0);
  background-position: right;
  background-repeat: no-repeat;
  background-size: var(--p, 0%);
  transition: var(--timing200), background-position 0s;
}

:where(main a:not([class]), .fancy-hover):is(:hover, :focus, :active) {
  --p: 100%;
  background-position: left;
}

:where(a, button):focus-visible,
:where([class*="cta"], [class*="link"]):is(:hover, :focus, :active) {
  outline-color: currentColor;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

body {
  color: var(--color-gamma);
  font-family: var(--sans);
  line-height: 1.4;
  min-block-size: 100dvh;
  padding: var(--size-10-20);
}

[class*="cta"] {
  background-image: linear-gradient(to right, var(--color-alpha) 40%, var(--color-light) 400%);
  color: var(--color-gamma);
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  gap: var(--size-10-20);
  font-size: var(--size-20-30);
  text-decoration: none;
  padding-block: var(--size-10-20);
  padding-inline: var(--size-20-40);
  border-radius: var(--size-30-60);
  border: var(--size-02-04) solid var(--color-gamma);
  position: relative;
}

[class*="cta--small"] {
  font-size: var(--size-16-20);
  gap: var(--size-05-10);
  padding-block: var(--size-05-10);
}

[class*="cta--tiny"] {
  font-size: var(--size-12-14);
  gap: var(--size-05-10);
  padding-block: var(--size-02-04);
}

[class*="cta--inverse"] {
  background-image: linear-gradient(to right, var(--color-gamma) 50%, var(--color-alpha) 1000%);
  color: var(--color-alpha);
}

[class*="cta--converse"] {
  background-image: linear-gradient(to left, transparent -100%, var(--color-gamma) 2000%);
  color: var(--color-gamma);
}

[class*="cta"]:after {
  content: '››››';
  transform: translateY(calc(var(--size-02-04) * -1));
  transform-origin: left center;
  transition: inherit;
}

:where([class*="cta"], [class*="__input"]):is(:hover, :focus, :active) {
  box-shadow: 0 0 0 0.075em var(--color-gamma);
  outline-color: var(--color-gamma);
}

[class*="cta"]:is(:hover, :focus, :active):after {
  transform: translateX(var(--size-02-04)) translateY(calc(var(--size-02-04) * -1)) scale(110%);
}

[class*="avatar"] img {
  background-color: var(--color-light);
  border: .15em solid currentColor;
  border-radius: 50%;
  transition: var(--timing100);
}

blockquote {
  padding-inline-start: var(--size-10-20);
  position: relative;
}

.testimonials blockquote {
  padding-inline-start: var(--size-30-60);
}

blockquote:before {
  content: '';
  background-image: linear-gradient(var(--color-gamma), var(--color-alpha));
  border-radius: var(--size-02-04);
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  inline-size: 0.15em;
}

blockquote p {
  font-size: var(--size-16-20);
}

blockquote p:not(:first-of-type) {
  margin-block-start: var(--size-05-10);
}

.wrapper {
  display: grid;
  gap: var(--size-10-20);
  max-inline-size: var(--viewport);
  margin-inline: auto;
}

.header {
  grid-area: header;
  display: grid;
  gap: var(--size-10-20);
}

.header__nav {
  background-repeat: repeat;
  background-size: 77px, 100%;
  background-position: center;
  padding: var(--size-05-10);
}

.header__nav--alpha {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to right, var(--color-alpha) -50%, transparent 150%);
}

.header__nav--beta {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to right, var(--color-gamma) -1000%, transparent 150%);
  background-repeat: repeat;
  background-size: 77px, 100%;
  background-position: center;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__list--alpha {
  font-size: var(--size-16-20);
}

.header__list--beta {
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-05-10);
  font-size: var(--size-13-16);
}

.header__item--alpha {
  margin-inline-end: auto;
}

.header__link {
  text-decoration: none;
  display: block;
}

.header__link--alpha {
  display: flex;
  align-items: center;
  gap: var(--size-05-10);
  padding-inline-end: var(--size-15-30);
  border-radius: var(--size-50-100);
}

.header__link--beta {
  background-color: var(--color-light);
  outline-offset: 0;
}

.header__link--alpha img {
  background-color: var(--color-light);
  border: 1px solid currentColor;
}

.header__link--alpha span {
  font-family: var(--rounded);
  font-size: var(--size-15-18);
  font-weight: 700;
  line-height: 1.3;
}

.header__link--alpha img,
.footer__logo {
  border-radius: 50%;
  overflow: hidden;
}

.header__link--beta,
.header__link--gamma {
  line-height: 1;
  padding-block: var(--size-05-10);
  padding-inline: var(--size-10-20);
}

.header__link--beta {
  border-radius: var(--size-20-40);
}

.footer {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.footer__inner {
  display: grid;
  gap: var(--size-10-20);
  padding: var(--size-05-10);
}

.footer__content {
  display: flex;
  justify-content: center;
}

.footer__logo:is(:hover, :focus, :active) {
  outline-color: var(--color-light);
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-03-06);
  margin: unset;
  padding-block-start: var(--size-10-20);
  padding-inline: unset;
  list-style: none;
}

.footer__social svg {
  stroke: var(--color-gamma);
  block-size: 2rem;
  inline-size: 2rem;
  transition: var(--timing200);
}

.footer__social a:is(:hover, :focus, :active) svg {
  stroke: var(--color-beta);
}

.main {
  background-color: var(--color-light);
  background-clip: padding-box;
  grid-area: main;
  display: grid;
  grid-auto-flow: dense;
  gap: var(--size-50-100);
  place-items: start;
  border-radius: var(--size-30-60);
  border: var(--size-05-10) solid transparent;
}

.hero {
  --max-inline-size: 100%;
  grid-column: 1 / -1;
  display: grid;
  gap: var(--size-10-20);
  padding-block: var(--size-20-40);
}

.page--about .hero {
  padding-block-end: unset;
}

.hero:has(.hero__image) {
  inline-size: 100%;
  gap: var(--size-10-20);
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page--about .hero__image img {
  border-radius: 50%;
}

.hero__image img {
  max-inline-size: var(--max-inline-size);
}

.hero__image svg {
  block-size: auto;
  border-radius: var(--size-20-40);
}

.hero__title {
  font-size: var(--size-30-60);
  max-inline-size: var(--hero-title-width, 30ch);
}

.hero__text {
  font-size: var(--size-20-40);
  font-weight: 700;
  line-height: 1.3;
  max-inline-size: var(--hero-text-width, 35ch);
  text-wrap: pretty;
}

.hero__text2 {
  font-size: var(--size-20-30);
  max-inline-size: var(--hero-text2-width, 40ch);
  text-wrap: pretty;
}

.hero__text2 p + p {
  margin-block-start: 0.5em;
}

.hero__action {
  margin-block-start: var(--size-10-20);
}

.box {
  grid-column: 1;
  display: grid;
  place-self: stretch;
  gap: var(--size-30-60);
}

.box__anchor {
  display: inline-block;
  border-radius: var(--size-02-04);
  outline-offset: var(--size-02-04);
}

.box__anchor:is(:hover, :focus, :active) {
  text-decoration-color: var(--color-beta);
}

.box__link {
  text-decoration: none;
  border-radius: var(--size-02-04);
  outline-offset: var(--size-02-04);
  outline-width: 0.15em;
}

.box__link:has(.box__avatar) {
  border-radius: var(--size-50-100);
}

.box__link:is(:hover, :focus, :active) {
  background-color: color-mix(in srgb, var(--color-alpha), var(--color-light) 80%);
}

.box__title {
  font-size: var(--size-30-60);
  position: relative;
  z-index: 1;
}

.box__title:before {
  content: "";
  background-repeat: repeat;
  background-size: 77px, 100%;
  background-position: center;
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to right, transparent 10%, var(--color-gamma) 1100%);
  position: absolute;
  inset-block: calc(var(--size-05-10) * -1);
  inset-inline: 0;
  border-radius: 0 var(--size-50-100) var(--size-50-100) 0;
  z-index: -1;
}

.box__list {
  list-style: none;
  display: grid;
  place-content: start;
  gap: var(--size-20-40);
}

.box__item {
  display: grid;
  gap: var(--size-05-10);
}

.box__subtitle {
  font-size: var(--size-20-30);
}

.box__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-05-10);
}

.box__tag,
.box__more {
  color: color-mix(in srgb, var(--color-gamma), var(--color-light) 10%);
  font-family: var(--rounded);
  font-size: 1rem;
}

.box__tag--omega {
  color: var(--color-dark);
  text-decoration-style: wavy;
}

.box__grid {
  display: grid;
  place-items: start;
  column-gap: var(--size-10-20);
  row-gap: var(--size-20-40);
}

.box__grid--alpha {
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  place-items: center;
  align-items: start;
}

.box__grid .box__tags {
  justify-content: center;
}

.box__panel {
  text-align: center;
}

.box__panel img {
  filter: drop-shadow(0 var(--size-02-04) var(--size-05-10) var(--color-alpha-op0));
  transition: var(--timing200);
}

.box__panel:is(:hover, :focus, :active) img {
  filter: drop-shadow(0 var(--size-02-04) var(--size-05-10) var(--color-alpha));
  transform: scale(102%);
}

.box__action {
  margin-inline: auto;
}

.box__person {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--size-10-20);
  align-items: center;
  max-inline-size: 30rem;
}

.box__person h3 {
  font-size: var(--size-20-24);
  line-height: 1;
  margin-block-end: var(--size-02-04);
}

.box__person :is(h4, h5) {
  font-family: var(--rounded);
  font-size: var(--size-12-14);
}

.box__quote {
  margin-block-start: var(--size-05-10);
  margin-inline-start: calc(var(--size-60-100) / 2);
}

.box__quote blockquote {
  max-inline-size: max(60ch, 75%);
}

.box__quote blockquote:before {
  transform: translate(-50%);
}

.box__avatar {
  max-inline-size: var(--size-60-100);
}

.banner {
  background-repeat: repeat;
  background-size: 77px, 100%;
  background-position: center;
  align-self: start;
  display: grid;
  gap: var(--size-05-10);
  inline-size: 100%;
  padding: var(--size-20-40);
  border-radius: var(--size-20-40);
}

.banner--alpha {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to bottom right, var(--color-alpha), var(--color-light) 300%);
}

.banner--beta {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to right, transparent -50%, var(--color-gamma) 1000%);
}

.banner--big {
  gap: var(--size-10-20);
  border-radius: var(--size-30-60);
}

.banner__logo {
  margin-block-end: var(--size-05-10);
}

.banner__title {
  font-size: var(--size-20-24);
}

.banner__text {
  font-size: var(--size-16-20);
}

.banner--medium .banner__title {
  font-size: var(--size-20-30);
}

.banner--big .banner__title {
  font-size: var(--size-30-40);
}

.banner--big .banner__text {
  font-size: var(--size-20-24);
}

.banner__list {
  font-size: var(--size-16-20);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--size-10-20);
  row-gap: var(--size-05-10);
  list-style-position: inside;
}

.banner__list ::marker {
  content: '› ';
  font-weight: 600;
}

.banner--lastfm ul {
  padding-inline-start: var(--size-05-10);
  margin-block: var(--size-05-10);
}

.banner--lastfm li + li {
  margin-block-start: var(--size-02-04);
}

.banner--lastfm .cta {
  place-self: start;
}

[class*="__form"] {
  display: grid;
  gap: var(--size-05-10);
}

[class*="__label"],
[class*="__input"],
[class*="__cta"],
[class*="__desc"],
[class*="__info"] {
  font-size: var(--size-15-18);
}

[class*="__input"] {
  padding-block: var(--size-05-10);
  padding-inline: var(--size-10-20);
  min-block-size: var(--size-30-40);
  border: var(--size-02-04) solid var(--color-gamma);
}

.banner [class*="__input"] {
  border-radius: var(--size-30-60);
}

.contact [class*="__input"],
.contact [class*="__cta"] {
  border-radius: var(--size-05-10);
}

[class*="__input"] {
  color: var(--color-gamma);
}

.banner [class*="__input"] {
  background-color: color-mix(in srgb, var(--color-alpha), var(--color-light) 60%);
}

.contact [class*="__input"] {
  background-color: color-mix(in srgb, var(--color-alpha), var(--color-light) 80%);
}

.banner [class*="__input"]:is(:focus, :active) {
  background-color: color-mix(in srgb, var(--color-alpha), var(--color-light) 80%);
}

.contact [class*="__input"]:is(:focus, :active) {
  background-color: color-mix(in srgb, var(--color-alpha), var(--color-light) 95%);
}

/* .banner [class*="__input"]:is(:focus, :active):is(:invalid) {
  background-color: color-mix(in srgb, var(--color-beta), var(--color-light) 80%);
}

.contact [class*="__input"]:is(:focus, :active):is(:invalid) {
  background-color: color-mix(in srgb, var(--color-beta), var(--color-light) 95%);
}

[class*="__input"]:is(:focus, :active):is(:invalid):not(:placeholder-shown) {
  border-color: var(--color-beta);
} */

[class*="__action"] {
  margin-block-start: var(--size-10-20);
}

.article-header,
.article-content,
.article-footer {
  grid-column: 1 / -1;
  place-self: stretch;
}

.article-header {
  background-image: url(/gfx/webp/sb-light.webp), radial-gradient(ellipse closest-side at center, var(--color-alpha) -500%, transparent 200%);
  background-position: center;
  background-repeat: repeat;
  background-size: 77px, 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-10-20);
  padding-block: var(--size-20-40);
  padding-inline: var(--size-20-40);
  border-radius: var(--size-20-40);
}

.article-header h1 {
  font-size: var(--size-30-60);
  text-align: center;
  text-shadow: 1px 1px var(--color-alpha);
  max-inline-size: 30ch;
  text-wrap: balance;
}

.article-footer {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(transparent 25%, var(--color-gamma) 1000%);
  background-position: center;
  background-repeat: repeat;
  background-size: 77px, 100%;
  row-gap: var(--size-20-40);
  padding-block: var(--size-50-100);
  position: relative;
  border-radius: var(--size-20-40);
}

.article-footer:before {
  content: '✣  ✣  ✣';
  background-image: linear-gradient(to right, transparent -50%, var(--color-gamma) 1000%);
  font-family: var(--monospace);
  font-size: var(--size-20-30);
  line-height: 1;
  text-align: center;
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  transform: translateY(-50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.copy {
  font-size: var(--size-20-24);
}

.copy > * + * {
  margin-block-start: 1.25em;
}

.copy a:has(img) {
  display: block;
}

.copy :is(p, li) {
  font-weight: 300;
}

.copy ul {
  list-style-type: circle;
}

.copy td {
  font-size: var(--size-16-20);
  font-weight: 300;
}

.copy hr {
  background-image: linear-gradient(to right, transparent -50%, var(--color-gamma) 500%), linear-gradient(to left, transparent -50%, var(--color-alpha) 500%);
  block-size: 1px;
  border: unset;
}

.page--branding .copy p:has(img) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--size-05-10);
}

.copy :is(ol, ul) {
  padding-inline-start: 1em;
  line-height: 2;
}

.copy small a {
  text-decoration-style: wavy;
}

.article-content :is(img, p video) {
  block-size: auto;
  inline-size: 100%;
  max-block-size: unset;
  box-shadow: 0 var(--size-05-10) var(--size-15-30) var(--color-gamma-op06);
}

.article-content :is(img, p video, pre[class*="language-"]) {
  margin-block-end: 1.25rem;
}

.article-content :is(img, pre[class*="language-"]) {
  margin-block-start: 2.5rem;
}

.article-content p video {
  margin-block-start: 1.25rem;
}

.article-content :is(p, li) code,
.article-content blockquote,
.note {
  background-position: center;
  background-repeat: repeat;
  background-size: 77px, 100%;
}

.article-content blockquote,
.note {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to right, transparent -50%, var(--color-gamma) 1000%);
  padding-inline: 2rem;
  margin-block-end: 1.25rem;
}

.article-content blockquote {
  margin-block-start: 2.5rem;
  padding-block: 2rem;
}

.note :is(p, ul, blockquote p) {
  margin-inline: var(--size-10-20);
}

.note :is(p, blockquote p) {
  font-weight: 300;
}

.copy blockquote p {
  font-size: var(--size-20-30);
}

.copy blockquote:before {
  inline-size: .3em;
}

.article-content :is(p code, li code, code[class*="language-"], pre[class*="language-"]) {
  font-family: var(--monospace);
  font-size: 0.875em;
  letter-spacing: -0.0125em;
}

.article-content :is(p, li) code {
  background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to right, transparent -50%, var(--color-alpha) 750%);
  font-weight: 600;
}

.article-content pre[class*="language-"] {
  background-color: transparent;
  background-image: linear-gradient(to right, var(--color-gamma) -100%, var(--color-dark) 500%);
  font-weight: 400;
}

.article-content code[class*="language-"]::selection,
.article-content code[class*="language-"] span::selection {
  background-color: var(--color-gamma);
}

.article-content :is(code[class*="language-"], pre[class*="language-"]) {
  line-height: 1.3;
}

.invalid-css pre[class*="language-"]:first-of-type {
  text-align: center;
  font-size: 125%;
}

.note {
  position: relative;
  padding-block: 3rem;
  margin-block-start: 3.75rem;
}

.note:before {
  content: "Note";
  background-color: var(--color-light);
  font-family: var(--cursive);
  font-size: var(--size-15-18);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 2rem;
  padding-inline: var(--size-10-20);
  border-radius: var(--size-10-20);
  transform: translateY(-50%);
}

.note[data-title]:before {
  content: attr(data-title);
}

.note ul {
  margin-block-start: var(--size-10-20);
}

.embed iframe {
  display: block;
  block-size: 100%;
  inline-size: 100%;
}

.table-wrapper {
  max-inline-size: calc(100dvw - var(--size-10-20) * 2 - var(--size-05-10) * 2 - var(--sb-size));
  overflow-x: auto;
}

.table-wrapper table {
  min-inline-size: 100%;
  border-collapse: collapse;
}

.table-wrapper :is(th, td) {
  text-align: left;
  padding-block: var(--size-05-10);
  padding-inline: var(--size-10-20);
  border: 1px solid var(--color-gamma-op06);
  min-inline-size: 30%;
}

.table-wrapper th {
  font-size: var(--size-20-24);
  font-weight: 400;
}

.tags {
  font-family: var(--rounded);
  font-size: var(--size-15-18);
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--size-30-60);
  row-gap: var(--size-03-06);
}

.tags p {
  text-align: center;
}

.article-footer__content {
  font-size: var(--size-15-18);
  font-weight: 300;
}

.article-footer__content ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--size-30-60);
  padding-inline-start: 1em;
  list-style-type: circle;
}

.article-footer__content li {
  margin-block: var(--size-03-06);
}

.contact {
  place-self: stretch;
}

.gallery {
  grid-column: 1 / -1;
  inline-size: 100%;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2px;
  text-align: center;
  list-style: none;
  padding: unset;
  margin-block-start: var(--size-10-20);
  margin-block-end: unset;
}

.gallery li {
  position: relative;
  transition: var(--timing200);
}

.gallery li:has([aria-expanded="true"]) p {
  transform: none;
  opacity: 1;
}

.gallery button {
  font-family: inherit;
  display: block;
  aspect-ratio: 1;
  inline-size: 100%;
  padding: unset;
  border: unset;
  border-radius: unset;
  overflow: hidden;
  cursor: pointer;
}

.gallery button:focus-visible {
  outline: var(--size-02-04) solid var(--color-beta);
}

.gallery p {
  color: var(--color-dark);
  font-size: var(--size-16-20);
  margin: unset;
}

.gallery__grid p {
  background-color: var(--color-light);
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  padding: var(--size-05-10);
  opacity: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: var(--timing100);
}

.gallery button:hover p {
  transform: none;
  opacity: 1;
}

.gallery img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.masonry {
  grid-column: 1 / -1;
  display: grid;
  gap: var(--size-10-20);
  place-self: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-10-20);
}

.column div {
  background-color: var(--color-alpha);
  color: var(--color-gamma);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--block-padding);
  padding-inline: var(--size-10-20);
  border-radius: var(--size-10-20);
}

@media screen and (width < 500px) {
  .header__nav {
    border-radius: var(--size-10-20);
  }

  .header__list--alpha {
    flex-direction: column;
    align-items: end;
    gap: var(--size-02-04);
    position: relative;
  }

  .header__item--alpha {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%);
  }

  .header__link--gamma {
    border-radius: var(--size-05-10);
  }

  .hero__avatar {
    max-inline-size: var(--size-60-100);
  }

  .article-footer {
    display: grid;
    row-gap: var(--size-20-40);
  }
}

@media screen and (width >= 500px) {
  .header__nav {
    border-radius: var(--size-60-120);
  }

  .header__list {
    align-items: center;
    gap: var(--size-10-20);
    margin-inline-end: var(--size-20-40);
  }

  .header__link--gamma {
    border-radius: var(--size-20-40);
  }

  .hero--testimonial {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .article-content > *,
  .article-footer > * {
    grid-column: 3;
  }

  .article-content blockquote,
  .article-content img:not(.center),
  .article-content p:has(img:not(.center)),
  .article-content p:has(video:not(.center)),
  .article-content p:has(iframe),
  .article-content iframe,
  .article-content:not(.invalid-css) pre[class*="language-"],
  .article-content .note,
  .article-content .embed {
    grid-column: 2 / -2;
  }

  .article-content p:has(img:is(.center.space)) {
    padding-inline: var(--size-50-100);
  }
}

@media screen and (500px <= width < 600px) {
  .header__link--alpha {
    padding-inline-end: unset;
  }

  .header__link--alpha span {
    display: none;
  }
}

@media screen and (500px <= width < 1000px) {
  .page--home .hero:has(.hero__image) {
    grid-template-columns: 1fr clamp(10rem, calc(-10rem + 64vw), 20rem);
    column-gap: var(--size-20-30);
  }

  .hero > div:not(.hero__image) {
    grid-column: 1;
  }

  .hero > .hero__image {
    grid-column: 2;
    grid-row: 1 / span 5;
  }
}

@media screen and (500px <= width < 1000px) {
  .article-content,
  .article-footer {
    display: grid;
    grid-template-columns: 1fr 2fr min(90vw, var(--main)) 2fr 1fr;
  }
}

@media screen and (width < 1000px) {
  .wrapper {
    grid-template-areas:
      "header"
      "main"
      "sidebar";
  }

  .hero__image {
    margin-block-start: var(--size-10-20);
  }

  .page--home .hero__image {
    border-radius: var(--size-20-24);
  }

  .hero__image svg {
    max-inline-size: min(var(--max-inline-size), 100%);
  }

  .hero__title {
    letter-spacing: -0.02em;
  }

  .page--portfolio-item .hero {
    padding-block-end: unset;
  }

  .banner__form {
    max-inline-size: max(20rem, 50%);
  }

  .article-header {
    margin-block-start: var(--size-30-60);
  }

  .article-content pre[class*="language-"] {
    box-sizing: border-box;
    max-inline-size: calc(100dvw - var(--sb-size) - var(--size-30-60));
  }

  .article-footer {
    padding-inline: var(--size-10-20);
  }

  .footer {
    flex-direction: column-reverse;
    margin-block-start: var(--size-20-40);
  }

  .footer__inner {
    place-items: start;
  }

  .footer__content {
    flex-direction: column;
  }

  .masonry {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media screen and (width >= 1000px) {
  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: 900;
  }

  .wrapper {
    grid-template-columns: 1fr var(--sidebar);
    grid-template-areas:
      "header header"
      "main sidebar";
  }

  .main {
    grid-template-columns: min(90vw, var(--main)) 1fr;
    padding: var(--size-30-60);
    position: relative;
  }

  .main:before {
    content: '';
    background-repeat: repeat;
    background-size: 77px, 100%;
    background-position: center;
    background-image: url(/gfx/webp/sb-light.webp), linear-gradient(135deg, var(--color-alpha), var(--color-light) min(5%, 20dvmax), var(--color-light) max(95%, calc(100% - 20dvmax)), var(--color-gamma) 100%);
    position: absolute;
    inset: 0;
    margin: calc(var(--size-05-10) * -1);
    border-radius: inherit;
    z-index: -1;
  }

  body:not(.page--portfolio-item) .hero:has(.hero__image) {
    grid-template-columns: min(90vw, var(--main)) 1fr;
    align-items: center;
    column-gap: var(--size-50-100);
  }

  body:not(.page--portfolio-item) .hero__image {
    grid-column: 2;
    grid-row-start: 1;
  }

  body:not(.page--portfolio-item) .hero__image:nth-child(3) {
    grid-row: 1 / span 2;
  }

  body:not(.page--portfolio-item) .hero__image:nth-child(3) {
    grid-row: 1 / span 3;
  }

  body:not(.page--portfolio-item) .hero__image:nth-child(4) {
    grid-row: 1 / span 4;
  }

  body:not(.page--portfolio-item) .hero__image:nth-child(5) {
    grid-row: 1 / span 5;
  }

  .article-content,
  .article-footer {
    display: grid;
    grid-template-columns: 3fr 2fr min(90vw, var(--main)) 2fr 3fr;
  }

  .box__grid--beta {
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  }

  .banner.sticky {
    position: sticky;
    inset-block-start: var(--size-20-40);
    grid-column: 2;
  }

  .banner:not(.sticky) {
    grid-column: 1;
  }

  .footer__inner {
    background-repeat: repeat;
    background-size: 77px, 100%;
    background-position: center;
    background-image: url(/gfx/webp/sb-light.webp), linear-gradient(to bottom, transparent 5%, var(--color-gamma) 500%);
    border-radius: 0 0 var(--size-60-120) var(--size-60-120);
    position: sticky;
    padding-block-start: var(--size-10-20);
    inset-block-end: var(--size-10-20);
  }

  .footer p {
    writing-mode: vertical-lr;
  }

  .footer__content {
    flex-direction: row-reverse;
  }

  .footer__social {
    justify-content: center;
  }

  .masonry {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
