/***
The new CSS reset - version 1.11.2 (last updated 15.11.2023)
GitHub page: https://github.com/elad2412/the-new-css-reset
***/

*:where(:not(html, iframe, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu,
summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(p, li) {
  text-wrap: pretty;
}

/*https://pqina.nl/blog/fix-google-mobile-usability-issues/*/

:where(body, iframe, pre, img, svg, video, canvas, select) {
  max-width: 100%;
  overflow: auto;
  word-break: break-word;
}

:root {
  --bp: 60.2ch;
  --bp1: 600px;
  --bp2: 1200px;
  --bp3: 1600px;
  --color-alpha: #63f2c5;
  --color-alpha-hover: #34efb4;
  --color-alpha-dark: #0a7f5a;
  --color-alpha-darker: #075039;
  --color-alpha-darkest: #032117;
  --color-alpha-light: #92f6d7;
  --color-alpha-lighter: rgba(99, 242, 197, 0.1875);
  --color-alpha-lightest: rgba(99, 242, 197, 0.05);
  --color-beta: #ff3366;
  --color-beta-light: #ff668c;
  --color-beta-lightest: #ffebf0;
  --color-beta-darker: #aa1339;
  --color-light: #f6fefb;
  --color-lightish: #ecfdf8;
  --color-lighter: #e3fdf4;
  --color-dark: #021811;
  --color-darkish: #042f21;
  --color-xmas-alpha: #f6eeee;
  --color-xmas-beta: #d82822;
  --color-xmas-gamma: #649666;
  --font-alpha: Inter, Roboto, Helvetica Neue, Arial Nova, Nimbus Sans, Arial, sans-serif;
  --font-beta: Charter, Bitstream Charter, Sitka Text, Cambria, serif;
  --font-gamma: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  --step-5: clamp(1.802rem, 3vw, 3.11rem);
  --step-4: clamp(1.602rem, 3vw, 2.5925rem);
  --step-3: clamp(1.424rem, 3vw, 2.16rem);
  --step-2: clamp(1.266rem, 3vw, 1.8rem);
  --step-1: clamp(1.125rem, 3vw, 1.5rem);
  --step-0: clamp(1rem, 3vw, 1.25rem);
  --step--1: clamp(0.889rem, 3vw, 1.04125rem);
  --step--2: clamp(0.79rem, 3vw, 0.8675rem);
  --line-height1: 1.3;
  --line-height2: 1.6;
  --letter-spacing-alpha: 0.0075em;
  --letter-spacing-beta: 0.015em;
  --letter-spacing-gamma: 0.125em;
  --space: 0.8rem;
  --border-radius: 0.25rem;
  --border-radius-alpha: 0.75rem;
  --duration: 0.3s;
  --duration2: 0.15s;
  --duration3: 0.6s;
  --duration4: 0.9s;
  --duration5: 1.8s;
  --delay: 0.15s;
  --cols: repeat(auto-fill, minmax(400px, 1fr));
  --gap: 1.6rem;
  --ggap: 4px;
  --angle: 0.5deg;
  --snap-height: 100vh;
  --snap-inline: 10px;
  --mask:
    radial-gradient(1.93rem at 50% 2.65rem, var(--color-dark) 99%, transparent 101%) calc(50% - 2rem) 0 / 4rem 51% repeat-x,
    radial-gradient(1.93rem at 50% -1.65rem, transparent 99%, var(--color-dark) 101%) 50% 1rem / 4rem calc(51% - 1rem) repeat-x,
    radial-gradient(1.93rem at 50% calc(100% - 2.65rem), var(--color-dark) 99%, transparent 101%) calc(50% - 2rem) 100% / 4rem 51% repeat-x,
    radial-gradient(1.93rem at 50% calc(100% + 1.65rem), transparent 99%, var(--color-dark) 101%) 50% calc(100% - 1rem) / 4rem calc(51% - 1rem) repeat-x;
  --mask-top:
    radial-gradient(1.93rem at 50% 2.65rem, var(--color-dark) 99%, transparent 101%) calc(50% - 2rem) 0 / 4rem 100%,
    radial-gradient(1.93rem at 50% -1.65rem, transparent 99%, var(--color-dark) 101%) 50% 1rem / 4rem 100% repeat-x;
  --mask-bottom:
    radial-gradient(1.93rem at 50% calc(100% - 2.65rem), var(--color-dark) 99%, transparent 101%) calc(50% - 2rem) 0 / 4rem 100%,
    radial-gradient(1.93rem at 50% calc(100% + 1.65rem), transparent 99%, var(--color-dark) 101%) 50% calc(100% - 1rem) / 4rem 100% repeat-x;
}

@media (max-width: 37.49em) {
  :root {
    --cols: repeat(auto-fill, 1fr);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --duration: .05s;
    --duration2: .05s;
    --duration3: 0s;
    --delay: .05s;
  }
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}

[class*="text-"] {
  color: var(--text-color);
}

.text-alpha {
  --text-color: var(--color-alpha);
}

.text-beta {
  --text-color: var(--color-beta);
}

.text-light {
  --text-color: var(--color-light);
}

.text-lightish {
  --text-color: var(--color-lightish);
}

.text-dark {
  --text-color: var(--color-dark);
}

.text-darkish {
  --text-color: var(--color-darkish);
}

[class*="bg-"] {
  background-color: var(--bg-color);
}

.bg-alpha {
  --bg-color: var(--color-alpha);
}

.bg-beta {
  --bg-color: var(--color-beta);
}

.bg-light {
  --bg-color: var(--color-light);
}

.bg-lightish {
  --bg-color: var(--color-lightish);
}

.bg-dark {
  --bg-color: var(--color-dark);
}

.bg-darkish {
  --bg-color: var(--color-darkish);
}

[class*="border-"]:not([class*="bottom-border"]):not([class*="top-border"]) {
  border: 1px solid var(--border-color);
}

.top-border {
  border-top: 1px solid var(--border-color);
}

.bottom-border {
  border-bottom: 1px solid var(--border-color);
}

.border-alpha {
  --border-color: var(--color-alpha);
}

.border-beta {
  --border-color: var(--color-beta);
}

.border-light {
  --border-color: var(--color-light);
}

.border-lightish {
  --border-color: var(--color-lightish);
}

.border-dark {
  --border-color: var(--color-dark);
}

.border-darkish {
  --border-color: var(--color-darkish);
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-color: var(--color-alpha) var(--color-alpha-lighter);
}

body::-webkit-scrollbar {
  width: var(--snap-inline);
  height: var(--snap-inline);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-alpha);
}

body::-webkit-scrollbar-track {
  background: var(--color-alpha-lighter);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.pic {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.pic img {
  width: 100%;
  border-radius: var(--border-radius);
}

.pic img:not([src]) {
  display: none;
}

.glow:hover,
.glow:focus {
  background-color: transparent;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.wrapper:not([class*="wrapper--"]) {
  max-width: calc(var(--bp) + 2rem);
}

@media (min-width: 75em) {
  .wrapper--alpha {
    max-width: calc(var(--bp2) + 2rem);
  }
}

@media (min-width: 100em) {
  .wrapper--alpha {
    max-width: calc(var(--bp3) + 2rem);
  }
}

@media (min-width: 75em) {
  .wrapper--beta {
    max-width: calc(var(--bp2) + 2rem);
  }
}

.wrapper--gamma {
  max-width: calc(var(--bp1) + 2rem);
}

.brad {
  border-radius: var(--border-radius);
}

.brad-alpha {
  border-radius: var(--border-radius-alpha);
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.oh {
  overflow: hidden;
}

.vh {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

hr:not([class*="hr"]) {
  background-color: currentColor;
  border: 0;
  height: 1px;
}

.copy hr,
hr[class*="hr"] {
  border: 0;
  max-height: 0;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.copy hr:before,
hr[class*="hr"]:before {
  content: " ★ ";
  font-size: var(--step--2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1rem 0 0 currentColor, 1rem 0 0 currentColor;
}

.copy hr {
  background-color: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.copy hr:before {
  color: inherit;
  opacity: 0.5;
}

.copy :is(ul, ol):not([class]) {
  list-style: initial;
}

.copy article > * + *,
article.list__item div > * + *,
article.list__item + article.list__item {
  margin-top: 1em;
}

h1 + section.list {
  margin-top: 1em;
}

a.block {
  display: block;
}

p:empty {
  display: none;
}

@media (min-width: 37.5em) {
  .hidden-lg {
    display: none;
  }
}

@media (max-width: 37.49em) {
  .hidden-sm {
    display: none;
  }
}

.tilt {
  transform: skewY(calc(var(--angle) * -1));
}

.tilt .tilt__inner {
  transform: skewY(var(--angle));
}

.avatar img {
  max-width: 70px;
}

.with-slash:before {
  content: "/";
  display: inline-block;
  line-height: 1;
  position: relative;
  top: -0.1em;
}

.w-auto {
  width: auto;
}

/* @link https://utopia.fyi/generator?c=300,16,1.2,1500,19,1.2,6,2, */
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-beta);
}

h1,
h2,
h3,
h4,
h5,
h6,
.balance {
  text-wrap: balance;
}

body,
.body-copy {
  font-family: var(--font-alpha);
}

body {
  line-height: var(--line-height2);
  letter-spacing: var(--letter-spacing-alpha);
}

header,
footer,
main {
  font-size: var(--step-0);
}

:root::-moz-selection {
  --color-light: #f6fefb;
  --color-dark: #021811;
}

:root::selection {
  --color-light: #f6fefb;
  --color-dark: #021811;
}

.dark::-moz-selection {
  --color-light: #021811;
  --color-dark: #f6fefb;
}

.dark::selection {
  --color-light: #021811;
  --color-dark: #f6fefb;
}

::-moz-selection {
  background-color: var(--color-dark);
  color: var(--color-light);
}

::selection {
  background-color: var(--color-dark);
  color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  line-height: var(--line-height1);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

[class*="fz-step-"] {
  font-size: var(--font-size);
}

[class*="fz-step--3"] {
  --font-size: var(--step--3);
}

[class*="fz-step--2"] {
  --font-size: var(--step--2);
}

[class*="fz-step--1"] {
  --font-size: var(--step--1);
}

[class*="fz-step-0"] {
  --font-size: var(--step-0);
}

[class*="fz-step-1"] {
  --font-size: var(--step-1);
}

[class*="fz-step-2"] {
  --font-size: var(--step-2);
}

[class*="fz-step-3"] {
  --font-size: var(--step-3);
}

[class*="fz-step-4"] {
  --font-size: var(--step-4);
}

[class*="fz-step-5"] {
  --font-size: var(--step-5);
}

[class*="fz-step-6"] {
  --font-size: var(--step-6);
}

blockquote {
  font-family: var(--font-beta);
  font-style: oblique;
  padding: 0;
  margin: 0;
}

.fs-italic {
  font-style: italic;
}

.fs-normal {
  font-style: normal;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: 900;
  letter-spacing: var(--letter-spacing-beta);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.tdn {
  text-decoration: none;
}

.tdu {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.25em;
}

.ffss {
  font-family: var(--font-alpha);
}

.ffs {
  font-family: var(--font-beta);
}

.ffm {
  font-family: var(--font-gamma);
}

.padding {
  padding: var(--space);
}

.padding-top-alpha {
  padding-top: calc(var(--space) * 2);
}

@media (min-width: 37.5em) {
  .padding-top-alpha {
    padding-top: calc(var(--space) * 3);
  }
}

.padding-bottom-alpha {
  padding-bottom: calc(var(--space) * 2);
}

@media (min-width: 37.5em) {
  .padding-bottom-alpha {
    padding-bottom: calc(var(--space) * 3);
  }
}

.margin {
  margin: var(--space);
}

.margin-top {
  margin-top: var(--space);
}

.margin-bottom {
  margin-bottom: var(--space);
}

.margin-top-alpha {
  margin-top: calc(var(--space) * 2);
}

@media (min-width: 37.5em) {
  .margin-top-alpha {
    margin-top: calc(var(--space) * 3);
  }
}

.margin-bottom-alpha {
  margin-bottom: calc(var(--space) * 2);
}

@media (min-width: 37.5em) {
  .margin-bottom-alpha {
    margin-bottom: calc(var(--space) * 3);
  }
}

.margin-top-beta {
  margin-top: calc(var(--space) * 2);
}

@media (min-width: 37.5em) {
  .margin-top-beta {
    margin-top: calc(var(--space) * 5);
  }
}

.margin-bottom-beta {
  margin-bottom: calc(var(--space) * 2);
}

@media (min-width: 37.5em) {
  .margin-bottom-beta {
    margin-bottom: calc(var(--space) * 5);
  }
}

.margin-left {
  margin-left: var(--space);
}

.margin-right {
  margin-right: var(--space);
}

.margin-auto {
  margin: auto;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-margin {
  margin: 0;
}

.dark {
  --color-alpha: #0a7f5a;
  --color-alpha-hover: #075039;
  --color-alpha-light: #075039;
  --color-alpha-lighter: #032117;
  --color-beta: #e61a4d;
  --color-beta-light: #aa1339;
  --color-beta-lightest: #4e091a;
  --color-beta-darker: #ff668c;
  --color-beta-darkest: #ffebf0;
  --color-light: #021811;
  --color-lightish: #042f21;
  --color-dark: #f6fefb;
  --color-darkish: #ecfdf8;
  --color-xmas-alpha: #042f21;
  --color-xmas-beta: #e86d69;
  --color-xmas-gamma: #97ba98;
  --c1: #042f21;
  --c2: #021811;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark img {
  filter: brightness(0.8) contrast(1.2);
}

a {
  display: inline-flex;
  color: currentColor;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: var(--border-radius);
}

a:not(.button):hover,
a:not(.button):focus {
  box-shadow: 0 0 0 0.15rem var(--color-alpha-hover);
  z-index: 2;
}

a:not(.button):focus,
a:not(.button):active {
  box-shadow: 0 0 0 0.15rem var(--color-alpha-hover) inset, 0 0 0 0.15rem var(--color-dark);
  z-index: 1;
}

a:not(.button):hover,
a:not(.button):focus,
a:not(.button):active {
  text-decoration: none;
}

a:not(.button):not(.glow):hover,
a:not(.button):not(.glow):focus {
  background-color: var(--color-alpha-hover);
}

.copy a:not([class]) {
  color: var(--color-beta-darker);
  text-decoration: underline;
  text-decoration-color: var(--color-beta-dark);
  text-decoration-thickness: from-font;
  text-underline-offset: 0.25em;
  display: inline;
  word-break: break-word;
}

.copy a:not([class]):hover,
.copy a:not([class]):focus {
  box-shadow: 0 0 0 0.15rem var(--color-beta-light);
}

.copy a:not([class]):focus,
.copy a:not([class]):active {
  box-shadow: 0 0 0 0.15rem var(--color-beta-light) inset, 0 0 0 0.15rem var(--color-dark);
}

.copy a:not([class]):hover,
.copy a:not([class]):focus,
.copy a:not([class]):active {
  color: var(--color-dark);
  background-color: var(--color-beta-light);
  text-decoration-color: var(--color-beta-light);
}

.copy a:hover,
.copy a:focus,
.copy a:active {
  text-decoration: none;
}

.link-block {
  display: inline-block;
}

.link-block .pic {
  display: block;
}

ul,
ol {
  padding-left: 1.25em;
  margin-left: 0;
  margin-right: 0;
  list-style-position: outside;
}

ul ul,
ul ol,
ol ul,
ol ol {
  font-size: .9em;
}

.list-inside {
  list-style-position: inside;
}

.list-inside ul,
.list-inside ol {
  list-style-position: inside;
}

.list-style-none {
  padding-left: 0;
  list-style: none;
}

.list-style-none ul,
.list-style-none ol {
  list-style: none;
}

.button {
  background-color: var(--color-alpha);
  color: var(--color-dark);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--step-0);
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: var(--letter-spacing-beta);
  text-transform: uppercase;
  min-height: 3em;
  padding: .25em 2em;
  border: none;
  border-radius: var(--border-radius);
  outline: .3rem solid transparent;
  position: relative;
}

.button:not(.df):not(.db) {
  display: inline-flex;
  margin: .3em;
  border-radius: var(--border-radius);
}

.button[href] {
  text-decoration: none;
}

.button[href],
.button[type] {
  cursor: pointer;
}

.button[href]:hover,
.button[href]:focus,
.button[href]:active,
.button[type]:hover,
.button[type]:focus,
.button[type]:active {
  outline-offset: 0;
}

.button[href]:hover,
.button[type]:hover {
  outline: 0.15rem solid var(--color-alpha-dark);
}

.button[href]:focus,
.button[href]:active,
.button[type]:focus,
.button[type]:active {
  outline: 0.15rem inset var(--color-dark);
  outline-offset: 0;
}

.button[href]:active,
.button[type]:active {
  transform: translateY(1px);
}

.button--small {
  font-size: var(--step--1);
  line-height: 1.1;
  padding: .25em .5em;
  min-height: 1.75em;
}

@media (max-width: 37.49em) {
  .button--small {
    padding: .75em;
  }
}

.button--inverse {
  background-color: var(--color-dark);
  color: var(--color-light);
  outline-offset: .1rem;
}

.button--inverse[href],
.button--inverse[type] {
  cursor: pointer;
}

.button--inverse[href]:hover,
.button--inverse[href]:focus,
.button--inverse[href]:active,
.button--inverse[type]:hover,
.button--inverse[type]:focus,
.button--inverse[type]:active {
  outline-offset: .15rem;
}

.button--inverse[href]:focus,
.button--inverse[href]:active,
.button--inverse[type]:focus,
.button--inverse[type]:active {
  outline-color: var(--color-alpha-dark);
}

.button--outline {
  background-color: transparent;
  border: .15rem solid currentColor;
}

.button--outline.button--inverse {
  border-color: var(--color-alpha);
  color: var(--color-dark);
}

.button--outline.button--inverse:hover,
.button--outline.button--inverse:focus,
.button--outline.button--inverse:active {
  outline-offset: 0;
}

.button--outline[href]:hover,
.button--outline[type]:hover {
  border-color: var(--color-alpha-dark);
}

.button--outline[href]:focus,
.button--outline[href]:active,
.button--outline[type]:focus,
.button--outline[type]:active {
  border-color: currentColor;
}

.button--invisible {
  background-color: transparent;
  box-shadow: none;
}

.button--toggle {
  position: fixed;
  right: var(--space);
  bottom: var(--space);
  font-size: var(--step--2);
  min-height: 3.5em;
  min-width: 3.5em;
  padding: 0;
  z-index: 3;
}

.button--toggle:not(.df):not(.db) {
  border-radius: 50%;
}

html:not(.dark) .button--toggle span:last-of-type {
  display: none;
}

html.dark .button--toggle span:first-of-type {
  display: none;
}

.button--menu {
  min-width: 5em;
}

@media (min-width: 37.5em) {
  .button--menu:not(.df):not(.db) {
    display: none;
  }
}

@media (max-width: 37.49em) {
  .button--menu:not(.df):not(.db) {
    position: absolute;
    top: calc((var(--space) * 4 + 55px) / 2);
    right: var(--space);
    transform: translateY(-50%);
    z-index: 1;
  }

  nav.active .button--menu:not(.df):not(.db) span:first-child {
    display: none;
  }

  nav:not(.active) .button--menu:not(.df):not(.db) span:last-child {
    display: none;
  }
}

.input {
  background-color: var(--color-light);
  background-size: 100%;
  color: currentColor;
  font-weight: normal;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.66;
  letter-spacing: var(--letter-spacing-beta);
  min-height: 2.75em;
  padding: .25em .5em;
  border: .1em solid currentColor;
  border-radius: var(--border-radius);
  outline: none;
  width: 100%;
  cursor: pointer;
}

.input:hover,
.input:focus,
.input:active {
  border-color: var(--color-alpha);
}

.input:focus,
.input:active {
  box-shadow: 0 0 0 .15rem currentColor;
}

form:not(.newsletter) .button {
  position: relative;
  left: -0.2em;
}

.skip-link {
  position: fixed;
  top: .25rem;
  right: .25rem;
  left: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.skip-link:not(:focus) {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
  z-index: -1;
}

header nav,
footer nav {
  position: relative;
}

header nav a,
footer nav a {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: var(--step--2);
  letter-spacing: var(--letter-spacing-beta);
}

header nav>ul,
footer nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav>ul ul,
footer nav>ul ul {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.inner>header {
  background-color: var(--color-lightish);
  padding-bottom: calc(var(--space) * 2.5);
  -webkit-mask: var(--mask-bottom);
  mask: var(--mask-bottom);
}

.inner>footer {
  background-color: var(--color-lightish);
  padding-top: calc(var(--space) * 2.5);
  -webkit-mask: var(--mask-top);
  mask: var(--mask-top);
}

@media (max-width: 37.49em) {
  header nav {
    text-align: center;
  }

  header nav img {
    max-height: 55px;
  }

  header nav a:not([class]) {
    padding-top: .35em;
    padding-bottom: .35em;
  }

  header nav>ul {
    flex-wrap: wrap;
  }

  header nav>ul>li:first-child {
    flex: 1 1 100%;
  }

  header nav>ul>li:first-child img {
    margin: auto;
  }

  header nav>ul>li:not(:first-child) {
    flex: 1 0 150px;
  }

  header nav:not(.active)>ul>li:not(:first-child) {
    display: none;
  }
}

@media (max-width: 37.49em) {
  footer nav ul {
    flex-wrap: wrap;
  }

  footer nav a {
    padding-top: .35em;
    padding-bottom: .35em;
  }
}

.hero a:not([class]) {
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.25em;
}

.hero--fancy {
  padding-top: calc(var(--space) * 6.5);
  padding-bottom: calc(var(--space) * 6.5);
  margin-top: -2.5rem;
  background-color: var(--color-lightish);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.advent-banner {
  background-color: var(--color-xmas-alpha);
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: center;
}

.advent-banner p,
.advent-banner a {
  background-image: linear-gradient(to right, var(--color-xmas-beta), var(--color-xmas-gamma));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advent-banner p {
  margin: 0;
}

.advent-banner a {
  padding: .1em;
  border: .3em solid transparent;
}

.advent-banner a:not(.button):hover,
.advent-banner a:not(.button):focus,
.advent-banner a:not(.button):active {
  background-color: transparent;
  box-shadow: none;
  border-top-color: var(--color-xmas-gamma);
  border-bottom-color: var(--color-xmas-beta);
}

.card--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: var(--border-radius-alpha);
}

.card blockquote {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card blockquote main {
  flex: 1 1 100%;
}

.card blockquote footer {
  margin-top: auto;
}

.card--flex {
  display: flex;
  flex-direction: column;
}

.card--flex > :last-child:not(:only-child) {
  margin-top: auto;
}

.grid {
  display: grid;
  grid-template-columns: var(--cols);
  grid-gap: var(--gap);
}

@media (min-width: 37.5em) {
  .grid {
    --cols: repeat(auto-fit, minmax(400px, 1fr));
  }

  .grid>*:only-child {
    max-width: 33.33%;
  }
}

.copy > :first-child {
  margin-top: 0;
}

.copy > :not(:last-child) {
  margin-bottom: 1em;
}

.copy .note code,
.copy p code,
.copy li code {
  background-color: var(--color-alpha-lighter);
  font-size: .9em;
  font-weight: normal;
  line-height: calc(var(--line-height2) * 1.111);
  border-radius: var(--border-radius);
  margin-right: .2em;
  margin-left: .2em;
  box-shadow: 0 0 0.2em 0.2rem var(--color-alpha-lighter);
}

.copy .note img,
.copy p img,
.copy li img {
  margin-right: auto;
  margin-left: auto;
}

.copy .pic,
.copy .piclink {
  border-radius: var(--border-radius-alpha);
}

.copy .pic {
  border: 0.125rem solid var(--color-alpha-light);
  overflow: hidden;
}

.copy pre[class*="language-"] {
  border-radius: var(--border-radius);
}

.copy pre code {
  font-size: .9em;
}

.copy pre[class*="language-txt"],
.copy code[class*="language-txt"] {
  white-space: inherit;
}

.copy blockquote {
  background-color: var(--color-alpha-lighter);
  font-size: var(--step-1);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-alpha);
  position: relative;
}

.copy blockquote:after {
  content: "Quote";
  background-color: var(--color-alpha-light);
  color: var(--color-dark);
  font-family: var(--font-alpha);
  font-size: var(--step--2);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-gamma);
  text-transform: uppercase;
  position: absolute;
  right: 1.5rem;
  top: 0;
  padding: .25rem .75rem;
  border-radius: var(--border-radius-alpha);
  transform: translateY(-50%);
}

.copy table {
  border-collapse: collapse;
  font-size: var(--step--2);
  min-width: 100%;
}

@media (min-width: 37.5em) {
  .copy table {
    width: 100%;
    table-layout: fixed;
  }
}

.copy table thead {
  background-color: var(--color-alpha-lighter);
}

.copy table thead:first-child tr:first-child td,
.copy table thead:first-child tr:first-child th {
  border-top: none;
}

.copy table tbody:last-child tr:last-child td,
.copy table tbody:last-child tr:last-child th {
  border-bottom: none;
}

.copy table td:first-child,
.copy table th:first-child {
  border-left: none;
}

.copy table td:last-child,
.copy table th:last-child {
  border-right: none;
}

.copy table th {
  font-family: var(--font-beta);
  font-size: var(--step-0);
  font-weight: bold;
  letter-spacing: var(--letter-spacing-beta);
}

.copy table th,
.copy table td {
  padding: .25rem .5rem;
  border: 0.125rem solid var(--color-alpha-light);
  text-align: left;
}

.copy video {
  max-width: 100%;
  height: auto;
}

.copy p ~ iframe {
  border: 0.125rem solid var(--color-alpha-light);
}

.copy iframe {
  display: block;
  background-color: var(--color-lightish);
  border-radius: var(--border-radius-alpha);
  max-width: 100%;
}

.copy a.block:only-child {
  display: block;
}

.copy a:hover code,
.copy a:focus code,
.copy a:active code {
  background-color: transparent;
}

.copy .button {
  position: relative;
  left: -0.2em;
}

.grid .copy p {
  word-break: break-word;
}

.embed {
  overflow: hidden;
  margin: 1em 0;
  box-shadow: 0 0 0 0.125rem var(--color-alpha-light);
  border-radius: var(--border-radius-alpha);
}

.copy--invalid {
  font-family: var(--font-gamma);
  background-color: var(--color-alpha-lighter);
  font-size: var(--step-2);
  border-radius: var(--border-radius-alpha);
  padding: 4rem 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
}

.copy--invalid:after {
  content: "Invalid CSS";
  background-color: var(--color-alpha-light);
  color: var(--color-dark);
  font-family: var(--font-alpha);
  font-size: var(--step--2);
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-gamma);
  text-transform: uppercase;
  position: absolute;
  right: 1.5rem;
  top: 0;
  padding: .25rem .75rem;
  border-radius: var(--border-radius-alpha);
  transform: translateY(-50%);
}

.note {
  box-sizing: border-box;
  background-color: var(--color-alpha-lighter);
  font-family: var(--font-beta);
  font-size: var(--step-1);
  font-style: oblique;
  border-radius: var(--border-radius-alpha);
  padding: 1.5rem 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.note:before {
  content: "Note";
  background-color: var(--color-alpha-light);
  color: var(--color-dark);
  font-family: var(--font-alpha);
  font-size: var(--step--2);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-gamma);
  text-transform: uppercase;
  position: absolute;
  right: 1.5rem;
  top: 0;
  padding: .25rem .75rem;
  border-radius: var(--border-radius-alpha);
  transform: translateY(-50%);
}

.note[data-title]:before {
  content: attr(data-title);
}

.note[data-title*="important"i],
.note[data-title*="danger"i] {
  background-color: var(--color-beta-lightest);
}

.note[data-title*="important"i]:before,
.note[data-title*="danger"i]:before {
  background-color: var(--color-beta-light);
}

.note[data-title*="sponsor"i],
.note[data-title*="promoted"i] {
  background-color: var(--color-alpha-lightest);
  border: 1px solid var(--color-alpha-lighter);
}

.note[data-title*="sponsor"i]:before,
.note[data-title*="promoted"i]:before {
  background-color: var(--color-lighter);
}

.note[data-title*="404"] {
  background-color: var(--color-alpha-lightest);
  color: var(--color-darkish);
  cursor: no-drop;
}

.note[data-title*="404"]:before {
  background-color: var(--color-alpha-lighter);
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
  border-radius: var(--border-radius-alpha);
  border: 0.125rem solid var(--color-alpha-light);
}

@media (max-width: 37.49em) {
  .newsletter p {
    text-align: center;
  }
}

.newsletter__input {
  position: relative;
}

.newsletter__input .input {
  padding-right: 9rem;
}

@media (max-width: 37.49em) {
  .newsletter__input .input {
    font-size: var(--step-0);
    margin-bottom: .25em;
  }
}

.newsletter__input .button:not(.df):not(.db) {
  margin: 0;
}

@media (max-width: 37.49em) {
  .newsletter__input .button {
    width: 100%;
  }
}

@media (min-width: 37.5em) {
  .newsletter__input .button {
    font-size: var(--step-0);
    position: absolute;
    right: -0.1em;
    top: -0.1em;
    bottom: -0.1em;
    border: .25rem solid transparent;
  }
}

.pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-left: .25rem;
  margin-right: .25rem;
}

.pagination a {
  min-width: 10rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--ggap);
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery:not(.is-zoomed) button:focus {
  outline: 2px solid var(--color-alpha);
  outline-offset: 1px;
}

@media (min-width: 37.5em) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.gallery li {
  position: relative;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transition-duration: var(--duration2);
  overflow: hidden;
}

.gallery li.is-zoomed {
  transition-duration: var(--duration);
}

.gallery li.is-zoomed button {
  outline: 2px solid var(--color-alpha);
  outline-offset: 1px;
}

.gallery li.is-zoomed p {
  transition-duration: var(--duration);
  transition-delay: var(--duration);
  transform: none;
  opacity: 1;
}

.is-zoomed .gallery li:not(.is-zoomed) {
  opacity: 0.3;
}

.gallery button {
  all: initial;
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.gallery button:focus {
  outline: none;
}

.gallery button:hover p {
  transition-duration: var(--duration);
  transform: none;
  opacity: 1;
}

.gallery p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: .25rem;
  margin: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%);
  transform-origin: bottom center;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transition-duration: var(--duration2);
}

.gallery img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.lastfm {
  font-size: var(--step--2);
  text-align: center;
  padding-left: var(--space);
  padding-right: var(--space);
}

.lastfm__tracks a {
  display: inline;
}

.lastfm__tracks a:not(:last-of-type) {
  margin-right: .5em;
}

.lastfm__tracks a:before {
  content: "♪";
  margin-right: .25em;
}

.uidev {
  --color-beta-lighter: #ff99b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.uidev .copy h1,
.uidev .copy h2,
.uidev .copy h3,
.uidev .copy h4,
.uidev .copy h5,
.uidev .copy h6 {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
}

.uidev .hero .copy p {
  margin-bottom: 1rem;
}

.uidev .hero .copy p+p {
  margin-top: 1rem;
}

.uidev .note {
  flex-direction: column;
  overflow: visible;
  min-width: 100%;
}

.hover-beta:not(.button):hover,
.hover-beta:not(.button):focus {
  box-shadow: 0 0 0 0.15rem var(--color-beta-lighter);
}

.hover-beta:not(.button):focus,
.hover-beta:not(.button):active {
  box-shadow: 0 0 0 0.15rem var(--color-beta-lighter) inset, 0 0 0 0.15rem var(--color-dark);
}

.hover-beta:not(.button):not(.glow):hover,
.hover-beta:not(.button):not(.glow):focus {
  background-color: var(--color-beta-lighter);
}

.margin-top-beta {
  margin-top: calc(var(--space) * 2);
}
