{% if cards5.list %}
  <section id="gallery" class="margin-top-beta margin-bottom-beta">
    <div class="wrapper wrapper--alpha">
      <div class="padding">
        <p>Click on the image to enlarge it. Use left and right arrows to browse the gallery. Use ESC to close larger picture.</p>
        <ul class="gallery js-favs" role=”list”>
          {% for item in cards5.list %}
            <li>
              <button aria-expanded="false">
                {% cldnry item.src item.title %}
                <p class="ffss fz-step-0">{{ item.title }}</p>
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}
