<div class="wrapper wrapper--alpha padding">
  <div class="grid js-css-masonry" style="--cols: repeat(3, 1fr)">
    <div class="column">
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 101</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 102</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 103</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 104</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 105</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 106</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 107</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 108</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 109</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 110</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 111</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 17.5dvh; margin-bottom: var(--gap);">
        <p>Masonry item 112</p>
      </div>
    </div>
    <div class="column">
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 201</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 202</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 203</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 204</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 205</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 206</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 207</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 208</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 209</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 210</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 211</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 25dvh; margin-bottom: var(--gap);">
        <p>Masonry item 212</p>
      </div>
    </div>
    <div class="column">
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 301</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 302</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 303</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 304</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 305</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 306</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 307</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 308</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 309</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 310</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 311</p>
      </div>
      <div class="card padding bg-alpha js-css-masonry-item" style="min-height: 33dvh; margin-bottom: var(--gap);">
        <p>Masonry item 312</p>
      </div>
    </div>
  </div>
</div>
