{% if sections %}
  <hr class="text-alpha hr">
{% endif %}
{% if tags %}
  {% assign firstTag = tags | first %}
  {% if firstTag == 'blog' or firstTag == 'advent' or firstTag == 'story' %}
    {% include _partials/_general/hero-gamma %}
    <hr class="text-alpha hr">
  {% endif %}
{% endif %}
<section class="wrapper margin-top-alpha margin-bottom-alpha">
  <div class="padding">
    {% if canonical and publication %}
      <div class="copy margin-bottom">
        <p class="fs-italic">This article was originally published at <a href="{{ canonical }}">{{ publication }}.</a></p>
      </div>
    {% endif %}
    <div class="copy">{{ content }}</div>
  </div>
</section>
{% if sections3 %}
  <hr class="text-alpha hr">
{% endif %}
{% if sections3 %}
  {% for section in sections3 %}
    {% include _partials/_general/sections %}
  {% endfor %}
{% endif %}
{% if tags %}
  {% if tags[0] == 'blog' or tags[0] == 'story' %}
    <hr class="text-alpha hr">
    {% include _partials/_general/banner-gamma %}
  {% endif %}
{% endif %}
{% if sections2 %}
  <hr class="text-alpha hr">
{% endif %}
