{%- if env.production and site.lastfm -%}
  <div class="lastfm wrapper wrapper--beta">
    <p class="no-margin">Latest Last.fm tracks:</p>
    <p class="lastfm__tracks js-lastfm no-margin"></p>
    <a class="tdu" href="https://www.last.fm/user/maliMirkec">♬ See the full Last.fm profile</a>
  </div>
{%- endif -%}
