.autograph {
  display: block;
  max-width: 200px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.autograph__path {
  opacity: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  .animated & {
    opacity: 1;
    animation-name: line;
  }
}

@keyframes line {
  100% {
    stroke-dashoffset: 0;
  }
}
