<section class="bg-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col-center t-center">
    <h2 class="fz-step-4 fw-black outside-b-0">Available for a new project.</h2>
    <p class="outside-b-0">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies.</p>
    <p class="outside-b-3"><a class="a" href="#services">See the full list of the services I provide.</a></p>
    <a class="button button--alpha outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<section class="lg-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col-center t-center">
    <h2 class="fz-step-4 fw-black outside-b-0">Available for a new project.</h2>
    <p class="outside-b-0">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies.</p>
    <p class="outside-b-3"><a class="a" href="#services">See the full list of the services I provide.</a></p>
    <a class="button button--alpha outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
