<section class="bg-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a a--alpha" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--alpha outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<section class="bg-beta inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a a--beta" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--beta outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<section class="lr-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--alpha outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<section class="lr-beta inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--beta outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<section class="rr-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--alpha outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<section class="rr-beta inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--beta outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
