<section class="lg-alpha inside-1">
  <div class="wrapper wrapper-bp2 df-center t-center">
    <p class="fz-step-0 outside-x-2">Did you know that I write <a href="#newsletter">UI Dev Newletter</a>?</p>
    <a class="button button--alpha button--sm outside-x-2" href="#submit">Subscribe here ⇢</a>
  </div>
</section>
<section class="lg-beta inside-1">
  <div class="wrapper wrapper-bp2 df-center t-center">
    <p class="fz-step-0 outside-x-2">Did you know that I write <a href="#newsletter">UI Dev Newletter</a>?</p>
    <a class="button button--beta button--sm outside-x-2" href="#submit">Subscribe here ⇢</a>
  </div>
</section>
