.banner {
  padding: .5rem;
  display: flex;
  flex-direction: column;

  .post-banner & {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  p {
    font-size: ms(-1);
    margin-top: 0;
    margin-right: 0.5em;

    // span {
    //   color: $color-psi;
    // }
  }

  span {
    display: block;
    color: inherit;
  }

  .btn {
    color: $color-gamma;
    padding: .125rem .5rem .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    background-color: $color-psi;
    border: 4px solid transparent;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($color-psi, 10%);
      color: $color-gamma;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:active {
      border-color: $color-gamma;
    }

    span {
      text-transform: uppercase;
      color: inherit;
      font-weight: bold;
    }

    span:nth-child(1) {
      font-family: $font-beta;
      @include ls(50);
    }

    span:nth-child(2) {
      font-family: $font-alpha;
      @include ls(25);
      font-size: ms(-2);
    }
  }

  @include mq($from: mobile) {
    align-items: center;
    flex-direction: row;

    p {
      margin-bottom: 0;
    }

    .btn {
      padding: .25rem .5rem;
      margin-left: auto;
    }
  }

  @include mq($from: tablet) {
    span {
      display: inline;
    }
  }

  @include mq($from: desktop) {
    p {
      font-size: ms(0);
    }

    .btn {
      padding: .75rem 1.5rem;
      margin-left: auto;

      span:nth-child(2) {
        margin-top: 0.25rem;
      }
    }
  }
}

.banner--alpha {
  border: 1px solid $color-alpha;

  .btn {
    border-color: lighten($color-alpha, 30%);

    &:hover,
    &:focus {
      border-color: $color-alpha;
    }

    &:active {
      border-color: $color-gamma;
    }
  }
}

.banner--beta {
  border: 1px solid $color-beta;

  .btn {
    border-color: lighten($color-beta, 30%);

    &:hover,
    &:focus {
      border-color: $color-beta;
    }

    &:active {
      border-color: $color-gamma;
    }
  }
}
