<div class="card dif-col-center lg-alpha-50 inside-3">
  <h1 class="fz-step-2 fw-black outside-y-2">
    <a href="#more">Page builders might not be a good idea</a>
  </h1>
  <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
  <div class="df-center outside-y-1">
    <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
    <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
    <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
  </div>
  <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
</div>
<div class="card dif-col-center lg-alpha inside-3">
  <h1 class="fz-step-2 fw-black outside-y-2">
    <a href="#more">Page builders might not be a good idea</a>
  </h1>
  <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
  <div class="df-center outside-y-1">
    <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
    <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
    <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
  </div>
  <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
</div>
<div class="card dif-col-center lg-beta-50 inside-3">
  <h1 class="fz-step-2 fw-black outside-y-2">
    <a href="#more">Page builders might not be a good idea</a>
  </h1>
  <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
  <div class="df-center outside-y-1">
    <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
    <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
    <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
  </div>
  <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
</div>
<div class="card dif-col-center lg-beta inside-3">
  <h1 class="fz-step-2 fw-black outside-y-2">
    <a href="#more">Page builders might not be a good idea</a>
  </h1>
  <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
  <div class="df-center outside-y-1">
    <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
    <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
    <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
  </div>
  <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
</div>
