<div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
  <div class="outside-b-2">
    <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
  </div>
  <div class="df-center outside-y-1">
    <span class="button button--alpha button--sm outside-1">wordpress</span>
    <span class="button button--alpha button--sm outside-1">frontend</span>
    <span class="button button--alpha button--sm outside-1">shopify</span>
  </div>
  <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
</div>
<div class="card dif-col-center lg-alpha-50 inside-3">
  <div class="outside-b-2">
    <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
  </div>
  <div class="df-center outside-y-1">
    <span class="button button--alpha button--sm outside-1">wordpress</span>
    <span class="button button--alpha button--sm outside-1">frontend</span>
    <span class="button button--alpha button--sm outside-1">shopify</span>
  </div>
  <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
</div>
<div class="card dif-col-center lg-delta-50 lg-fat inside-3">
  <div class="outside-b-2">
    <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/480x240/ff85a3?text=CCI" alt="CCI Logo" width="480" height="240">
  </div>
  <div class="df-center outside-y-1">
    <span class="button button--beta button--sm outside-1">wordpress</span>
    <span class="button button--beta button--sm outside-1">frontend</span>
    <span class="button button--beta button--sm outside-1">shopify</span>
  </div>
  <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
</div>
<div class="card dif-col-center lg-beta-50 inside-3">
  <div class="outside-b-2">
    <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/480x240/ff85a3?text=CCI" alt="CCI Logo" width="480" height="240">
  </div>
  <div class="df-center outside-y-1">
    <span class="button button--beta button--sm outside-1">wordpress</span>
    <span class="button button--beta button--sm outside-1">frontend</span>
    <span class="button button--beta button--sm outside-1">shopify</span>
  </div>
  <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
</div>
