.cookies {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-size: ms(-2);
  line-height: 1;

  p {
    padding: 0 25px;
  }
}

.dismiss {
  border: 0;
  color: $color-beta;
  font-size: ms(2);
  line-height: 2rem;
}
