.cta {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: $color-omega;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 $color-delta;

  .post-cta & {
    background-color: $color-gamma;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .btn {
    color: $color-psi;
    padding: .275rem .5rem .5rem;
    line-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    background-color: $color-alpha;
    border-radius: 4px;
    transition: transform $tra #{$trd / 2};

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      box-shadow: 0 0 0 4px $color-psi inset;
    }

    &:active {
      transform: translateY(4px);
    }

    span {
      text-transform: uppercase;
      color: inherit;
      font-weight: bold;
    }

    span:nth-child(1) {
      font-family: $font-beta;
      font-size: ms(0);
      @include ls(50);
    }

    span:nth-child(2) {
      font-family: $font-alpha;
      font-size: ms(-1);
      @include ls(25);
    }
  }
}

.cta__content {
  padding: 10px;
  flex: 1 1 auto;
  font-size: ms(0);

  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5em;
  }

  span {
    display: block;
    color: inherit;
  }
}

.cta--beta {
  box-shadow: 0 4px 0 0 $color-epsilon;

  .btn {
    color: $color-omega;
    background-color: $color-beta;
  }
}

.cta--omega {
  @include bsh($color-beta);
  background-color: $color-omega;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  .cta__content {
    padding-left: 10px;
    font-size: ms(-1);
  }

  .btn {
    min-width: 150px;

    span:nth-child(1) {
      font-size: ms(-1);
    }

    span:nth-child(2) {
      font-size: ms(-2);
    }
  }

  @include mq($from: desktop) {
    max-width: 800px;

    p {
      font-size: ms(-1);
    }
  }
}

@include mq($from: mobile) {
  .cta {
    flex-direction: row;
    align-items: center;

    .btn {
      min-width: 170px;
    }
  }
}

@include mq($from: tablet) {
  .cta {
    .btn {
      min-width: 190px;
    }
  }
}

@include mq($from: desktop) {
  .cta {
    .btn {
      min-width: 210px;
    }
  }

  .cta__content {
    padding: 0 0 0 30px;
    font-size: ms(0);
  }
}
