// Footer
.footer {
  background-color: $color-beta;
  background-image: linear-gradient(to bottom, $color-beta, darken($color-beta, 5%));
  color: $color-omega;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.subnav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 10px 5px;
  list-style: none;

  @include mq($from: tablet) {
    padding: 0;
    justify-content: flex-start;
  }
}

.subnav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.05em;

  img {
    display: block;
    max-width: 30px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($color-beta, 5%);
    background-image: none;
  }

  @include mq($from: tablet) {
    padding: 17.5px 25px;
  }

  @include mq($from: desktop) {
    padding: 35px 25px;
  }
}

.copy {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 10px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.05em;

  @include mq($from: tablet) {
    padding: 17.5px 25px;
    margin-left: auto;
  }

  @include mq($from: desktop) {
    padding: 35px 25px;
  }
}
