.form {
  margin-top: 40px;

  .body--dark & {
    @include mixed-mode;
  }

  @media (prefers-color-scheme: dark) {
    @include mixed-mode;
  }

  * {
    box-sizing: border-box;
  }

  form {
    margin-bottom: 20px;
  }

  label {
    color: $color-chi;
    display: block;
    font-size: ms(0);

    &:not(:first-of-type) {
      margin-top: 10px;
    }

    small {
      margin-left: 0.5em;
    }
  }

  small {
    font-size: ms(-1);
    color: $color-chi;
  }

  input:not([type="checkbox"]):not([type="radio"]) {
    min-height: 50px;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    font-family: $font-alpha;
    border-radius: 4px;
    width: 100%;

    &[class*="is-danger"] {
      border: 1px dotted $color-beta;

      &:hover,
      &:focus,
      &:active {
        border-color: $color-beta;
      }

      &:focus,
      &:active {
        box-shadow: 0 0 0 3px $color-epsilon;
      }
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  button {
    font-size: ms(0);
    line-height: 2;
    padding: 5px 10px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    color: $color-chi;
    background-color: $color-gamma;
    border: 1px dotted $color-alpha;

    &:hover,
    &:focus,
    &:active {
      border-color: $color-psi;
      box-shadow: 0 0 0 3px $color-gamma;
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  button {
    width: 100%;
  }

  button {
    font-family: $font-beta;
    font-size: ms(-1);
    background-color: $color-alpha;
    color: $color-psi;
    min-height: 40px;
    border: none;
    text-transform: uppercase;
    @include ls(50);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-alpha;
    }
  }

  .kw-multistep {
    background-color: $color-gamma;
    color: $color-chi;
    border: 1px dotted $color-alpha;
    border-radius: 4px;
    overflow: hidden;
  }

  .kw-multistep-header,
  .kw-multistep-footer,
  .kw-multistep-body {
    color: $color-psi;
  }

  .kw-multistep-header,
  .kw-multistep-footer {
    font-size: ms(0);
    font-weight: 700;
    text-transform: uppercase;
    background-color: inherit;
    color: inherit;
    @include ls(50);
  }

  .kw-multistep-body {
    background-color: $color-omega;
    border-radius: 4px;
  }

  .kw-form-wrapper,
  .has-panels {
    display: flex;
    flex-direction: column-reverse;
  }

  .kw-field-wrapper:not(.kw-radio) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 24px;

    .help {
      color: $color-beta;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }
  }

  .kw-radio {
    display: flex;
    align-items: center;
    padding-top: 10px;

    input {
      margin-right: .5em;
    }
  }

  .kw-message-error.kw-message-error {
    border: 1px dotted $color-beta;
    background-color: $color-omega;
    color: $color-beta;
    border-radius: 4px;

    span {
      padding-bottom: 0;
    }
  }

  .kw-multistep-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      float: none;
      flex: 0 0 auto;
      width: auto;
      margin: 4px 0;
      padding: 2px 10px 4px;
      border-radius: 4px;
      min-width: 140px;

      &[disabled] {
        background-color: $color-epsilon;
        opacity: 0.5;
        cursor: no-drop;
      }

      @include mq($until: mobile) {
        width: 100%;
      }
    }
  }

  .kw-multistep-button-previous,
  .kw-multistep-button-next {
    background-color: $color-alpha;
    border: none;
  }

  .kw-multistep-button-previous,
  .kw-multistep-button-next,
  .kw-multistep-button-submit {
    font-size: ms(0);

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 4px $color-psi inset;
    }
  }

  .kw-multistep-clearfix {
    display: none;
  }

  .radio + .kw-field-wrapper {
    padding-bottom: 0;
  }
}


.desc {
  margin-top: 1em;
  margin-bottom: 1em;

  p {
    margin: 0;
  }
}

[v-cloak] {
  display: none;
}

.steps {
  display: block;
  max-width: 80px;
  margin: 20px auto;
}

.steps__path {
  stroke-dasharray: 1640;
  stroke-dashoffset: 1020;

  .step1 & {
    animation: step1 1s ease-in-out forwards;
  }

  .step2 & {
    animation: step2 1s ease-in-out forwards;
  }
}

@keyframes step1 {
  0% {
    stroke-dashoffset: -1020;
  }
  100% {
    stroke-dashoffset: 1020;
  }
}

@keyframes step2 {
  0% {
    stroke-dashoffset: 1020;
  }
  100% {
    stroke-dashoffset: -1020;
  }
}
