.form {
  margin-top: rem(40);

  * {
    box-sizing: border-box;
  }

  form {
    margin-bottom: rem(20);
  }

  label {
    display: block;
    font-size: ms(0);

    &:not(:first-of-type) {
      margin-top: rem(10);
    }
  }


  small {
    color: lighten($color-psi, 12.5%);
  }

  input:not([type="checkbox"]):not([type="radio"]),
  button {
    min-height: rem(70);
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    font-family: $font-alpha;
    background-color: lighten($color-alpha, 50%);
    width: 100%;

    &[class*="is-danger"] {
      border: rem(3) solid lighten($color-beta, 15%);
      background-color: lighten($color-beta, 50%);

      &:hover,
      &:focus,
      &:active {
        border: rem(3) solid $color-beta;
      }

      &:focus,
      &:active {
        outline: rem(3) solid $color-beta;
      }
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  button {
    font-size: ms(0);
    line-height: 2;
    padding: rem(10) rem(20);
    border: rem(3) solid lighten($color-alpha, 15%);

    &:hover,
    &:focus,
    &:active {
      border-color: $color-alpha;
    }

    &:focus,
    &:active {
      outline: rem(3) solid $color-alpha;
    }
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  button {
    width: 100%;
  }

  button {
    font-family: $font-beta;
    font-size: ms(0);
    background-color: lighten($color-alpha, 25%);
    color: $color-psi;
    margin-top: rem(20);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: lighten($color-alpha, 12.5%);
    }
  }

  .kw-form-wrapper,
  .has-panels {
    display: flex;
    flex-direction: column-reverse;
  }

  .kw-field-wrapper:not(.kw-radio) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: rem(24);

    .help {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }
  }

  .kw-radio {
    display: flex;
    align-items: center;
    padding-top: rem(10);

    input {
      margin-right: .5em;
    }
  }

  .kw-message-error {
    background-color: lighten($color-beta, 50%) !important;
    color: darken($color-beta, 10%) !important;
    border-radius: 0;

    span {
      padding-bottom: 0;
    }
  }

  .kw-multistep-footer {
    display: flex;
    justify-content: space-between;

    button {
      float: none;
      flex: 0 0 auto;
      width: auto;
      margin-top: 0;
      padding: rem(10) rem(20);
      min-height: rem(50);
      min-width: rem(130);

      &[disabled] {
        opacity: 0.6;
      }
    }
  }

  .kw-multistep-button-previous,
  .kw-multistep-button-next {
    background-color: darken($color-gamma, 12.5%);
    border-color: darken($color-gamma, 17.5%);

    &:hover,
    &:focus,
    &:active {
      background-color: lighten($color-alpha, 12.5%);
    }
  }

  .kw-multistep-clearfix {
    display: none;
  }

  .radio + .kw-field-wrapper {
    padding-bottom: 0;
  }
}


.desc {
  margin-top: 1em;
  margin-bottom: 1em;

  p {
    margin: 0;
  }
}

[v-cloak] {
  input,
  textarea {
    cursor: no-drop;
  }

  button {
    pointer-events: none;
  }
}
