// General
html {
  scroll-behavior: smooth;
}

html {
  max-width: 100vw;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: $color-psi;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

a {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:not(.btn),
  a:not([class*="link"]) {
    &:focus {
      box-shadow: 0 0 0 1px $color-beta inset, 0 0 0 1px $color-beta;
    }
  }
}

img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  margin: 50px auto;
  width: calc(100% - 50px);
  position: relative;
  display: grid;
  grid-template-areas: "title"
    "content";
  grid-template-columns: 100%;
  grid-gap: 25px;
  align-items: flex-start;
  font-size: ms(0);

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  > div {
    &:first-of-type {
      grid-area: content;
    }

    &.page-banner {
      grid-area: pbanner;
    }
  }

  @include mq($from: mobile) {
    padding: 0 0 50px;
    max-width: 1200px;
    grid-template-areas: "title"
      "content"
      "meta";
    grid-gap: 50px;
  }
}

.main--sidebar {
  grid-template-areas: "title"
  "content"
  "pbanner"
  "sidebar";

  @include mq($from: mobile) {
    grid-template-areas: "title"
    "pbanner"
    "content"
    "sidebar";
  }

  @include mq($from: tablet) {
    grid-template-areas: "title title"
      "content sidebar"
      "pbanner sidebar";
    grid-template-columns: 1fr 33vw;
  }

  @include mq($from: desktop) {
    grid-template-columns: 1fr 25vw;
    grid-row-gap: 50px;
  }
}

.main--post {
  max-width: 960px;
}

.main--archive,
.main--tag {
  grid-template-areas: "title"
  "content"
  "meta";
}

.profile {
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: linear-gradient(to right, transparent, $color-gamma, transparent);

  .article & {
    margin-bottom: 2em;
  }

  img {
    display: block;
    max-width: 100%;
    width: auto;
  }
}
