<div class="lg-alpha inside-2">
  <div class="wrapper wrapper-bp3 grid {{ modifier_class }}">
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
    <div class="lg-gamma-50 lg-fat inside-5"></div>
  </div>
</div>
