<header class="bgc2-beta-50 bgc2-fat inside-2">
  <nav>
    <ul class="df-col df-center list-reset header__list header__list--alpha">
      <li class="df-center">
        <a class="logo" href="#">
          <img src="/gfx/svg/logo.svg" alt="Logo">
        </a>
      </li>
      <li>
        <ul class="df-center list-reset header__list header__list--beta">
          <li>
            <ul class="df-col list-reset t-center">
              <li class="outside-x-2 fz-step-0">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#portfolio">Portfolio</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#side-projects">Side Projects</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#testimonials">Testimonials</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset t-center">
              <li class="outside-x-2 fz-step-0">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#blog">Blog</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#publications">Publications</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#ui-dev-newsletter">UI Dev Newsletter</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset t-center">
              <li class="outside-x-2 fz-step-0">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#about">About</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#contact">Contact</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="c-beta-dark-90 fw-bold inside-y-1 tdn" href="#services">Services</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
