// Header
//
// Markup: _header.html
//
// Weight: 2010
//
// Styleguide Header

.header__list--alpha {
  max-width: v(bp1);
  margin-left: auto;
  margin-right: auto;

  > li {
    flex: 1 1 100%;
    width: 100%;
  }
}

.header__list--beta {
  > li {
    flex: 1 1 33.33%;
    width: 33.33%;
  }

  a {
    white-space: nowrap;
  }
}
