// Header
.header {
  background-color: $color-psi;
  color: lighten($color-alpha, 20%);
  box-shadow: 0 -3px 0 0 $color-alpha inset;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;

  @include mq($from: tablet) {
    padding: 0;
    justify-content: flex-start;
  }
}

.nav__item {
  text-align: center;

  @include mq($from: tablet) {
    &:last-of-type {
      margin-left: auto;
    }
  }
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: top 4px center, bottom center;
  cursor: pointer;

  &.skip {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;

    &:focus {
      background-color: $color-beta;
      color: $color-omega;
      border-color: $color-beta;
      clip: auto;
      height: auto;
      width: auto;
    }
  }

  .nav__list--home .nav__item:nth-child(2) & {
    background-image: radial-gradient(circle at center, $color-alpha 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  }

  .nav__list--blog .nav__item:nth-child(3) & {
    background-image: radial-gradient(circle at center, $color-alpha 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  }

  .nav__list--portfolio .nav__item:nth-child(4) & {
    background-image: radial-gradient(circle at center, $color-alpha 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  }

  .nav__list--about-me .nav__item:nth-child(5) & {
    background-image: radial-gradient(circle at center, $color-alpha 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  }

  .nav__list--links .nav__item:nth-child(6) & {
    background-image: radial-gradient(circle at center, $color-alpha 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  }

  .nav__item:last-of-type & {
    color: lighten($color-beta, 25%);
  }

  &:hover,
  &:focus,
  &:active {
    background-color: darken($color-psi, 10%);
  }

  @include mq($from: tablet) {
    background-size: 20px 20px;
    padding: 17.5px 25px;
  }

  @include mq($from: desktop) {
    padding: 35px 50px;
    background-size: 30px 30px;
    background-position: top 15px center, bottom 2px center;
  }
}
