<section class="bg-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--alpha outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
<section class="lg-alpha inside-4">
  <div class="wrapper wrapper-bp2 df-col-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--alpha outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
