<section class="bgc2-alpha-50 bgc2-fat inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center tsh-alpha-light">
    <h1 class="fz-step-5 fw-black">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--alpha-50 outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
<section class="bgc2-alpha c-alpha-light-100 bgc2-fat inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center tsh-alpha-dark">
    <h1 class="fz-step-5 fw-black">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--alpha outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
<section class="bgc2-beta-50 bgc2-fat inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center tsh-beta-light">
    <h1 class="fz-step-5 fw-black">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--beta-50 outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
<section class="bgc2-beta c-alpha-light-100 bgc2-fat inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center tsh-beta-dark">
    <h1 class="fz-step-5 fw-black">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--beta outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
