<section class="lg-alpha-50 inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Blog</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">The latest posts from the blog.</h2>
  </div>
</section>
<section class="lg-alpha inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Blog</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">The latest posts from the blog.</h2>
  </div>
</section>
<section class="lg-beta-50 inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Blog</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">The latest posts from the blog.</h2>
  </div>
</section>
<section class="lg-beta inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Blog</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">The latest posts from the blog.</h2>
  </div>
</section>
