.highlight {
  margin: 2em 0;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 1em;
  background-color: $color-gamma;

  table {
    color: $color-beta;
    font-size: 0.875rem;
    line-height: 1.8;
  }

  .gutter {
    padding-right: 1em;
    color: lighten($color-psi, 50%);
  }
}

