// Main
.home {
  display: grid;
  grid-gap: 50px;
  grid-template-areas: "alpha"
    "beta"
    "epsilon"
    "gamma"
    "omega"
    "delta";

  h1,
  h2 {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 15%;
      max-width: 100px;
      height: 10px;
      background-color: lighten($color-alpha, 20%);
    }
  }

  h1 {
    font-size: ms(2);

    @include mq($from: tablet) {
      font-size: ms(4);
    }
  }

  h2 {
    font-size: ms(1);

    @include mq($from: tablet) {
      font-size: ms(3);
    }
  }

  @include mq($from: mobile) {
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    grid-template-areas: "alpha alpha"
      "beta beta"
      "delta epsilon"
      "gamma gamma"
      "omega omega";
  }
}

.home__box--alpha {
  grid-area: alpha;
}

.home__box--beta {
  grid-area: beta;
}

.home__box--gamma {
  grid-area: gamma;
}

.home__box--delta {
  grid-area: delta;
}

.home__box--epsilon {
  grid-area: epsilon;
}

.home__box--omega {
  grid-area: omega;
}
