// Main
.home {
  display: grid;
  grid-gap: 50px;
  grid-template-areas: "alpha"
    "beta"
    "banner1"
    "gamma"
    "delta"
    "epsilon"
    "banner2"
    "omega";

  h1,
  h2 {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 15%;
      max-width: 100px;
      height: 10px;
      background-color: lighten($color-alpha, 20%);
    }
  }

  h1 {
    font-size: ms(2);

    @include mq($from: tablet) {
      font-size: ms(4);
    }
  }

  h2 {
    font-size: ms(1);

    @include mq($from: tablet) {
      font-size: ms(3);
    }
  }

  @include mq($from: mobile) {
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    grid-template-areas: "alpha alpha"
      "banner1 banner1"
      "beta beta"
      "gamma delta"
      "epsilon epsilon"
      "banner2 banner2"
      "omega omega";
  }
}

.home__box--alpha {
  grid-area: alpha;
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas: "heading"
  "profile"
  "list";

  @include mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-template-areas: "heading heading"
      "profile list";
  }

  h1 {
    grid-area: heading;
  }

  h2 {
    font-family: $font-alpha, sans-serif;
    font-size: ms(1);
    font-weight: 400;
    margin-top: .5em;
    margin-bottom: 0;
  }

  .list {
    grid-area: list;
  }

  .profile {
    grid-area: profile;
  }
}

.home__box--beta {
  grid-area: beta;
}

.home__box--gamma {
  grid-area: gamma;
}

.home__box--delta {
  grid-area: delta;
}

.home__box--epsilon {
  grid-area: epsilon;
}

.home__box--omega {
  grid-area: omega;
}

.home__box--banner1 {
  grid-area: banner1;
}

.home__box--banner2 {
  grid-area: banner2;
}
