// Info
.info {
  color: $color-omega;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: ms(-1);
  order: 0;
  grid-area: info;

  p {
    margin-top: 0;
  }

  a {
    color: inherit;
  }

  @include mq($from: mobile) {
    position: absolute;
    top: 50px;
    right: 0;
    grid-area: none;
  }
}

.info__icon {
  background-color: $color-beta;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  width: 24px;
  height: 24px;
  box-shadow: 1px 1px 4px -1px $color-psi;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: right top;
  animation: highlight 1s linear alternate-reverse infinite;

  .info:hover & {
    display: none;
  }

  @include mq($from: mobile) {
    display: flex;
  }
}

.info__popup {
  color: $color-beta;
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @include mq($from: mobile) {
    padding: 15px;
    background-color: $color-beta;
    color: $color-omega;
    box-shadow: 0 2px 3px -1px $color-psi;
    display: none;
    width: 380px;

    .info:hover & {
      display: flex;
    }
  }
}

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.info__link {
  display: block;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  border: 1px solid $color-beta;

  @include mq($from: mobile) {
    border: 1px solid $color-omega;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($color-beta, 5%);
    color: $color-omega;
  }
}

@keyframes highlight {
  to {
    transform: scale(1.15);
    opacity: 0.8;
  }
}

