.body {
  background-color: $color-gamma;
}

.body--dark {
  @include dark-mode;

  @media (prefers-color-scheme: dark) {
    @include light-mode;
  }
}

.body--post {
  background-color: $color-omega;
}

.main {
  position: relative;
}

.main--home {
  margin-top: 0;
  grid-template-areas: "content";
}

.toggle {
  position: fixed;
  bottom: 0.875rem;
  right: 0.5rem;
  background-color: $color-gamma;
  color: $color-psi;
  border: 1px dotted $color-alpha;
  border-radius: 3px;
  font-size: ms(-1);
  font-weight: 700;
  margin-left: auto;
  padding: 0.25rem .5rem;
  z-index: 1;
  cursor: pointer;
}

.block__grid {
  display: grid;
  grid-gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;

  .main--sidebar & {
    margin-top: 20px;
    margin-bottom: 2px;
  }

  & + & {
    &:before {
      content: "";
      display: block;
      height: 1px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $color-delta;
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

.block__item {
  &:not(.block__item--omega) > h1 {
    margin-top: 40px;
  }

  > h2 {
    margin-top: 0;
  }

  > h1,
  > h2 {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 15%;
      max-width: 100px;
      height: 10px;
      background-color: $color-delta;
    }
  }

  > p {
    a {
      color: $color-beta;
    }
  }
}

.block__cta {
  grid-column-start: 1;
  grid-column-end: -1;
}

.profile {
  text-align: center;
}

.profile--alpha {
  margin-top: 4rem;
}

.profile__image {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;

  &:not([class*="--"]):after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-omega;
    border-radius: 4px 4px 0 0;
    z-index: -1;
  }
}

.profile__avatar {
  position: relative;
  max-width: 220px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 4px $color-delta;

  img {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 4px $color-delta;

    &:last-of-type:not(:only-of-type) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.95;
      transform: translateY(110%);
      transition: transform $tra $trd;
    }
  }

  &:hover {
    cursor: crosshair;

    img:last-of-type:not(:only-of-type) {
      transform: none;
    }
  }
}

.profile__content {
  background-color: $color-omega;
  padding: 10px 20px 20px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 0 0 $color-delta;
}

.profile__inner {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.profile__title {
  font-family: $font-beta;
  font-weight: 700;
  color: $color-beta;
  text-transform: uppercase;
  font-size: ms(1);
  margin-bottom: 0;
}

.profile__tagline {
  font-size: ms(-1);
  font-weight: 400;
  margin-top: 0;
}

.profile__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
  padding: 0;
}

.profile__list--alpha {
  justify-content: center;
}

.profile__list--beta {
  justify-content: space-between;
}

.profile__tag {
  border-radius: 3px;
  background-color: $color-delta;
  font-size: ms(-1);
  padding: 1px 8px 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.profile__positions {
  list-style: none;
  margin-top: 12px;
  margin-bottom: 36px;
  padding: 0;
}

.profile__position {
  font-family: $font-beta;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: .125em;

  h3 {
    margin: 0.5em;
  }
}

.profile__link {
  font-size: ms(-1);
  color: $color-beta;
}

.profile__href {
  &:after {
    content: "⇢";
    display: inline-block;
    margin-left: 3px;
  }

  &:hover,
  &:focus,
  &:active {
    &:after {
      animation-name: bounce;
      animation-duration: .5s;
      animation-timing-function: linear;
      transform-origin: center bottom;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    display: block;
  }
}

.card--alpha {
  text-align: left;
}

.card__image {
  position: relative;

  img {
    background-color: $color-delta;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }
}

.card__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: $color-omega;
  border-radius: 0 0 4px 4px;
  padding: 0 24px 24px;
  box-shadow: 0 4px 0 0 $color-delta;

  &:only-child {
    padding-top: 24px;
    align-items: center;
    justify-content: center;
  }
}

.card__title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.card__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.card__list--alpha {
  margin-top: 24px;
}

.card__list--beta {
  transform: translateY(-50%);
}

.card__tags {
  .card__content:not(:only-child) & {
    margin-top: auto;
  }
}

.card__tag {
  border-radius: 3px;
  background-color: $color-delta;
  font-size: ms(-1);
  padding: 1px 8px 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.card__detail {
  border-radius: 2px;
  background-color: $color-gamma;
  box-shadow: 0 2px 0 0 $color-delta;
  font-size: ms(-1);
  padding: 1px 8px 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.card__description {
  font-size: ms(-1);
  margin-bottom: 1rem;
}

.card__action {
  color: $color-beta;
  font-size: ms(-1);
  margin-top: 1rem;
  margin-right: auto;
}

.poster {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.poster__image {
  filter: drop-shadow(0 0 10px $color-gamma);

  &:hover,
  &:focus,
  &:active {
    filter: drop-shadow(0 0 10px $color-alpha);
  }

  a {
    display: block;
  }
}

.poster--alpha {
  filter: drop-shadow(0 0 10px $color-gamma);

  .poster__image {
    filter: none;

    img {
      display: block;
      border-radius: 4px 4px 0 0;
    }
  }

  .poster__content {
    background-color: $color-omega;
    border-radius: 0 0 4px 4px;
    padding: 20px;
  }

  .poster__action {
    margin-right: auto;
  }
}

.poster__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  &:only-child {
    align-items: center;
    justify-content: center;
  }
}

.poster__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.poster__description {
  font-size: ms(-1);
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.poster__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  padding: 0;
}

.poster__tag {
  border-radius: 3px;
  background-color: $color-delta;
  font-size: ms(-1);
  padding: 1px 8px 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.poster__action {
  color: $color-beta;
  font-size: ms(-1);
  margin-top: auto;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: $color-omega;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 $color-delta;
  font-size: ms(-1);
}

.quote__person {
  margin: 0;
}

.quote__text {
  flex: 1 1 auto;
  margin: 2rem 0;
  padding-left: 20px;
  border-left: 4px solid $color-delta;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.quote__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-beta;
}

.quote__logo {
  height: 30px;

  img {
    width: auto;
    margin: 0;
    max-width: 100px;
    max-height: 30px;

    .body--dark & {
      filter: invert(.75) contrast(2) grayscale(1);
    }

    @media (prefers-color-scheme: dark) {
      filter: invert(.75) contrast(2) grayscale(1);
    }
  }
}

@include mq($from: tablet) {
  .block__grid--alpha {
    grid-template-columns: repeat(2, 1fr);
  }

  .block__grid--beta {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile__content {
    padding: 20px 40px 40px;
  }
}

@include mq($from: desktop) {
  .block__grid {
    grid-gap: 80px;
    margin-top: 80px;
    margin-bottom: 80px;

    .main--sidebar & {
      margin-top: 40px;
      margin-bottom: 4px;
    }
  }

  .block__grid--alpha {
    grid-template-columns: repeat(3, 1fr);
  }

  .block__item {
    &:not(.block__item--omega) > h1 {
      margin-top: 110px;
    }
  }

  .block__item--beta {
    grid-column: span 2;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transform: translateX(0)
  }

  40%,
  43% {
    transform: translateX(2px)
  }

  70% {
    transform: translateX(-1px)
  }

  90% {
    transform: translateX(1px)
  }
}
