<div class="index">
  <div class="index__content">
    <h3 class="index__title">About</h3>
    <a class="index__link" href="/about-me/" title="About">
      <span class="index__phrase index__phrase--question">Silvestar</span> <span class="index__phrase index__phrase--answer">Bistrović</span><span class="index__phrase index__phrase--answer">, Croatia</span>
    </a>
  </div>
  <div class="index__content">
    <h3 class="index__title">Services</h3>
    <a class="index__link" href="/services/" title="Services">
      <span class="index__phrase index__phrase--question">Frontend</span><span class="index__phrase index__phrase--answer">, UI </span> <span class="index__phrase index__phrase--answer">and UX</span>
    </a>
  </div>
  <div class="index__content">
    <h3 class="index__title">Hire me</h3>
    <a class="index__link" href="/hire-me/" title="Hire me">
      <span class="index__phrase index__phrase--question">CiTA d.o.o.</span><span class="index__phrase index__phrase--answer">, Toptal</span><span class="index__phrase index__phrase--answer">, Freelance</span>
    </a>
  </div>
  <div class="index__content">
    <h3 class="index__title">Blog</h3>
    <a class="index__link" href="/categories/articles/" title="Blog">
      <span class="index__phrase index__phrase--question">Code</span><span class="index__phrase index__phrase--answer">, write</span><span class="index__phrase index__phrase--answer">, share</span>
    </a>
  </div>
</div>
