body {
  color: $color-gamma;
  font-family: serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include ls(50);
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  font-family: $font-alpha;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-beta;
}

body {
  font-family: $font-alpha;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-beta;
}

code {
  font-family: $font-gamma;
}
