@font-face {
  font-family: $font-alpha;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/vollkorn/vollkorn-regular.woff') format('woff');
}

@font-face {
  font-family: $font-beta;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/playfairdisplay/playfairdisplay-bold.woff') format('woff');
}
