{% if tags %}
  {% assign firstTag = tags | first %}
  {% if type == 'articles-item' %}
    {% include _partials/_2024/article-header %}
  {% endif %}
{% endif %}
<section class="content copy{% if type == 'articles-item' %}
 article-content{% endif %}{% if firstTag %}
 {{ firstTag }}{% endif %}">
  {{ content }}
</section>
{% if sections3 %}
  {% for section in sections3 %}
    {% include _partials/_2024/_general/sections %}
  {% endfor %}
{% endif %}
{% if type == 'articles-item' %}
  {% include _partials/_2024/article-footer %}
{% endif %}
