{% if tags %}
  {% assign firstTag = tags | first %}
  {% if firstTag == 'blog' or firstTag == 'advent' or firstTag == 'redesign-2024' %}
    {% include _partials/_2024/_general/hero-gamma %}
  {% endif %}
{% endif %}
<section class="content">
  <div class="copy">
    {% if canonical and publication %}
      <p>This article was originally published at <a href="{{ canonical }}">{{ publication }}.</a></p>
    {% endif %}
    {{ content }}
  </div>
</section>
{% if sections3 %}
  {% for section in sections3 %}
    {% include _partials/_2024/_general/sections %}
  {% endfor %}
{% endif %}
{% if tags %}
  {% if firstTag == 'blog' %}
    <hr class="text-alpha hr">
    {% include _partials/_2024/_general/banner-gamma %}
  {% endif %}
{% endif %}
