<section class="contact" id="form">
  <form class="contact__form" action="/contact/thank-you/" method="POST" netlify>
    {% if contact.title %}
      <h2 class="contact__title">{{ contact.title }}</h2>
    {% endif %}
    <label class="contact__label" for="Name">What is your name?</label>
    <input class="contact__input" type="text" name="name" id="Name" required>
    <label class="contact__label" for="Email">What is your email address?</label>
    <input class="contact__input" type="email" name="email" id="Email" required>
    <label class="contact__label" for="Note">What is your message?</label>
    <textarea class="contact__input" name="note" rows="6" id="Note" required></textarea>
    <button class="contact__cta" type="submit">Submit</button>
  </form>
</section>
