{% if footer %}
  <footer>
    {% if footer.logo %}
      <a href="{{ footer.logo.href }}">
        {% cldnry footer.logo.src footer.logo.alt footer.logo.width footer.logo.height true %}
      </a>
    {% endif %}
    <div>
      {% if site.author %}
        <p>&copy; {{ site.author }}, {{ site.established }}–{{ 'now' | date: '%Y'}}</p>
      {% endif %}
      <p>The site is publicly available on <a href="https://github.com/maliMirkec/personal-website/">GitHub</a>.</p>
      <p class="js-page-loaded-in">&nbsp;</p>
    </div>
  </footer>
{% endif %}
