<section class="gallery">
  {%- if component.title -%}
    <h2 class="gallery__title">{{ component.title | markdownifyi }}</h2>
  {%- endif -%}
  {%- if component.list -%}
    <div class="gallery__list">
      {%- for item in component.list -%}
        {%- if item.img -%}
          <div class="gallery__image">
            {%- cldnry item.img.src item.img.alt item.img.width item.img.height true -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
</section>
