<section>
  {% if hero.src %}
    {% cldnry hero.src.src hero.src.alt hero.src.width hero.src.height true %}
  {% endif %}
  {% if hero1.title %}
    <h1 class="hero__title">{{ hero1.title | markdownifyi }}</h1>
  {% endif %}
  {% if hero1.desc %}
    <div class="hero__text">{{ hero1.desc | markdownify }}</div>
  {% endif %}
  {% if hero1.cta %}
    <div class="hero__action">
      {% include _partials/_2024/cta cta=hero1.cta %}
    </div>
  {% endif %}
</section>
