{%- if site.lastfm and lastfm -%}
  <div class="banner banner--beta banner--lastfm js-lastfm">
    <h2>My latest <a href="https://www.last.fm/user/maliMirkec">Last.fm</a> tracks:</h2>
    <ul class="js-lastfm-tracks">
      {% for track in lastfm %}
        {% if forloop.index < 6 %}
          <li>
            <a href="{{ track.trackUrl }}">{{ track.artist }} - {{ track.song }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <button class="cta cta--tiny cta--converse js-lastfm-refresh">♬ Refresh</button>
  </div>
{%- endif -%}
