{%- if newsletter2024 -%}
  <section class="banner banner--alpha">
    {%- if newsletter2024.tagline -%}
      <h2 class="banner__title">{{ newsletter2024.tagline }}</h2>
    {%- endif -%}
    {%- if newsletter2024.description -%}
      <p class="banner__text">{{ newsletter2024.description }}</p>
    {%- endif -%}
    <form class="banner__form" action="https://buttondown.email/api/emails/embed-subscribe/starbist" method="post">
      <label class="banner__label" for="bd-email">Enter your email address</label>
      <input class="banner__input" type="email" name="email" id="bd-email" autocomplete="off" required placeholder="______">
      <button class="banner__cta banner__cta--small banner__cta--inverse" type="submit">Subscribe</button>
    </form>
  </section>
{%- endif -%}
