{%- if newsletter -%}
  <section class="banner banner--alpha">
    {%- if newsletter.tagline -%}
      <h2 class="banner__title">{{ newsletter.tagline }}</h2>
    {%- endif -%}
    {%- if newsletter.description -%}
      <p class="banner__text">{{ newsletter.description }}</p>
    {%- endif -%}
    <form class="banner__form" action="https://buttondown.email/api/emails/embed-subscribe/starbist" method="post">
      <label class="banner__label" for="bd-email">Enter your email address</label>
      <input class="banner__input" type="email" name="email" id="bd-email" autocomplete="off" required>
      <button class="banner__cta" type="submit">Subscribe</button>
    </form>
  </section>
{%- endif -%}
