{%- if cta[component.banner] -%}
  <section class="note copy">
    {% if cta[component.banner].title %}
      <h2 class="note__title">{{ cta[component.banner].title | markdownifyi }}</h2>
    {% endif %}
    {% if cta[component.banner].desc %}
      <div class="note__text">{{ cta[component.banner].desc | markdownify }}</div>
    {% endif %}
    {% if cta[component.banner].cta %}
      <div class="note__action">
        <a class="note__cta" href="{{ cta[component.banner].cta.href }}">{{ cta[component.banner].cta.title }}</a>
      </div>
    {% endif %}
  </section>
{%- endif -%}
