<div id="{{ pagination }}" class="margin-top-alpha margin-bottom-alpha">
  <div class="wrapper wrapper--alpha grid padding">
    {% for card4 in pagination.items %}
      <div class="card card--flex bg-lightish">
        <div class="padding">
          <div class="copy margin-top margin-bottom">{{ card4.content | markdownify }}</div>
        </div>
        <div class="padding margin-top-alpha">
          <div class="margin-top margin-bottom">
            {% if card4.date %}
              <time class="button button--small button--outline">{{ card4.date | date: "%Y-%m-%d" }}</time>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
