{% if sections %}
  <hr class="text-beta hr">
{% endif %}
<div class="wrapper wrapper--copy padding margin-top-alpha margin-bottom-alpha">
  <div class="copy copy--body">{{ content }}</div>
</div>
{% if sections2 %}
  <hr class="text-beta hr">
{% endif %}
