head
  include _head/meta
  include _head/og
  include _head/link
  if (theme && theme.widgets && theme.widgets.cookies)
    include _head/cookies
  include _assets/favicon
  include _assets/critical
  if(canonical)
    link(rel="canonical", href=canonical)
  link(rel="alternate", type="application/rss+xml", title="RSS Feed for silvestar.codes", href="/rss2.xml")
