if (section.type === 'hero-alpha')
  - var hero = section;
  include hero-alpha
if (section.type === 'hero-beta')
  - var hero = section;
  include hero-beta
if (section.type === 'banner-alpha')
  - var banner = section;
  include banner-alpha
if (section.type === 'cards')
  - var cards = section;
  include cards
