// Forms
//
// Markup: _forms.html
//
// :hover - Hover.
// :focus - Focus.
// :active - Active.
//
// Weight: 900
//
// Styleguide Forms

.input {
  background-color: var(--color-light);
  background-size: 100%;
  color: currentColor;
  font-weight: normal;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  line-height: 1.66;
  letter-spacing: var(--letter-spacing-beta);
  min-height: 2.75em;
  padding: .25em .5em;
  border: .1em solid currentColor;
  border-radius: var(--border-radius);
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: all var(--duration2);

  &:hover,
  &:focus,
  &:active {
    border-color: var(--color-alpha);
    box-shadow: 0 0 0 .15rem var(--color-alpha);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 .15rem currentColor;
  }
}

form {
  &:not(.newsletter) {
    .button {
      position: relative;
      left: -0.2em;
    }
  }
}
