// List
//
// Markup: _list.html
//
// .list-inside - Inside
// .list-style-none - No style
//
// Weight: 700
//
// Styleguide List

ul,
ol {
  padding-left: 1.25em;
  margin-left: 0;
  margin-right: 0;
  list-style-position: outside;

  ul,
  ol {
    font-size: 92.5%;
  }
}

.list-inside {
  list-style-position: inside;

  ul,
  ol {
    list-style-position: inside;
  }
}

.list-style-none {
  padding-left: 0;
  list-style: none;

  ul,
  ol {
    list-style: none;
  }
}
