script(src="https://config.metomic.io/config.js?id=prj:f7cc2062-6e4a-4c5d-a471-ade38b902b18", crossorigin="true", charset="utf-8", defer="true")
script(src="https://consent-manager.metomic.io/embed.js", crossorigin="true", charset="utf-8", defer="true")
