// Backgrounds
//
// Markup: _backgrounds.html
//
// Weight: 400
//
// Styleguide Backgrounds

$multiplier: 1.1;

[class*="bgi-"],
[class*="bg-"] {
  --bg-space-1: calc(#{$space * 1 * $multiplier});
  --bg-space-2: calc(#{$space * 2 * $multiplier});
  --bg-space-3: calc(#{$space * 3 * $multiplier});
}

[class*="bg-"],
[class*="lg-"] {
  --bg-alpha-1: #{lighten($color-alpha, 41%)};
  --bg-alpha-2: #{lighten($color-alpha, 44%)};
  --bg-alpha-3: #{lighten($color-alpha, 47%)};
  --bg-beta-1: #{lighten($color-beta, 31%)};
  --bg-beta-2: #{lighten($color-beta, 34%)};
  --bg-beta-3: #{lighten($color-beta, 37%)};
}

.bg-alpha {
  background-image: radial-gradient(circle at bottom right, var(--bg-alpha-1) var(--bg-space-1), transparent var(--bg-space-1)), radial-gradient(circle at bottom right, var(--bg-alpha-2) var(--bg-space-2), transparent var(--bg-space-2)), radial-gradient(circle at bottom right, var(--bg-alpha-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1)));
}

.bg-beta {
  background-image: radial-gradient(circle at bottom right, var(--bg-beta-1) var(--bg-space-1), transparent var(--bg-space-1)), radial-gradient(circle at bottom right, var(--bg-beta-2) var(--bg-space-2), transparent var(--bg-space-2)), radial-gradient(circle at bottom right, var(--bg-beta-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1)));
}

.bg-alpha2 {
  background-image: radial-gradient(circle at bottom right, var(--bg-alpha-1) var(--bg-space-1), transparent var(--bg-space-1)), radial-gradient(circle at bottom right, var(--bg-alpha-2) var(--bg-space-2), transparent var(--bg-space-2)), radial-gradient(circle at bottom right, var(--bg-alpha-3) var(--bg-space-3), transparent var(--bg-space-3)), radial-gradient(circle at top left, var(--bg-alpha-1) var(--bg-space-1), transparent var(--bg-space-1)), radial-gradient(circle at top left, var(--bg-alpha-2) var(--bg-space-2), transparent var(--bg-space-2)), radial-gradient(circle at top left, var(--bg-alpha-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1)));
}

.bg-beta2 {
  background-image: radial-gradient(circle at bottom right, var(--bg-beta-1) var(--bg-space-1), transparent var(--bg-space-1)), radial-gradient(circle at bottom right, var(--bg-beta-2) var(--bg-space-2), transparent var(--bg-space-2)), radial-gradient(circle at bottom right, var(--bg-beta-3) var(--bg-space-3), transparent var(--bg-space-3)), radial-gradient(circle at top left, var(--bg-beta-1) var(--bg-space-1), transparent var(--bg-space-1)), radial-gradient(circle at top left, var(--bg-beta-2) var(--bg-space-2), transparent var(--bg-space-2)), radial-gradient(circle at top left, var(--bg-beta-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1)));
}

.bg-alpha3 {
  background-image: linear-gradient(-45deg, var(--bg-alpha-1) var(--bg-space-1), transparent var(--bg-space-1)), linear-gradient(-45deg, var(--bg-alpha-2) var(--bg-space-2), transparent var(--bg-space-2)), linear-gradient(-45deg, var(--bg-alpha-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1)));
}

.bg-beta3 {
  background-image: linear-gradient(-45deg, var(--bg-beta-1) var(--bg-space-1), transparent var(--bg-space-1)), linear-gradient(-45deg, var(--bg-beta-2) var(--bg-space-2), transparent var(--bg-space-2)), linear-gradient(-45deg, var(--bg-beta-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1)));
}

.bg-alpha4 {
  background-image: linear-gradient(-45deg, var(--bg-alpha-1) var(--bg-space-1), transparent var(--bg-space-1)), linear-gradient(-45deg, var(--bg-alpha-2) var(--bg-space-2), transparent var(--bg-space-2)), linear-gradient(-45deg, var(--bg-alpha-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(135deg, var(--bg-alpha-1) var(--bg-space-1), transparent var(--bg-space-1)), linear-gradient(135deg, var(--bg-alpha-2) var(--bg-space-2), transparent var(--bg-space-2)), linear-gradient(135deg, var(--bg-alpha-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-alpha-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-alpha-3) calc(100% - var(--bg-space-1)));
}

.bg-beta4 {
  background-image: linear-gradient(-45deg, var(--bg-beta-1) var(--bg-space-1), transparent var(--bg-space-1)), linear-gradient(-45deg, var(--bg-beta-2) var(--bg-space-2), transparent var(--bg-space-2)), linear-gradient(-45deg, var(--bg-beta-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(135deg, var(--bg-beta-1) var(--bg-space-1), transparent var(--bg-space-1)), linear-gradient(135deg, var(--bg-beta-2) var(--bg-space-2), transparent var(--bg-space-2)), linear-gradient(135deg, var(--bg-beta-3) var(--bg-space-3), transparent var(--bg-space-3)), linear-gradient(0deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1))), linear-gradient(90deg, var(--bg-beta-3) var(--bg-space-1), transparent var(--bg-space-1), transparent calc(100% - var(--bg-space-1)), var(--bg-beta-3) calc(100% - var(--bg-space-1)));
}

.lg-alpha {
  background-image: linear-gradient(100deg, var(--bg-alpha-1) 20%, var(--bg-alpha-2) 50%, var(--bg-alpha-3) 100%);
}

.lg-beta {
  background-image: linear-gradient(100deg, var(--bg-beta-1) 20%, var(--bg-beta-2) 50%, var(--bg-beta-3) 100%);
}

.lg-alpha2 {
  background-image: linear-gradient(-100deg, var(--bg-alpha-1) 20%, var(--bg-alpha-2) 50%, var(--bg-alpha-3) 100%);
}

.lg-beta2 {
  background-image: linear-gradient(-100deg, var(--bg-beta-1) 20%, var(--bg-beta-2) 50%, var(--bg-beta-3) 100%);
}

[class*="bgi-"] {
  --bgi-color-dark: #{transparentize($color-dark, .75)};
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    background-repeat: no-repeat;
    background-position: bottom var(--bg-space-2) right var(--bg-space-2);
    background-size: 10vmin;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

.bgi--tr {
  &:before {
    background-position: top var(--bg-space-2) right var(--bg-space-2);
  }
}

.bgi--tl {
  &:before {
    background-position: top var(--bg-space-2) left var(--bg-space-2);
  }
}

.bgi--r {
  &:before {
    background-position: center right var(--bg-space-2);
  }
}

.bgi--l {
  &:before {
    background-position: center left var(--bg-space-2);
  }
}

.bgi--c {
  &:before {
    background-position: center;
  }
}

.bgi--bl {
  &:before {
    background-position: bottom var(--bg-space-2) left var(--bg-space-2);
  }
}

.bgi--opacity {
  &:before {
    opacity: 0.5;
  }
}

.bgi--shadow {
  &:before {
    filter: drop-shadow(0 0 .3rem var(--bgi-color-dark));
  }
}

.bgi--small {
  &:before {
    background-size: 6vmin;
  }
}

.bgi--cover {
  &:before {
    opacity: 0.15;
    background-size: auto 80%;
  }
}

.bgi-calendar {
  &:before {
    background-image: url(/gfx/svg/calendar.svg);
  }
}

.bgi-languages {
  &:before {
    background-image: url(/gfx/svg/languages.svg);
  }
}

.bgi-rocket {
  &:before {
    background-image: url(/gfx/svg/rocket.svg);
  }
}

.bgi-pen {
  &:before {
    background-image: url(/gfx/svg/pen.svg);
  }
}

.bgi-quote {
  &:before {
    background-image: url(/gfx/svg/quote.svg);
  }
}

.bgi-calendar2 {
  &:before {
    background-image: url(/gfx/svg/calendar2.svg);
  }
}

.bgi-languages2 {
  &:before {
    background-image: url(/gfx/svg/languages2.svg);
  }
}

.bgi-rocket2 {
  &:before {
    background-image: url(/gfx/svg/rocket2.svg);
  }
}

.bgi-pen2 {
  &:before {
    background-image: url(/gfx/svg/pen2.svg);
  }
}

.bgi-quote2 {
  &:before {
    background-image: url(/gfx/svg/quote2.svg);
  }
}
