// Colors
//
// Weight: 200
//
// Styleguide Colors

// Definitions
//
// Colors:
// $color-alpha: #12e09f - --color-alpha
// $color-beta: #ff3366 - --color-beta
// $color-light: #fff - --color-light
// $color-dark: #111 - --color-light
//
// Weight: 201
//
// Styleguide Colors.Definitions

// Text
//
// Markup: _colors-text.html
//
// Weight: 202
//
// Styleguide Colors.Text

// Background
//
// Markup: _colors-background.html
//
// Weight: 203
//
// Styleguide Colors.Background

// Border
//
// Markup: _colors-border.html
//
// Weight: 204
//
// Styleguide Colors.Border

body {
  background-image: url(/gfx/svg/bg-logo-alt.svg);
  background-position: top left;
  background-size: 5vmax;
  background-color: var(--color-light);
  background-attachment: fixed;
  color: var(--color-dark);
}

[class*="text-"] {
  color: var(--text-color);
}

.text-alpha {
  --text-color: var(--color-alpha);
}

.text-beta {
  --text-color: var(--color-beta);
}

.text-light {
  --text-color: var(--color-light);
}

.text-lightish {
  --text-color: var(--color-lightish);
}

.text-dark {
  --text-color: var(--color-dark);
}

.text-darkish {
  --text-color: var(--color-darkish);
}

[class*="bg-"] {
  background-color: var(--bg-color);
}

.bg-alpha {
  --bg-color: var(--color-alpha);
}

.bg-beta {
  --bg-color: var(--color-beta);
}

.bg-light {
  --bg-color: var(--color-light);
}

.bg-lightish {
  --bg-color: var(--color-lightish);
}

.bg-dark {
  --bg-color: var(--color-dark);
}

.bg-darkish {
  --bg-color: var(--color-darkish);
}

[class*="border-"]:not([class*="bottom-border"]):not([class*="top-border"]) {
  border: 1px solid var(--border-color);
}

.top-border {
  border-top: 1px solid var(--border-color);
}

.bottom-border {
  border-bottom: 1px solid var(--border-color);
}

.border-alpha {
  --border-color: var(--color-alpha);
}

.border-beta {
  --border-color: var(--color-beta);
}

.border-light {
  --border-color: var(--color-light);
}

.border-lightish {
  --border-color: var(--color-lightish);
}

.border-dark {
  --border-color: var(--color-dark);
}

.border-darkish {
  --border-color: var(--color-darkish);
}
