.dark {
  --color-alpha: #{$color-alpha-dark};
  --color-beta: #{$color-beta-dark};
  --color-light: #{$color-dark};
  --color-lightish: #{$color-darkish};
  --color-dark: #{$color-light};
  --color-darkish: #{$color-lightish};
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  body {
    background-image: url(/gfx/svg/bg-logo.svg);
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }
}
