<div class="df margin-1">
  <div class="padding-5 bg-alpha margin-1">.df</div>
  <div class="padding-4 bg-alpha margin-1">.df</div>
</div>
<div class="df-align margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-align</div>
  <div class="padding-4 bg-alpha margin-1">.df-align</div>
</div>
<div class="df-justify margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-justify</div>
  <div class="padding-4 bg-alpha margin-1">.df-justify</div>
</div>
<div class="df-center margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-center</div>
  <div class="padding-4 bg-alpha margin-1">.df-center</div>
</div>
<div class="df-col margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col</div>
  <div class="padding-4 bg-alpha margin-1">.df-col</div>
</div>
<div class="df-col-center margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-center</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-center</div>
</div>
<hr>
<div class="df-bp1 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-bp1</div>
  <div class="padding-4 bg-alpha margin-1">.df-bp1</div>
</div>
<div class="df-align-bp1 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-align-bp1</div>
  <div class="padding-4 bg-alpha margin-1">.df-align-bp1</div>
</div>
<div class="df-justify-bp1 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-justify-bp1</div>
  <div class="padding-4 bg-alpha margin-1">.df-justify-bp1</div>
</div>
<div class="df-center-bp1 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-center-bp1</div>
  <div class="padding-4 bg-alpha margin-1">.df-center-bp1</div>
</div>
<div class="df-col-bp1 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-bp1</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-bp1</div>
</div>
<div class="df-col-center-bp1 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-center-bp1</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-center-bp1</div>
</div>
<hr>
<div class="df-bp2 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-bp2</div>
  <div class="padding-4 bg-alpha margin-1">.df-bp2</div>
</div>
<div class="df-align-bp2 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-align-bp2</div>
  <div class="padding-4 bg-alpha margin-1">.df-align-bp2</div>
</div>
<div class="df-justify-bp2 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-justify-bp2</div>
  <div class="padding-4 bg-alpha margin-1">.df-justify-bp2</div>
</div>
<div class="df-center-bp2 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-center-bp2</div>
  <div class="padding-4 bg-alpha margin-1">.df-center-bp2</div>
</div>
<div class="df-col-bp2 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-bp2</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-bp2</div>
</div>
<div class="df-col-center-bp2 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-center-bp2</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-center-bp2</div>
</div>
<hr>
<div class="df-bp3 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-bp3</div>
  <div class="padding-4 bg-alpha margin-1">.df-bp3</div>
</div>
<div class="df-align-bp3 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-align-bp3</div>
  <div class="padding-4 bg-alpha margin-1">.df-align-bp3</div>
</div>
<div class="df-justify-bp3 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-justify-bp3</div>
  <div class="padding-4 bg-alpha margin-1">.df-justify-bp3</div>
</div>
<div class="df-center-bp3 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-center-bp3</div>
  <div class="padding-4 bg-alpha margin-1">.df-center-bp3</div>
</div>
<div class="df-col-bp3 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-bp3</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-bp3</div>
</div>
<div class="df-col-center-bp3 margin-1">
  <div class="padding-5 bg-alpha margin-1">.df-col-center-bp3</div>
  <div class="padding-4 bg-alpha margin-1">.df-col-center-bp3</div>
</div>
<hr>
