// Helpers
//
// Markup: _helpers.html
//
// Weight: 500
//
// Styleguide Helpers

@function strip-unit($value) {
  @return #{$value / ($value * 0 + 1)};
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.pic {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;

    &:not([src]) {
      display: none;
    }
  }

  a:not(.glow) & {
    img {
      &:hover,
      &:focus {
        filter: drop-shadow(0 0 .25rem var(--color-alpha));
      }
    }
  }
}

.glow {
  &:hover,
  &:focus {
    filter: drop-shadow(0 0 .25rem var(--color-alpha)) brightness(95%);
  }
}

.glow--alpha {
  &:hover,
  &:focus {
    filter: drop-shadow(0 0 .1rem var(--color-light)) drop-shadow(0 0 1rem #{transparentize($color-dark, .75)});
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;

  &:not([class*="wrapper-"]) {
    max-width: calc(var(--bp) + 2rem);
  }
}

.wrapper--alpha {
  max-width: calc(var(--bp3) + 2rem);
}

.wrapper--beta {
  max-width: calc(var(--bp1) + 2rem);
}

.circle {
  border-radius: 50%;
}

.brad {
  border-radius: var(--border-radius);
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

.oh {
  overflow: hidden;
}

hr {
  &:not([class*="hr"]) {
    background-color: currentColor;
    border: 0;
    height: 1px;
  }

  .copy &,
  &[class*="hr"] {
    border: 0;
    max-height: 0;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:before {
      content: "★";
      font-size: .5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: -1rem 0 0 currentColor, 1rem 0 0 currentColor;
    }
  }

  .copy & {
    background-color: transparent;
    &:before {
      color: var(--color-alpha);
    }
  }
}

p {
  &:empty {
    display: none;
  }
}

@include mq($from: bp1) {
  .hidden-lg {
    display: none;
  }
}

@include mq($until: bp1) {
  .hidden-sm {
    display: none;
  }
}

.avatar {
  min-width: 60px;

  a:hover & {
    img {
      filter: brightness(110%);
    }
  }
}
