<div class="lg-alpha padding-1">.padding-1</div>
<div class="lg-beta padding-2">.padding-2</div>
<div class="lg-alpha padding-3">.padding-3</div>
<div class="lg-beta padding-4">.padding-4</div>
<div class="lg-alpha padding-5">.padding-5</div>
<div class="lg-beta padding-6">.padding-6</div>
<hr>
<div class="lg-beta margin-1">.margin-1</div>
<div class="lg-alpha margin-2">.margin-2</div>
<div class="lg-beta margin-3">.margin-3</div>
<div class="lg-alpha margin-4">.margin-4</div>
<div class="lg-beta margin-5">.margin-5</div>
<div class="lg-alpha margin-6">.margin-6</div>
<hr>
<div class="lg-alpha padding-x-4">.padding-x-4</div>
<div class="lg-beta padding-y-4">.padding-y-4</div>
<div class="lg-alpha padding-r-4">.padding-r-4</div>
<div class="lg-beta padding-l-4">.padding-l-4</div>
<div class="lg-alpha padding-t-4">.padding-t-4</div>
<div class="lg-beta padding-b-4">.padding-b-4</div>
<hr>
<div class="lg-alpha margin-x-4">.margin-x-4</div>
<div class="lg-beta margin-y-4">.margin-y-4</div>
<div class="lg-alpha margin-r-4">.margin-r-4</div>
<div class="lg-beta margin-l-4">.margin-l-4</div>
<div class="lg-alpha margin-t-4">.margin-t-4</div>
<div class="lg-beta margin-b-4">.margin-b-4</div>
