// Breakpoints
$bp: 80ch;
$bp1: 600px;
$bp2: 1200px;
$bp3: 1600px;

$mq-breakpoints: (
  bp1: $bp1,
  bp2: $bp2,
  bp3: $bp3
);

// Colors
$color-alpha: #12e09f;
$color-beta: #ff3366;
$color-light: #fff;
$color-dark: #111;

// Typography
$font-alpha: 'Playfair Display', serif;
$font-beta: 'Barlow', sans-serif;
$font-gamma: 'Courier New', Courier, monospace;
$min-size: 14px;
$max-size: 18px;
$min-ratio: 1.2;
$max-ratio: 1.2;
$lh: 1.66;
$lsp: .01em;

// Spacing
$space-default: .25rem;
$space-default-min: .1rem;
$space-factor: 4;
$space: $space-default * $space-factor;

// Border Radius
$brad: .1rem;

// Transitions
$duration: .33s;
$duration2: $duration / 2;
$delay: .166s;

// Grid
$cols: repeat(auto-fill, minmax(400px, 1fr));
$cols-bp1: repeat(auto-fill, 1fr);
$gap: $space * 2;

:root {
  // Breakpoints
  --bp: #{$bp};
  --bp1: #{$bp1};
  --bp2: #{$bp2};
  --bp3: #{$bp3};

  // Colors
  --selection: #{transparentize($color-alpha, .675)};
  --color-alpha: #{$color-alpha};
  --color-beta: #{$color-beta};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};

  // Typography
  --font-alpha: #{$font-alpha};
  --font-beta: #{$font-beta};
  --font-gamma: #{$font-gamma};
  --min-size: #{$min-size};
  --max-size: #{$max-size};
  --min-ratio: #{$min-ratio};
  --max-ratio: #{$max-ratio};
  --line-height: #{$lh};
  --letter-spacing: #{$lsp};

  // Spacing
  --space-default: #{$space-default};
  --space: #{$space};

  // Border Radius
  --border-radius: #{$brad};

  // Transitions
  --duration: #{$duration};
  --duration2: #{$duration2};
  --delay: #{$delay};

  // Grid
  --cols: #{$cols};
  --gap: #{$gap};

  @include mq($until: bp1) {
    // Spacing
    --space-default: #{$space-default-min};

    // Grid
    --cols: #{$cols-bp1};
  }
}
