// Breakpoints
$bp: 80ch;
$bp1: 600px;
$bp2: 1200px;
$bp3: 1600px;

$mq-breakpoints: (
  bp1: $bp1,
  bp2: $bp2,
  bp3: $bp3
);

// Colors
$color-alpha: #12e09f;
$color-beta: #ff3366;
$color-light: #fff;
$color-dark: #111;

// Typography
$font-alpha: 'Playfair Display', serif;
$font-beta: 'Barlow', sans-serif;
$font-gamma: 'Courier New', Courier, monospace;
$font-size-sm: 18px;
$font-size-lg: 18px;
$lh: 1.66;
$lsp: .01em;

// Spacing
$space-default: .25rem;
$space-default-min: .1rem;
$space-factor: 4;
$space: $space-default * $space-factor;

// Border Radius
$brad: .1rem;

// Transitions
$duration: .3s;
$duration2: $duration / 2;
$delay: $duration / 2;

// Grid
$cols: repeat(auto-fill, minmax(400px, 1fr));
$cols-bp1: repeat(auto-fill, 1fr);
$gap: $space * 2;

:root {
  // Breakpoints
  --bp: #{$bp};
  --bp1: #{$bp1};
  --bp2: #{$bp2};
  --bp3: #{$bp3};

  // Colors
  --selection: #{transparentize($color-alpha, .675)};
  --color-alpha: #{$color-alpha};
  --color-beta: #{$color-beta};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};

  @media (prefers-color-scheme: dark) {
    --color-light: #{$color-dark};
    --color-dark: #{$color-light};
  }

  // Typography
  --font-alpha: #{$font-alpha};
  --font-beta: #{$font-beta};
  --font-gamma: #{$font-gamma};
  --step-6: #{$font-size-lg * 3};
  --step-5: #{$font-size-lg * 2.6};
  --step-4: #{$font-size-lg * 2.2};
  --step-3: #{$font-size-lg * 1.8};
  --step-2: #{$font-size-lg * 1.4};
  --step-1: #{$font-size-lg * 1.2};
  --step-0: #{$font-size-lg};
  --step--1: #{$font-size-lg * 0.9};
  --step--2: #{$font-size-lg * 0.8};
  --line-height: #{$lh};
  --letter-spacing: #{$lsp};

  // Spacing
  --space-default: #{$space-default};
  --space: #{$space};

  // Border Radius
  --border-radius: #{$brad};

  // Transitions
  --duration: #{$duration};
  --duration2: #{$duration2};
  --delay: #{$delay};

  // Grid
  --cols: #{$cols};
  --gap: #{$gap};

  @include mq($until: bp1) {
    // Typography
    --step-6: #{$font-size-sm * 2.222};
    --step-5: #{$font-size-sm * 1.777};
    --step-4: #{$font-size-sm * 1.555};
    --step-3: #{$font-size-sm * 1.333};
    --step-2: #{$font-size-sm * 1.222};
    --step-1: #{$font-size-sm * 1.111};
    --step-0: #{$font-size-sm};
    --step--1: #{$font-size-sm * 0.888};
    --step--2: #{$font-size-sm * 0.777};

    // Spacing
    --space-default: #{$space-default-min};

    // Grid
    --cols: #{$cols-bp1};
  }
}

.dark {
  filter: invert(1) hue-rotate(180deg);

  .pic,
  img[src*="logo-2021"] {
    filter: invert(1) hue-rotate(180deg);
  }
  // .button:not(.button--inverse):not(.button--outline)
  // .hr {
  //   filter: invert(1);
  // }
}

.switch {
  filter: blur(3px) grayscale(.8) brightness(.5);
}
