<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% comment %} <meta name="referrer" content="no-referrer">
{% if url and canonical %}
  <link rel="canonical" href="{{ url }}">
{% endif %}
{% if theme and theme.site and theme.site.author %}
  <meta name="author" content=theme.site.author>
{% else if config and config.author %}
  <meta name="author" content=config.author>
{% endif %}
{% if isHome() %}
  {% assign description = "Home of Silvestar Bistrović—fearless web engineer, CSS developer, JAMstack enthusiast, and WordPress theme specialist." %}
{% else if posts and !isHome() %}
  {% if category %}
    {% assign description = "Blog posts about CSS, HTML, JavaScript browsers, static page generators, WordPress, frontend technologies, freelance life, remote working, and more." %}
  {% else if tag %}
    {% assign description = "A list of blog posts tagged " | append: tag | append: "." %}
  {% else if theme and theme.site and theme.site. description %}
    {% assign description = theme.site.description %}
  {% else if config and config.description %}
    {% assign description = config.description %}
  {% endif %}
{% endif %}
<meta name="description" content="{{ description }}">
{% if theme and theme.site and theme.site.full_name %}
  {% if isHome() %}
    {% assign title = "Home of fearless web engineer Silvestar Bistrović 🤘 " + theme.site.full_name %}
  {% else if category %}
    {% assign title = "Blog 🤘 " + theme.site.full_name %}
  {% else if tag %}
    {% assign title = "Tag: " + tag + " 🤘 " + theme.site.full_name %}
  {% else %}
    {% assign title = title ? title + " 🤘 " + theme.site.full_name : theme.site.full_name %}
  {% endif %}
{% else if config and config.title %}
  {% assign title = config.title %}
{% endif %}
<title>{{ title }}</title> {% endcomment %}
