extends _includes/layout

block content
  if (sections)
    each section in sections
      include _partials/sections
  if (content)
    include _partials/content
  if (sections2)
    each section in sections2
      include _partials/sections

