{% if theme and theme.site and theme.site.language %}
  {% assign lang = theme.site.language %}
{% else if config and config.language %}
  {% assign lang = config.language %}
{% else %}
  {% assign lang = "en" %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
  {% include _partials/_general/head %}
  <body>
    {% include _partials/_general/skip-link %}
    <div class="inner">
      {% include _partials/_general/header %}
      <main id="main">
        {% block content %}
          {% if sections %}
            {% for section in sections %}
              {% include _partials/_general/sections %}
            {% endfor %}
          {% endif %}
          {% if content != blank and content != '' %}
            {% include _partials/_general/content-alpha %}
          {% endif %}
          {% if sections2 %}
            {% for section in sections2 %}
              {% include _partials/_general/sections %}
            {% endfor %}
          {% endif %}
        {% endblock %}
      </main>
      {% include _partials/_general/footer %}
    </div>
    {% include _partials/_general/toggle-button %}
    {% include _partials/_assets/style %}
    {% include _partials/_assets/scripts %}
    {% include _partials/_assets/analytics %}
  </body>
</html>




