{% if theme and theme.site and theme.site.language %}
  {% assign lang = theme.site.language %}
{% else if config and config.language %}
  {% assign lang = config.language %}
{% else %}
  {% assign lang = "en" %}
{% endif %}

{% if tag %}
  {% assign title = title_suffix | append: ' “' | append: tag | append: '”' %}
  {% assign subtitle = subtitle_suffix | append: ' “' | append: tag | append: '”.' %}
  {% assign description = description_suffix | append: ' “' | append: tag | append: '”.' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ lang }}">
  {% include _partials/head %}
  <body>
    <div class="inner">
      {% include _partials/header %}
      <main id="main">
        {% include _partials/hero-tags %}
        <hr class="text-alpha hr">
        {% if tag %}
          {% include _partials/cards-tags %}
        {% else %}
          {% include _partials/tags %}
        {% endif %}
      </main>
      {% include _partials/footer %}
    </div>
    {% include _partials/toggle-button %}
    {% include _partials/_assets/style %}
    {% include _partials/_assets/scripts %}
    {% unless env.development %}
      {% include _partials/_assets/gtag %}
    {% endunless %}
  </body>
</html>




