<section class="contact margin-top-beta margin-bottom-beta" id="form">
  <div class="wrapper">
    <div class="padding">
      <form action="/contact/thank-you/" method="POST" netlify>
        {% if contact.title %}
          <h2 class="fz-step-2">{{ contact.title }}</h2>
        {% endif %}
        <div class="margin-top margin-bottom">
          <label for="Name">What is your name?</label>
          <input type="text" name="name" class="input" id="Name" required>
        </div>
        <div class="margin-top margin-bottom">
          <label for="Email">What is your email address?</label>
          <input type="email" name="email" class="input" id="Email" required>
        </div>
        <div class="margin-top margin-bottom">
          <label for="Note">What is your message?</label>
            <textarea name="note" rows="6" id="Note" class="input" required></textarea>
        </div>
        <div class="margin-top margin-bottom">
          <button class="button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
