<section class="hero margin-top-beta margin-bottom-beta">
  <div class="wrapper text-center">
    <div class="padding">
      {% if hero2.title %}
        <h2 class="fz-step-4 no-margin-top margin-bottom">{{ hero2.title | markdownifyi }}</h2>
      {% endif %}
      {% if hero2.desc %}
        <div class="copy balance">{{ hero2.desc | markdownify }}</div>
      {% endif %}
    </div>
  </div>
</section>
