<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=starbist">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=starbist">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=starbist">
<link rel="manifest" href="/favicon/site.webmanifest?v=starbist">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=starbist" color="#e01258">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=starbist">
<meta name="apple-mobile-web-app-title" content="Silvestar Bistrović">
<meta name="application-name" content="Silvestar Bistrović">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?v=starbist">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=starbist">
<meta name="theme-color" content="#ffffff">
