// Anchors
//
// Markup: _anchors.html
//
// :hover - Anchor hover.
// :focus - Anchor focus.
// :active - Anchor active.
// .a--alpha - Alternative anchor.
// .a--beta - Alternative anchor.
//
// Weight: 800
//
// Styleguide Anchors

a {
  --anchor-color-black: #{transparentize($color-black, .75)};
  --anchor-color-alpha: #{transparentize($color-alpha, .5)};
  --anchor-color-beta: #{transparentize($color-beta, .5)};
  display: inline-flex;
  align-items: center;
  position: relative;
  color: currentColor;
  text-decoration: underline;

  &:not(.rm, .button, .a) {
    filter: saturate(200%) brightness(70%);
  }

  &.rm {
    filter: drop-shadow(0 0 .3rem #{v(anchor-color-black)});
  }

  .copy &,
  &.a {
    @extend .inside-x-1;
    @extend .brad;
  }

  &.a--alpha {
    filter: drop-shadow(0 0 .3rem #{v(anchor-color-alpha)});
  }

  &.a--beta {
    filter: drop-shadow(0 0 .3rem #{v(anchor-color-beta)});
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    filter: saturate(200%) contrast(100%) drop-shadow(0 0 .1rem #{v(anchor-color-black)});

    &.rm {
      filter: contrast(100%) drop-shadow(0 0 .1rem #{v(anchor-color-black)});
    }

    &.a--alpha {
      filter: contrast(100%) drop-shadow(0 0 .1rem #{v(anchor-color-alpha)});
    }

    &.a--beta {
      filter: contrast(100%) drop-shadow(0 0 .1rem #{v(anchor-color-beta)});
    }
  }
}
