// Anchors
//
// Markup: _anchors.html
//
// :hover - Button hover.
//
// Weight: 500
//
// Styleguide Anchors

a {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: currentColor;
  text-decoration: none;

  &:not(.rm) {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .copy &,
  &.a {
    @extend .inside-x-1;
    @extend .brad;
    @extend .bsh--alpha;
    background-color: v(transparent-light);

    &:hover,
    &:focus,
    &:active {
      @extend .bsh--beta;
      text-decoration: none;
    }
  }
}
