<div class="bg-alpha padding-3 margin-y-1 text-center">
  <p>.bg-alpha</p>
</div>
<div class="bg-beta padding-3 margin-y-1 text-center">
  <p>.bg-beta</p>
</div>
<div class="bg-alpha2 padding-3 margin-y-1 text-center">
  <p>.bg-alpha2</p>
</div>
<div class="bg-beta2 padding-3 margin-y-1 text-center">
  <p>.bg-beta2</p>
</div>
<div class="bg-alpha3 padding-3 margin-y-1 text-center">
  <p>.bg-alpha3</p>
</div>
<div class="bg-beta3 padding-3 margin-y-1 text-center">
  <p>.bg-beta3</p>
</div>
<div class="bg-alpha4 padding-3 margin-y-1 text-center">
  <p>.bg-alpha4</p>
</div>
<div class="bg-beta4 padding-3 margin-y-1 text-center">
  <p>.bg-beta4</p>
</div>
<div class="lg-alpha padding-3 margin-y-1 text-center">
  <p>.lg-alpha</p>
</div>
<div class="lg-beta padding-3 margin-y-1 text-center">
  <p>.lg-beta</p>
</div>
<div class="lg-alpha2 padding-3 margin-y-1 text-center">
  <p>.lg-alpha2</p>
</div>
<div class="lg-beta2 padding-3 margin-y-1 text-center">
  <p>.lg-beta2</p>
</div>
<div class="bg-alpha bgi-calendar padding-5 margin-y-1 text-center">
  <p>.bgi-calendar</p>
</div>
<div class="bg-alpha bgi-calendar2 padding-5 margin-y-1 text-center">
  <p>.bgi-calendar2</p>
</div>
<div class="bg-alpha bgi-rocket padding-5 margin-y-1 text-center">
  <p>.bgi-rocket</p>
</div>
<div class="bg-alpha bgi-rocket2 padding-5 margin-y-1 text-center">
  <p>.bgi-rocket2</p>
</div>
<div class="bg-alpha bgi-pen padding-5 margin-y-1 text-center">
  <p>.bgi-pen</p>
</div>
<div class="bg-alpha bgi-pen2 padding-5 margin-y-1 text-center">
  <p>.bgi-pen2</p>
</div>
<div class="bg-alpha bgi-quote padding-5 margin-y-1 text-center">
  <p>.bgi-quote</p>
</div>
<div class="bg-alpha bgi-quote2 padding-5 margin-y-1 text-center">
  <p>.bgi-quote2</p>
</div>
<div class="bg-alpha bgi-languages padding-5 margin-y-1 text-center">
  <p>.bgi-languages</p>
</div>
<div class="bg-alpha bgi-languages2 padding-5 margin-y-1 text-center">
  <p>.bgi-languages2</p>
</div>
<div class="bg-alpha bgi-calendar bgi--tr padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--tr</p>
</div>
<div class="bg-alpha bgi-calendar bgi--tl padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--tl</p>
</div>
<div class="bg-alpha bgi-calendar bgi--bl padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--bl</p>
</div>
<div class="bg-alpha bgi-calendar bgi--c padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--c</p>
</div>
<div class="bg-alpha bgi-calendar bgi--opacity padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--opacity</p>
</div>
<div class="bg-alpha bgi-calendar bgi--shadow padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--shadow</p>
</div>
<div class="bg-alpha bgi-calendar bgi--small padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--small</p>
</div>
<div class="bg-alpha bgi-calendar bgi--cover padding-5 margin-y-1 text-center">
  <p>.bgi-calendar.bgi--cover</p>
</div>

