// Backgrounds
//
// Markup: _backgrounds.html
//
// Weight: 400
//
// Styleguide Backgrounds

[class*="bgi-"],
[class*="bg-"],
[class*="rg-"] {
  --bg-space-1: calc(#{v(space)} * 5);
  --bg-space-2: calc(#{v(space)} * 10);
  --bg-space-3: calc(#{v(space)} * 15);
}

[class*="bg-"],
[class*="lg-"],
[class*="rg-"] {
  --bg-alpha-1: #{lighten($color-alpha, 40%)};
  --bg-alpha-2: #{lighten($color-alpha, 44%)};
  --bg-alpha-3: #{lighten($color-alpha, 48%)};
  --bg-beta-1: #{lighten($color-beta, 30%)};
  --bg-beta-2: #{lighten($color-beta, 34%)};
  --bg-beta-3: #{lighten($color-beta, 38%)};
}

.bg-alpha {
  background-image: radial-gradient(circle at bottom right, v(bg-alpha-1) v(bg-space-1), transparent v(bg-space-1)), radial-gradient(circle at bottom right, v(bg-alpha-2) v(bg-space-2), transparent v(bg-space-2)), radial-gradient(circle at bottom right, v(bg-alpha-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)}));
}

.bg-beta {
  background-image: radial-gradient(circle at bottom right, v(bg-beta-1) v(bg-space-1), transparent v(bg-space-1)), radial-gradient(circle at bottom right, v(bg-beta-2) v(bg-space-2), transparent v(bg-space-2)), radial-gradient(circle at bottom right, v(bg-beta-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)}));
}

.bg-alpha2 {
  background-image: radial-gradient(circle at bottom right, v(bg-alpha-1) v(bg-space-1), transparent v(bg-space-1)), radial-gradient(circle at bottom right, v(bg-alpha-2) v(bg-space-2), transparent v(bg-space-2)), radial-gradient(circle at bottom right, v(bg-alpha-3) v(bg-space-3), transparent v(bg-space-3)), radial-gradient(circle at top left, v(bg-alpha-1) v(bg-space-1), transparent v(bg-space-1)), radial-gradient(circle at top left, v(bg-alpha-2) v(bg-space-2), transparent v(bg-space-2)), radial-gradient(circle at top left, v(bg-alpha-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)}));
}

.bg-beta2 {
  background-image: radial-gradient(circle at bottom right, v(bg-beta-1) v(bg-space-1), transparent v(bg-space-1)), radial-gradient(circle at bottom right, v(bg-beta-2) v(bg-space-2), transparent v(bg-space-2)), radial-gradient(circle at bottom right, v(bg-beta-3) v(bg-space-3), transparent v(bg-space-3)), radial-gradient(circle at top left, v(bg-beta-1) v(bg-space-1), transparent v(bg-space-1)), radial-gradient(circle at top left, v(bg-beta-2) v(bg-space-2), transparent v(bg-space-2)), radial-gradient(circle at top left, v(bg-beta-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)}));
}

.bg-alpha3 {
  background-image: linear-gradient(-45deg, v(bg-alpha-1) v(bg-space-1), transparent v(bg-space-1)), linear-gradient(-45deg, v(bg-alpha-2) v(bg-space-2), transparent v(bg-space-2)), linear-gradient(-45deg, v(bg-alpha-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)}));
}

.bg-beta3 {
  background-image: linear-gradient(-45deg, v(bg-beta-1) v(bg-space-1), transparent v(bg-space-1)), linear-gradient(-45deg, v(bg-beta-2) v(bg-space-2), transparent v(bg-space-2)), linear-gradient(-45deg, v(bg-beta-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)}));
}

.bg-alpha4 {
  background-image: linear-gradient(-45deg, v(bg-alpha-1) v(bg-space-1), transparent v(bg-space-1)), linear-gradient(-45deg, v(bg-alpha-2) v(bg-space-2), transparent v(bg-space-2)), linear-gradient(-45deg, v(bg-alpha-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(135deg, v(bg-alpha-1) v(bg-space-1), transparent v(bg-space-1)), linear-gradient(135deg, v(bg-alpha-2) v(bg-space-2), transparent v(bg-space-2)), linear-gradient(135deg, v(bg-alpha-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-alpha-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-alpha-3) calc(100% - #{v(bg-space-1)}));
}

.bg-beta4 {
  background-image: linear-gradient(-45deg, v(bg-beta-1) v(bg-space-1), transparent v(bg-space-1)), linear-gradient(-45deg, v(bg-beta-2) v(bg-space-2), transparent v(bg-space-2)), linear-gradient(-45deg, v(bg-beta-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(135deg, v(bg-beta-1) v(bg-space-1), transparent v(bg-space-1)), linear-gradient(135deg, v(bg-beta-2) v(bg-space-2), transparent v(bg-space-2)), linear-gradient(135deg, v(bg-beta-3) v(bg-space-3), transparent v(bg-space-3)), linear-gradient(0deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)})), linear-gradient(90deg, v(bg-beta-3) v(bg-space-1), transparent v(bg-space-1), transparent calc(100% - #{v(bg-space-1)}), v(bg-beta-3) calc(100% - #{v(bg-space-1)}));
}

.lg-alpha {
  background-image: linear-gradient(100deg, v(bg-alpha-1) 20%, v(bg-alpha-2) 50%, v(bg-alpha-3) 100%);
}

.lg-beta {
  background-image: linear-gradient(100deg, v(bg-beta-1) 20%, v(bg-beta-2) 50%, v(bg-beta-3) 100%);
}

.lg-alpha2 {
  background-image: linear-gradient(-100deg, v(bg-alpha-1) 20%, v(bg-alpha-2) 50%, v(bg-alpha-3) 100%);
}

.lg-beta2 {
  background-image: linear-gradient(-100deg, v(bg-beta-1) 20%, v(bg-beta-2) 50%, v(bg-beta-3) 100%);
}

[class*="bgi-"] {
  --bgi-color-black: #{transparentize($color-black, .75)};
  position: relative;

  &:before {
    content: '';
    background-repeat: no-repeat;
    background-position: bottom #{v(bg-space-2)} right #{v(bg-space-2)};
    background-size: 10vmin;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.bgi--tr {
  &:before {
    background-position: top #{v(bg-space-2)} right #{v(bg-space-2)};
  }
}

.bgi--tl {
  &:before {
    background-position: top #{v(bg-space-2)} left #{v(bg-space-2)};
  }
}

.bgi--r {
  &:before {
    background-position: center right #{v(bg-space-2)};
  }
}

.bgi--l {
  &:before {
    background-position: center left #{v(bg-space-2)};
  }
}

.bgi--c {
  &:before {
    background-position: center left #{v(bg-space-2)};
  }
}

.bgi--bl {
  &:before {
    background-position: bottom #{v(bg-space-2)} left #{v(bg-space-2)};
  }
}

.bgi--opacity {
  &:before {
    opacity: 0.5;
  }
}

.bgi--shadow {
  &:before {
    filter: drop-shadow(0 0 .3rem #{v(bgi-color-black)});
  }
}

.bgi--small {
  &:before {
    background-size: 6vmin;
  }
}

.bgi--cover {
  &:before {
    opacity: 0.15;
    background-size: auto 80%;
  }
}

.bgi-calendar {
  &:before {
    background-image: url(/gfx/svg/calendar.svg);
  }
}

.bgi-languages {
  &:before {
    background-image: url(/gfx/svg/languages.svg);
  }
}

.bgi-rocket {
  &:before {
    background-image: url(/gfx/svg/rocket.svg);
  }
}

.bgi-pen {
  &:before {
    background-image: url(/gfx/svg/pen.svg);
  }
}

.bgi-quote {
  &:before {
    background-image: url(/gfx/svg/quote.svg);
  }
}

.bgi-calendar2 {
  &:before {
    background-image: url(/gfx/svg/calendar2.svg);
  }
}

.bgi-languages2 {
  &:before {
    background-image: url(/gfx/svg/languages2.svg);
  }
}

.bgi-rocket2 {
  &:before {
    background-image: url(/gfx/svg/rocket2.svg);
  }
}

.bgi-pen2 {
  &:before {
    background-image: url(/gfx/svg/pen2.svg);
  }
}

.bgi-quote2 {
  &:before {
    background-image: url(/gfx/svg/quote2.svg);
  }
}
