<div class="bg-alpha inside-3 outside-y-1 t-center">
  <p>.bg-alpha</p>
</div>
<div class="bg-beta inside-3 outside-y-1 t-center">
  <p>.bg-beta</p>
</div>
<div class="bg-alpha2 inside-3 outside-y-1 t-center">
  <p>.bg-alpha2</p>
</div>
<div class="bg-beta2 inside-3 outside-y-1 t-center">
  <p>.bg-beta2</p>
</div>
<div class="bg-alpha3 inside-3 outside-y-1 t-center">
  <p>.bg-alpha3</p>
</div>
<div class="bg-beta3 inside-3 outside-y-1 t-center">
  <p>.bg-beta3</p>
</div>
<div class="bg-alpha4 inside-3 outside-y-1 t-center">
  <p>.bg-alpha4</p>
</div>
<div class="bg-beta4 inside-3 outside-y-1 t-center">
  <p>.bg-beta4</p>
</div>
<div class="lg-alpha inside-3 outside-y-1 t-center">
  <p>.lg-alpha</p>
</div>
<div class="lg-beta inside-3 outside-y-1 t-center">
  <p>.lg-beta</p>
</div>
<div class="lg-alpha2 inside-3 outside-y-1 t-center">
  <p>.lg-alpha2</p>
</div>
<div class="lg-beta2 inside-3 outside-y-1 t-center">
  <p>.lg-beta2</p>
</div>
<div class="rg-alpha inside-3 outside-y-1 t-center">
  <p>.rg-alpha</p>
</div>
<div class="rg-beta inside-3 outside-y-1 t-center">
  <p>.rg-beta</p>
</div>
<div class="rg-alpha2 inside-3 outside-y-1 t-center">
  <p>.rg-alpha2</p>
</div>
<div class="rg-beta2 inside-3 outside-y-1 t-center">
  <p>.rg-beta2</p>
</div>
<div class="rg-alpha3 inside-3 outside-y-1 t-center">
  <p>.rg-alpha3</p>
</div>
<div class="rg-beta3 inside-3 outside-y-1 t-center">
  <p>.rg-beta3</p>
</div>
