<div class="bg-alpha inside-3 outside-y-1 t-center">
  <p>.bg-alpha</p>
</div>
<div class="bg-beta inside-3 outside-y-1 t-center">
  <p>.bg-beta</p>
</div>
<div class="bg-alpha2 inside-3 outside-y-1 t-center">
  <p>.bg-alpha2</p>
</div>
<div class="bg-beta2 inside-3 outside-y-1 t-center">
  <p>.bg-beta2</p>
</div>
<div class="bg-alpha3 inside-3 outside-y-1 t-center">
  <p>.bg-alpha3</p>
</div>
<div class="bg-beta3 inside-3 outside-y-1 t-center">
  <p>.bg-beta3</p>
</div>
<div class="bg-alpha4 inside-3 outside-y-1 t-center">
  <p>.bg-alpha4</p>
</div>
<div class="bg-beta4 inside-3 outside-y-1 t-center">
  <p>.bg-beta4</p>
</div>
<div class="lg-alpha inside-3 outside-y-1 t-center">
  <p>.lg-alpha</p>
</div>
<div class="lg-beta inside-3 outside-y-1 t-center">
  <p>.lg-beta</p>
</div>
<div class="lg-alpha2 inside-3 outside-y-1 t-center">
  <p>.lg-alpha2</p>
</div>
<div class="lg-beta2 inside-3 outside-y-1 t-center">
  <p>.lg-beta2</p>
</div>
<div class="bg-alpha bgi-calendar inside-5 outside-y-1 t-center">
  <p>.bgi-calendar</p>
</div>
<div class="bg-alpha bgi-calendar2 inside-5 outside-y-1 t-center">
  <p>.bgi-calendar2</p>
</div>
<div class="bg-alpha bgi-rocket inside-5 outside-y-1 t-center">
  <p>.bgi-rocket</p>
</div>
<div class="bg-alpha bgi-rocket2 inside-5 outside-y-1 t-center">
  <p>.bgi-rocket2</p>
</div>
<div class="bg-alpha bgi-pen inside-5 outside-y-1 t-center">
  <p>.bgi-pen</p>
</div>
<div class="bg-alpha bgi-pen2 inside-5 outside-y-1 t-center">
  <p>.bgi-pen2</p>
</div>
<div class="bg-alpha bgi-quote inside-5 outside-y-1 t-center">
  <p>.bgi-quote</p>
</div>
<div class="bg-alpha bgi-quote2 inside-5 outside-y-1 t-center">
  <p>.bgi-quote2</p>
</div>
<div class="bg-alpha bgi-languages inside-5 outside-y-1 t-center">
  <p>.bgi-languages</p>
</div>
<div class="bg-alpha bgi-languages2 inside-5 outside-y-1 t-center">
  <p>.bgi-languages2</p>
</div>
<div class="bg-alpha bgi-calendar bgi--tr inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--tr</p>
</div>
<div class="bg-alpha bgi-calendar bgi--tl inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--tl</p>
</div>
<div class="bg-alpha bgi-calendar bgi--bl inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--bl</p>
</div>
<div class="bg-alpha bgi-calendar bgi--c inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--c</p>
</div>
<div class="bg-alpha bgi-calendar bgi--opacity inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--opacity</p>
</div>
<div class="bg-alpha bgi-calendar bgi--shadow inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--shadow</p>
</div>
<div class="bg-alpha bgi-calendar bgi--small inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--small</p>
</div>
<div class="bg-alpha bgi-calendar bgi--cover inside-5 outside-y-1 t-center">
  <p>.bgi-calendar.bgi--cover</p>
</div>

