// Buttons
//
// Weight: 600
//
// Styleguide Buttons

// Native Buttons
//
// Markup: _button-native.html
//
// :hover - Button hover.
// :active - Button active.
// .button--alpha - Alternative button
// .button--alpha:hover - Alternative button hover
// .button--alpha:active - Alternative button active
// .button--beta - Alternative button
// .button--beta:hover - Alternative button hover
// .button--beta:active - Alternative button active
// .button--sm - Small button
// .button--sm:hover - Small button hover.
// .button--sm:active - Small button active.
// .button--sm.button--alpha - Alternative small button
// .button--sm.button--alpha:hover - Alternative small button hover
// .button--sm.button--alpha:active - Alternative small button active
// .button--sm.button--beta - Alternative small button
// .button--sm.button--beta:hover - Alternative small button hover
// .button--sm.button--beta:active - Alternative small button active
//
// Weight: 601
//
// Styleguide Buttons.Native

// Combined Buttons
//
// Markup: _button-combined.html
//
// :hover - Button hover.
// :active - Button active.
// .lr-alpha - Alternative button with custom background active
// .lr-alpha:hover - Alternative button with custom background active hover
// .lr-alpha:active - Alternative button with custom background active active
// .lr-beta - Alternative button with custom background active
// .lr-beta:hover - Alternative button with custom background active hover
// .lr-beta:active - Alternative button with custom background active active
// .rr-alpha - Alternative button with custom background active
// .rr-alpha:hover - Alternative button with custom background active hover
// .rr-alpha:active - Alternative button with custom background active active
// .rr-beta - Alternative button with custom background active
// .rr-beta:hover - Alternative button with custom background active hover
// .rr-beta:active - Alternative button with custom background active active
// .button--sm.lr-alpha - Alternative button with custom background active
// .button--sm.lr-alpha:hover - Alternative button with custom background active hover
// .button--sm.lr-alpha:active - Alternative button with custom background active active
// .button--sm.lr-beta - Alternative button with custom background active
// .button--sm.lr-beta:hover - Alternative button with custom background active hover
// .button--sm.lr-beta:active - Alternative button with custom background active active
// .button--sm.rr-alpha - Alternative button with custom background active
// .button--sm.rr-alpha:hover - Alternative button with custom background active hover
// .button--sm.rr-alpha:active - Alternative button with custom background active active
// .button--sm.rr-beta - Alternative button with custom background active
// .button--sm.rr-beta:hover - Alternative button with custom background active hover
// .button--sm.rr-beta:active - Alternative button with custom background active active
//
// Weight: 602
//
// Styleguide Buttons.Combined

.button {
  --button-bg-alpha: #{lighten($color-alpha, 40%)};
  --button-bg-beta: #{lighten($color-beta, 30%)};
  --button-color-alpha: #{darken($color-alpha, 48%)};
  --button-color-beta: #{darken($color-beta, 58%)};
  @extend .fw-bold;
  @extend .ttuc;
  @extend .lsp;
  @extend .brad;
  @extend .bsh--alpha;
  background-color: transparent;
  background-size: 100%;
  color: currentColor;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  line-height: 1.66;
  min-height: 3.6em;
  padding: 1em 2em;
  filter: brightness(100%);

  &:not(.button--sm) {
    @extend .fz-step-0;
  }

  &[href] {
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    filter: brightness(108%);

    &[class*="lr-alpha"] {
      filter: brightness(140%);
    }

    &[class*="lr-beta"] {
      filter: brightness(150%);
    }

    &[class*="rr-alpha"] {
      filter: brightness(130%);
    }

    &[class*="rr-beta"] {
      filter: brightness(140%);
    }
  }
}

.button--alpha {
  background-color: v(button-bg-alpha);
  color: v(button-color-alpha);
}

.button--beta {
  background-color: v(button-bg-beta);
  color: v(button-color-beta);
}

.button--sm {
  @extend .fz-step--1;
  min-height: 2.6em;
  padding: .5em 1em;
}

button,
a {
  &.button {
    border: .1em solid currentColor;
    transition: background-color calc(#{v(duration)} / 2);
    cursor: pointer;

    @media (prefers-reduced-motion) {
      transition: none;
    }

    &:hover,
    &:focus,
    &:active {
      @extend .bsh--beta;

      &[href] {
        text-decoration: none;
      }
    }

    &:active {
      transform: scale(0.975);
      transform-origin: center;
    }
  }
}
