// Colors
//
// Colors:
// $color-alpha: #12e09f - --color-alpha
// $color-beta: #ff3366 - --color-beta
// $color-white: #fff - --color-white
// $color-black: #111 - --color-white
//
// Weight: 100
//
// Styleguide Colors

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

:root {
  --alpha: #{$color-alpha};
  --beta: #{$color-beta};
  --white: #{$color-white};
  --black: #{$color-black};
}
