<div class="lg-alpha inside-3 outside-y-1 t-center">
  <p>.lg-alpha</p>
</div>
<div class="lg-beta inside-3 outside-y-1 t-center">
  <p>.lg-beta</p>
</div>
<div class="lg-alpha-50 inside-3 outside-y-1 t-center">
  <p>.lg-alpha-50</p>
</div>
<div class="lg-beta-50 inside-3 outside-y-1 t-center">
  <p>.lg-beta-50</p>
</div>
<div class="lg-gamma inside-3 outside-y-1 t-center">
  <p>.lg-gamma</p>
</div>
<div class="lg-gamma-invert inside-3 outside-y-1 t-center">
  <p>.lg-gamma-invert</p>
</div>
<div class="lg-delta inside-3 outside-y-1 t-center">
  <p>.lg-delta</p>
</div>
<div class="lg-delta-invert inside-3 outside-y-1 t-center">
  <p>.lg-delta-invert</p>
</div>
<div class="lg-gamma-50 inside-3 outside-y-1 t-center">
  <p>.lg-gamma-50</p>
</div>
<div class="lg-gamma-invert-50 inside-3 outside-y-1 t-center">
  <p>.lg-gamma-invert-50</p>
</div>
<div class="lg-delta-50 inside-3 outside-y-1 t-center">
  <p>.lg-delta-50</p>
</div>
<div class="lg-delta-invert-50 inside-3 outside-y-1 t-center">
  <p>.lg-delta-invert-50</p>
</div>
<div class="lg-gamma lg-fat inside-3 outside-y-1 t-center">
  <p>.lg-gamma.lg-fat</p>
</div>
<div class="lg-gamma lg-fat-invert inside-3 outside-y-1 t-center">
  <p>.lg-gamma.lg-fat-invert</p>
</div>
<div class="lg-delta lg-fat inside-3 outside-y-1 t-center">
  <p>.lg-delta.lg-fat</p>
</div>
<div class="lg-delta lg-fat-invert inside-3 outside-y-1 t-center">
  <p>.lg-delta.lg-fat-invert</p>
</div>
<div class="lg-gamma-50 lg-fat inside-3 outside-y-1 t-center">
  <p>.lg-gamma-50.lg-fat</p>
</div>
<div class="lg-gamma-50 lg-fat-invert inside-3 outside-y-1 t-center">
  <p>.lg-gamma-50.lg-fat-invert</p>
</div>
<div class="lg-delta-50 lg-fat inside-3 outside-y-1 t-center">
  <p>.lg-delta-50.lg-fat</p>
</div>
<div class="lg-delta-50 lg-fat-invert inside-3 outside-y-1 t-center">
  <p>.lg-delta-50.lg-fat-invert</p>
</div>
<div class="lg-gamma lg-regular inside-3 outside-y-1 t-center">
  <p>.lg-gamma.lg-regular</p>
</div>
<div class="lg-gamma lg-regular-invert inside-3 outside-y-1 t-center">
  <p>.lg-gamma.lg-regular-invert</p>
</div>
<div class="lg-delta lg-regular inside-3 outside-y-1 t-center">
  <p>.lg-delta.lg-regular</p>
</div>
<div class="lg-delta lg-regular-invert inside-3 outside-y-1 t-center">
  <p>.lg-delta.lg-regular-invert</p>
</div>
<div class="lg-gamma lg-slim inside-3 outside-y-1 t-center">
  <p>.lg-gamma.lg-slim</p>
</div>
<div class="lg-gamma lg-slim-invert inside-3 outside-y-1 t-center">
  <p>.lg-gamma.lg-slim-invert</p>
</div>
<div class="lg-delta lg-slim inside-3 outside-y-1 t-center">
  <p>.lg-delta.lg-slim</p>
</div>
<div class="lg-delta lg-slim-invert inside-3 outside-y-1 t-center">
  <p>.lg-delta.lg-slim-invert</p>
</div>
<div class="lg-gamma-50 lg-slim inside-3 outside-y-1 t-center">
  <p>.lg-gamma-50.lg-slim</p>
</div>
<div class="lg-gamma-50 lg-slim-invert inside-3 outside-y-1 t-center">
  <p>.lg-gamma-50.lg-slim-invert</p>
</div>
<div class="lg-delta-50 lg-slim inside-3 outside-y-1 t-center">
  <p>.lg-delta-50.lg-slim</p>
</div>
<div class="lg-delta-50 lg-slim-invert inside-3 outside-y-1 t-center">
  <p>.lg-delta-50.lg-slim-invert</p>
</div>
