// Colors
//
// Weight: 100
//
// Styleguide Colors

// Definitions
//
// Colors:
// $color-alpha: #12e09f - --color-alpha
// $color-beta: #ff3366 - --color-beta
// $color-light: #fff - --color-light
// $color-dark: #111 - --color-light
//
// Weight: 101
//
// Styleguide Colors.Definitions

// Text
//
// Markup: _colors-text.html
//
// Weight: 102
//
// Styleguide Colors.Text

[class*="text-"] {
  color: var(--text-color);
}

.text-alpha {
  --text-color: #{darken($color-alpha, 25%)};
}

.text-beta {
  --text-color: #{darken($color-beta, 25%)};
}

.text-light {
  --text-color: #{$color-light};
}

.text-dark {
  --text-color: #{$color-dark};
}
