<div class="bgc-alpha inside-3 outside-y-1">
  <p>.bgc-alpha</p>
</div>
<div class="bgc-beta inside-3 outside-y-1">
  <p>.bgc-beta</p>
</div>
<div class="bgc-alpha-50 inside-3 outside-y-1">
  <p>.bgc-alpha-50</p>
</div>
<div class="bgc-beta-50 inside-3 outside-y-1">
  <p>.bgc-beta-50</p>
</div>
<div class="bgc2-alpha inside-3 outside-y-1">
  <p>.bgc2-alpha</p>
</div>
<div class="bgc2-beta inside-3 outside-y-1">
  <p>.bgc2-beta</p>
</div>
<div class="bgc2-alpha-50 inside-3 outside-y-1">
  <p>.bgc2-alpha-50</p>
</div>
<div class="bgc2-beta-50 inside-3 outside-y-1">
  <p>.bgc2-beta-50</p>
</div>
<div class="bgc2-alpha bgc2-fat inside-3 outside-y-1">
  <p>.bgc2-alpha.bgc2-fat</p>
</div>
<div class="bgc2-beta bgc2-fat inside-3 outside-y-1">
  <p>.bgc2-beta.bgc2-fat</p>
</div>
<div class="bgc2-alpha-50 bgc2-fat inside-3 outside-y-1">
  <p>.bgc2-alpha-50.bgc2-fat</p>
</div>
<div class="bgc2-beta-50 bgc2-fat inside-3 outside-y-1">
  <p>.bgc2-beta-50.bgc2-fat</p>
</div>
<div class="bgc2-alpha bgc2-slim inside-3 outside-y-1">
  <p>.bgc2-alpha.bgc2-slim</p>
</div>
<div class="bgc2-beta bgc2-slim inside-3 outside-y-1">
  <p>.bgc2-beta.bgc2-slim</p>
</div>
<div class="bgc2-alpha-50 bgc2-slim inside-3 outside-y-1">
  <p>.bgc2-alpha-50.bgc2-slim</p>
</div>
<div class="bgc2-beta-50 bgc2-slim inside-3 outside-y-1">
  <p>.bgc2-beta-50.bgc2-slim</p>
</div>
<div class="bgc-alpha-light-10 inside-3 outside-y-1">
  <div>.bgc-alpha-light-10</div>
</div>
<div class="bgc-alpha-light-20 inside-3 outside-y-1">
  <div>.bgc-alpha-light-20</div>
</div>
<div class="bgc-alpha-light-30 inside-3 outside-y-1">
  <div>.bgc-alpha-light-30</div>
</div>
<div class="bgc-alpha-light-40 inside-3 outside-y-1">
  <div>.bgc-alpha-light-40</div>
</div>
<div class="bgc-alpha-light-50 inside-3 outside-y-1">
  <div>.bgc-alpha-light-50</div>
</div>
<div class="bgc-alpha-light-60 inside-3 outside-y-1">
  <div>.bgc-alpha-light-60</div>
</div>
<div class="bgc-alpha-light-70 inside-3 outside-y-1">
  <div>.bgc-alpha-light-70</div>
</div>
<div class="bgc-alpha-light-80 inside-3 outside-y-1">
  <div>.bgc-alpha-light-80</div>
</div>
<div class="bgc-alpha-light-90 inside-3 outside-y-1">
  <div>.bgc-alpha-light-90</div>
</div>
<div class="bgc-alpha-light-100 inside-3 outside-y-1">
  <div>.bgc-alpha-light-100</div>
</div>
<div class="bgc-alpha-dark-10 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-10</div>
</div>
<div class="bgc-alpha-dark-20 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-20</div>
</div>
<div class="bgc-alpha-dark-30 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-30</div>
</div>
<div class="bgc-alpha-dark-40 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-40</div>
</div>
<div class="bgc-alpha-dark-50 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-50</div>
</div>
<div class="bgc-alpha-dark-60 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-60</div>
</div>
<div class="bgc-alpha-dark-70 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-70</div>
</div>
<div class="bgc-alpha-dark-80 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-80</div>
</div>
<div class="bgc-alpha-dark-90 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-90</div>
</div>
<div class="bgc-alpha-dark-100 inside-3 outside-y-1">
  <div>.bgc-alpha-dark-100</div>
</div>
<div class="bgc-beta-light-10 inside-3 outside-y-1">
  <div>.bgc-beta-light-10</div>
</div>
<div class="bgc-beta-light-20 inside-3 outside-y-1">
  <div>.bgc-beta-light-20</div>
</div>
<div class="bgc-beta-light-30 inside-3 outside-y-1">
  <div>.bgc-beta-light-30</div>
</div>
<div class="bgc-beta-light-40 inside-3 outside-y-1">
  <div>.bgc-beta-light-40</div>
</div>
<div class="bgc-beta-light-50 inside-3 outside-y-1">
  <div>.bgc-beta-light-50</div>
</div>
<div class="bgc-beta-light-60 inside-3 outside-y-1">
  <div>.bgc-beta-light-60</div>
</div>
<div class="bgc-beta-light-70 inside-3 outside-y-1">
  <div>.bgc-beta-light-70</div>
</div>
<div class="bgc-beta-light-80 inside-3 outside-y-1">
  <div>.bgc-beta-light-80</div>
</div>
<div class="bgc-beta-light-90 inside-3 outside-y-1">
  <div>.bgc-beta-light-90</div>
</div>
<div class="bgc-beta-light-100 inside-3 outside-y-1">
  <div>.bgc-beta-light-100</div>
</div>
<div class="bgc-beta-dark-10 inside-3 outside-y-1">
  <div>.bgc-beta-dark-10</div>
</div>
<div class="bgc-beta-dark-20 inside-3 outside-y-1">
  <div>.bgc-beta-dark-20</div>
</div>
<div class="bgc-beta-dark-30 inside-3 outside-y-1">
  <div>.bgc-beta-dark-30</div>
</div>
<div class="bgc-beta-dark-40 inside-3 outside-y-1">
  <div>.bgc-beta-dark-40</div>
</div>
<div class="bgc-beta-dark-50 inside-3 outside-y-1">
  <div>.bgc-beta-dark-50</div>
</div>
<div class="bgc-beta-dark-60 inside-3 outside-y-1">
  <div>.bgc-beta-dark-60</div>
</div>
<div class="bgc-beta-dark-70 inside-3 outside-y-1">
  <div>.bgc-beta-dark-70</div>
</div>
<div class="bgc-beta-dark-80 inside-3 outside-y-1">
  <div>.bgc-beta-dark-80</div>
</div>
<div class="bgc-beta-dark-90 inside-3 outside-y-1">
  <div>.bgc-beta-dark-90</div>
</div>
<div class="bgc-beta-dark-100 inside-3 outside-y-1">
  <div>.bgc-beta-dark-100</div>
</div>
<div class="c-alpha-light-10 inside-3 outside-y-1">
  <div>.c-alpha-light-10</div>
</div>
<div class="c-alpha-light-20 inside-3 outside-y-1">
  <div>.c-alpha-light-20</div>
</div>
<div class="c-alpha-light-30 inside-3 outside-y-1">
  <div>.c-alpha-light-30</div>
</div>
<div class="c-alpha-light-40 inside-3 outside-y-1">
  <div>.c-alpha-light-40</div>
</div>
<div class="c-alpha-light-50 inside-3 outside-y-1">
  <div>.c-alpha-light-50</div>
</div>
<div class="c-alpha-light-60 inside-3 outside-y-1">
  <div>.c-alpha-light-60</div>
</div>
<div class="c-alpha-light-70 inside-3 outside-y-1">
  <div>.c-alpha-light-70</div>
</div>
<div class="c-alpha-light-80 inside-3 outside-y-1">
  <div>.c-alpha-light-80</div>
</div>
<div class="c-alpha-light-90 inside-3 outside-y-1">
  <div>.c-alpha-light-90</div>
</div>
<div class="c-alpha-light-100 inside-3 outside-y-1">
  <div>.c-alpha-light-100</div>
</div>
<div class="c-alpha-dark-10 inside-3 outside-y-1">
  <div>.c-alpha-dark-10</div>
</div>
<div class="c-alpha-dark-20 inside-3 outside-y-1">
  <div>.c-alpha-dark-20</div>
</div>
<div class="c-alpha-dark-30 inside-3 outside-y-1">
  <div>.c-alpha-dark-30</div>
</div>
<div class="c-alpha-dark-40 inside-3 outside-y-1">
  <div>.c-alpha-dark-40</div>
</div>
<div class="c-alpha-dark-50 inside-3 outside-y-1">
  <div>.c-alpha-dark-50</div>
</div>
<div class="c-alpha-dark-60 inside-3 outside-y-1">
  <div>.c-alpha-dark-60</div>
</div>
<div class="c-alpha-dark-70 inside-3 outside-y-1">
  <div>.c-alpha-dark-70</div>
</div>
<div class="c-alpha-dark-80 inside-3 outside-y-1">
  <div>.c-alpha-dark-80</div>
</div>
<div class="c-alpha-dark-90 inside-3 outside-y-1">
  <div>.c-alpha-dark-90</div>
</div>
<div class="c-alpha-dark-100 inside-3 outside-y-1">
  <div>.c-alpha-dark-100</div>
</div>
<div class="c-beta-light-10 inside-3 outside-y-1">
  <div>.c-beta-light-10</div>
</div>
<div class="c-beta-light-20 inside-3 outside-y-1">
  <div>.c-beta-light-20</div>
</div>
<div class="c-beta-light-30 inside-3 outside-y-1">
  <div>.c-beta-light-30</div>
</div>
<div class="c-beta-light-40 inside-3 outside-y-1">
  <div>.c-beta-light-40</div>
</div>
<div class="c-beta-light-50 inside-3 outside-y-1">
  <div>.c-beta-light-50</div>
</div>
<div class="c-beta-light-60 inside-3 outside-y-1">
  <div>.c-beta-light-60</div>
</div>
<div class="c-beta-light-70 inside-3 outside-y-1">
  <div>.c-beta-light-70</div>
</div>
<div class="c-beta-light-80 inside-3 outside-y-1">
  <div>.c-beta-light-80</div>
</div>
<div class="c-beta-light-90 inside-3 outside-y-1">
  <div>.c-beta-light-90</div>
</div>
<div class="c-beta-light-100 inside-3 outside-y-1">
  <div>.c-beta-light-100</div>
</div>
<div class="c-beta-dark-10 inside-3 outside-y-1">
  <div>.c-beta-dark-10</div>
</div>
<div class="c-beta-dark-20 inside-3 outside-y-1">
  <div>.c-beta-dark-20</div>
</div>
<div class="c-beta-dark-30 inside-3 outside-y-1">
  <div>.c-beta-dark-30</div>
</div>
<div class="c-beta-dark-40 inside-3 outside-y-1">
  <div>.c-beta-dark-40</div>
</div>
<div class="c-beta-dark-50 inside-3 outside-y-1">
  <div>.c-beta-dark-50</div>
</div>
<div class="c-beta-dark-60 inside-3 outside-y-1">
  <div>.c-beta-dark-60</div>
</div>
<div class="c-beta-dark-70 inside-3 outside-y-1">
  <div>.c-beta-dark-70</div>
</div>
<div class="c-beta-dark-80 inside-3 outside-y-1">
  <div>.c-beta-dark-80</div>
</div>
<div class="c-beta-dark-90 inside-3 outside-y-1">
  <div>.c-beta-dark-90</div>
</div>
<div class="c-beta-dark-100 inside-3 outside-y-1">
  <div>.c-beta-dark-100</div>
</div>
