<div class="df outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df</div>
</div>
<div class="dif outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.dif</div>
  <div class="inside-4 lg-alpha-50 outside-1">.dif</div>
</div>
<div class="df-col outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.df-col</div>
  <div class="inside-4 lg-beta-50 outside-1">.df-col</div>
</div>
<div class="dif-col outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.dif-col</div>
  <div class="inside-4 lg-beta-50 outside-1">.dif-col</div>
</div>
<div class="df-center outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df-center</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df-center</div>
</div>
<div class="dif-center outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.dif-center</div>
  <div class="inside-4 lg-alpha-50 outside-1">.dif-center</div>
</div>
<hr>
<div class="df-bp1 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.df-bp1</div>
  <div class="inside-4 lg-beta-50 outside-1">.df-bp1</div>
</div>
<div class="dif-bp1 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.dif-bp1</div>
  <div class="inside-4 lg-beta-50 outside-1">.dif-bp1</div>
</div>
<div class="df-col-bp1 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df-col-bp1</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df-col-bp1</div>
</div>
<div class="dif-col-bp1 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.dif-col-bp1</div>
  <div class="inside-4 lg-alpha-50 outside-1">.dif-col-bp1</div>
</div>
<div class="df-center-bp1 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.df-center-bp1</div>
  <div class="inside-4 lg-beta-50 outside-1">.df-center-bp1</div>
</div>
<div class="dif-center-bp1 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.dif-center-bp1</div>
  <div class="inside-4 lg-beta-50 outside-1">.dif-center-bp1</div>
</div>
<hr>
<div class="df-bp2 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df-bp2</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df-bp2</div>
</div>
<div class="dif-bp2 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.dif-bp2</div>
  <div class="inside-4 lg-alpha-50 outside-1">.dif-bp2</div>
</div>
<div class="df-col-bp2 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.df-col-bp2</div>
  <div class="inside-4 lg-beta-50 outside-1">.df-col-bp2</div>
</div>
<div class="dif-col-bp2 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.dif-col-bp2</div>
  <div class="inside-4 lg-beta-50 outside-1">.dif-col-bp2</div>
</div>
<div class="df-center-bp2 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df-center-bp2</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df-center-bp2</div>
</div>
<div class="dif-center-bp2 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df-center-bp2</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df-center-bp2</div>
</div>
<hr>
<div class="df-bp3 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.df-bp3</div>
  <div class="inside-4 lg-beta-50 outside-1">.df-bp3</div>
</div>
<div class="dif-bp3 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.dif-bp3</div>
  <div class="inside-4 lg-beta-50 outside-1">.dif-bp3</div>
</div>
<div class="df-col-bp3 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.df-col-bp3</div>
  <div class="inside-4 lg-alpha-50 outside-1">.df-col-bp3</div>
</div>
<div class="dif-col-bp3 outside-1">
  <div class="inside-4 lg-alpha-50 outside-1">.dif-col-bp3</div>
  <div class="inside-4 lg-alpha-50 outside-1">.dif-col-bp3</div>
</div>
<div class="df-center-bp3 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.df-center-bp3</div>
  <div class="inside-4 lg-beta-50 outside-1">.df-center-bp3</div>
</div>
<div class="dif-center-bp3 outside-1">
  <div class="inside-4 lg-beta-50 outside-1">.dif-center-bp3</div>
  <div class="inside-4 lg-beta-50 outside-1">.dif-center-bp3</div>
</div>
