// Display
//
// Markup: _display.html
//
// Weight: 500
//
// Styleguide Display

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
  flex-wrap: wrap;
}

.df-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.df-justify {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.df-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.df-col {
  display: flex;
  flex-direction: column;
}

.df-col-center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include mq($until: bp1) {
  .df {
    display: flex;
    flex-wrap: wrap;
  }

  .df-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .df-justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .df-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .df-col {
    display: flex;
    flex-direction: column;
  }

  .df-col-center {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@include mq($until: bp2) {
  .df {
    display: flex;
    flex-wrap: wrap;
  }

  .df-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .df-justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .df-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .df-col {
    display: flex;
    flex-direction: column;
  }

  .df-col-center {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@include mq($until: bp3) {
  .df {
    display: flex;
    flex-wrap: wrap;
  }

  .df-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .df-justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .df-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .df-col {
    display: flex;
    flex-direction: column;
  }

  .df-col-center {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
