<div class="df outside-1">
  <div class="inside-4 bgc-alpha-50 outside-1">.df</div>
  <div class="inside-4 bgc-alpha-50 outside-1">.df</div>
</div>
<div class="df-col outside-1">
  <div class="inside-4 bgc-beta-50 outside-1">.df-col</div>
  <div class="inside-4 bgc-beta-50 outside-1">.df-col</div>
</div>
<div class="df-center outside-1">
  <div class="inside-4 bgc-alpha-50 outside-1">.df-center</div>
  <div class="inside-4 bgc-alpha-50 outside-1">.df-center</div>
</div>
<hr>
<div class="df-bp1 outside-1">
  <div class="inside-4 bgc-beta-50 outside-1">.df-bp1</div>
  <div class="inside-4 bgc-beta-50 outside-1">.df-bp1</div>
</div>
<div class="df-col-bp1 outside-1">
  <div class="inside-4 bgc-alpha-50 outside-1">.df-col-bp1</div>
  <div class="inside-4 bgc-alpha-50 outside-1">.df-col-bp1</div>
</div>
<div class="df-center-bp1 outside-1">
  <div class="inside-4 bgc-beta-50 outside-1">.df-center-bp1</div>
  <div class="inside-4 bgc-beta-50 outside-1">.df-center-bp1</div>
</div>
<hr>
<div class="df-bp2 outside-1">
  <div class="inside-4 bgc-alpha-50 outside-1">.df-bp2</div>
  <div class="inside-4 bgc-alpha-50 outside-1">.df-bp2</div>
</div>
<div class="df-col-bp2 outside-1">
  <div class="inside-4 bgc-beta-50 outside-1">.df-col-bp2</div>
  <div class="inside-4 bgc-beta-50 outside-1">.df-col-bp2</div>
</div>
<div class="df-center-bp2 outside-1">
  <div class="inside-4 bgc-alpha-50 outside-1">.df-center-bp2</div>
  <div class="inside-4 bgc-alpha-50 outside-1">.df-center-bp2</div>
</div>
<hr>
<div class="df-bp3 outside-1">
  <div class="inside-4 bgc-beta-50 outside-1">.df-bp3</div>
  <div class="inside-4 bgc-beta-50 outside-1">.df-bp3</div>
</div>
<div class="df-col-bp3 outside-1">
  <div class="inside-4 bgc-alpha-50 outside-1">.df-col-bp3</div>
  <div class="inside-4 bgc-alpha-50 outside-1">.df-col-bp3</div>
</div>
<div class="df-center-bp3 outside-1">
  <div class="inside-4 bgc-beta-50 outside-1">.df-center-bp3</div>
  <div class="inside-4 bgc-beta-50 outside-1">.df-center-bp3</div>
</div>
