// Display
//
// Markup: _display.html
//
// Weight: 500
//
// Styleguide Display

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
  flex-wrap: wrap;
}

.dif {
  display: inline-flex;
  flex-wrap: wrap;
}

.df-col {
  display: flex;
  flex-direction: column;
}

.dif-col {
  display: inline-flex;
  flex-direction: column;
}

.df-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@include mq($until: bp1) {
  .df-bp1 {
    display: flex;
    flex-wrap: wrap;
  }

  .dif-bp1 {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .df-col-bp1 {
    display: flex;
    flex-direction: column;
  }

  .dif-col-bp1 {
    display: inline-flex;
    flex-direction: column;
  }

  .df-center-bp1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@include mq($until: bp2) {
  .df-bp2 {
    display: flex;
    flex-wrap: wrap;
  }

  .dif-bp2 {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .df-col-bp2 {
    display: flex;
    flex-direction: column;
  }

  .dif-col-bp2 {
    display: inline-flex;
    flex-direction: column;
  }

  .df-center-bp2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@include mq($until: bp3) {
  .df-bp3 {
    display: flex;
    flex-wrap: wrap;
  }

  .dif-bp3 {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .df-col-bp3 {
    display: flex;
    flex-direction: column;
  }

  .dif-col-bp3 {
    display: inline-flex;
    flex-direction: column;
  }

  .df-center-bp3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
