<div class="df outside-1">
  <div class="inside-5 bg-alpha outside-1">.df</div>
  <div class="inside-4 bg-alpha outside-1">.df</div>
</div>
<div class="df-align outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-align</div>
  <div class="inside-4 bg-alpha outside-1">.df-align</div>
</div>
<div class="df-justify outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-justify</div>
  <div class="inside-4 bg-alpha outside-1">.df-justify</div>
</div>
<div class="df-center outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-center</div>
  <div class="inside-4 bg-alpha outside-1">.df-center</div>
</div>
<div class="df-col outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col</div>
  <div class="inside-4 bg-alpha outside-1">.df-col</div>
</div>
<div class="df-col-center outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-center</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-center</div>
</div>
<hr>
<div class="df-bp1 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-bp1</div>
  <div class="inside-4 bg-alpha outside-1">.df-bp1</div>
</div>
<div class="df-align-bp1 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-align-bp1</div>
  <div class="inside-4 bg-alpha outside-1">.df-align-bp1</div>
</div>
<div class="df-justify-bp1 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-justify-bp1</div>
  <div class="inside-4 bg-alpha outside-1">.df-justify-bp1</div>
</div>
<div class="df-center-bp1 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-center-bp1</div>
  <div class="inside-4 bg-alpha outside-1">.df-center-bp1</div>
</div>
<div class="df-col-bp1 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-bp1</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-bp1</div>
</div>
<div class="df-col-center-bp1 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-center-bp1</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-center-bp1</div>
</div>
<hr>
<div class="df-bp2 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-bp2</div>
  <div class="inside-4 bg-alpha outside-1">.df-bp2</div>
</div>
<div class="df-align-bp2 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-align-bp2</div>
  <div class="inside-4 bg-alpha outside-1">.df-align-bp2</div>
</div>
<div class="df-justify-bp2 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-justify-bp2</div>
  <div class="inside-4 bg-alpha outside-1">.df-justify-bp2</div>
</div>
<div class="df-center-bp2 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-center-bp2</div>
  <div class="inside-4 bg-alpha outside-1">.df-center-bp2</div>
</div>
<div class="df-col-bp2 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-bp2</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-bp2</div>
</div>
<div class="df-col-center-bp2 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-center-bp2</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-center-bp2</div>
</div>
<hr>
<div class="df-bp3 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-bp3</div>
  <div class="inside-4 bg-alpha outside-1">.df-bp3</div>
</div>
<div class="df-align-bp3 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-align-bp3</div>
  <div class="inside-4 bg-alpha outside-1">.df-align-bp3</div>
</div>
<div class="df-justify-bp3 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-justify-bp3</div>
  <div class="inside-4 bg-alpha outside-1">.df-justify-bp3</div>
</div>
<div class="df-center-bp3 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-center-bp3</div>
  <div class="inside-4 bg-alpha outside-1">.df-center-bp3</div>
</div>
<div class="df-col-bp3 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-bp3</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-bp3</div>
</div>
<div class="df-col-center-bp3 outside-1">
  <div class="inside-5 bg-alpha outside-1">.df-col-center-bp3</div>
  <div class="inside-4 bg-alpha outside-1">.df-col-center-bp3</div>
</div>
<hr>
