// Typography
//
// Markup: _fonts-typography.html
//
// Weight: 20
//
// Styleguide Fonts.Typography

/* @link https://utopia.fyi/generator?c=300,16,1.2,1500,19,1.2,6,2, */

:root {
  --font-alpha: 'Playfair Display';
  --font-beta: 'Courier New', Courier, monospace;

  --fluid-min-width: #{strip-unit($bp1)};
  --fluid-max-width: #{strip-unit($bp3)};
  --fluid-min-size: #{strip-unit($min-size)};
  --fluid-max-size: #{strip-unit($max-size)};
  --fluid-min-ratio: #{$min-ratio};
  --fluid-max-ratio: #{$max-ratio};

  --fluid-screen: 100vw;
  --fluid-bp: calc((#{v(fluid-screen)} - ((#{v(fluid-min-width)} / 16) * 1rem)) / ((#{v(fluid-max-width)} / 16) - (#{v(fluid-min-width)} / 16)));
}

@include mq($from: bp3) {
  :root {
    --fluid-screen: calc(#{v(fluid-max-width)} * 1px);
  }
}

:root {
  --fluid-max-negative: (1 / #{v(fluid-max-ratio)} / #{v(fluid-max-ratio)});
  --fluid-min-negative: (1 / #{v(fluid-min-ratio)} / #{v(fluid-min-ratio)});

  --fluid-min-scale--2: #{v(fluid-min-scale--1)} * #{v(fluid-min-ratio)} * #{v(fluid-min-negative)};
  --fluid-max-scale--2: #{v(fluid-max-scale--1)} * #{v(fluid-max-ratio)} * #{v(fluid-max-negative)};
  --fluid-min-size--2: (#{v(fluid-min-size)} * #{v(fluid-min-scale--2)}) / 16;
  --fluid-max-size--2: (#{v(fluid-max-size)} * #{v(fluid-max-scale--2)}) / 16;
  --step--2: calc(((#{v(fluid-min-size--2)} * 1rem) + (#{v(fluid-max-size--2)} - #{v(fluid-min-size--2)}) * #{v(fluid-bp)}));

  --fluid-min-scale--1: #{v(fluid-min-ratio)} * #{v(fluid-min-negative)};
  --fluid-max-scale--1: #{v(fluid-max-ratio)} * #{v(fluid-max-negative)};
  --fluid-min-size--1: (#{v(fluid-min-size)} * #{v(fluid-min-scale--1)}) / 16;
  --fluid-max-size--1: (#{v(fluid-max-size)} * #{v(fluid-max-scale--1)}) / 16;
  --step--1: calc(((#{v(fluid-min-size--1)} * 1rem) + (#{v(fluid-max-size--1)} - #{v(fluid-min-size--1)}) * #{v(fluid-bp)}));

  --fluid-min-scale-0: #{v(fluid-min-ratio)};
  --fluid-max-scale-0: #{v(fluid-max-ratio)};
  --fluid-min-size-0: (#{v(fluid-min-size)}) / 16;
  --fluid-max-size-0: (#{v(fluid-max-size)}) / 16;
  --step-0: calc(((#{v(fluid-min-size-0)} * 1rem) + (#{v(fluid-max-size-0)} - #{v(fluid-min-size-0)}) * #{v(fluid-bp)}));

  --fluid-min-scale-1: #{v(fluid-min-scale-0)} * #{v(fluid-min-ratio)};
  --fluid-max-scale-1: #{v(fluid-max-scale-0)} * #{v(fluid-max-ratio)};
  --fluid-min-size-1: (#{v(fluid-min-size)} * #{v(fluid-min-scale-0)}) / 16;
  --fluid-max-size-1: (#{v(fluid-max-size)} * #{v(fluid-max-scale-0)}) / 16;
  --step-1: calc(((#{v(fluid-min-size-1)} * 1rem) + (#{v(fluid-max-size-1)} - #{v(fluid-min-size-1)}) * #{v(fluid-bp)}));

  --fluid-min-scale-2: #{v(fluid-min-scale-1)} * #{v(fluid-min-ratio)};
  --fluid-max-scale-2: #{v(fluid-max-scale-1)} * #{v(fluid-max-ratio)};
  --fluid-min-size-2: (#{v(fluid-min-size)} * #{v(fluid-min-scale-1)}) / 16;
  --fluid-max-size-2: (#{v(fluid-max-size)} * #{v(fluid-max-scale-1)}) / 16;
  --step-2: calc(((#{v(fluid-min-size-2)} * 1rem) + (#{v(fluid-max-size-2)} - #{v(fluid-min-size-2)}) * #{v(fluid-bp)}));

  --fluid-min-scale-3: #{v(fluid-min-scale-2)} * #{v(fluid-min-ratio)};
  --fluid-max-scale-3: #{v(fluid-max-scale-2)} * #{v(fluid-max-ratio)};
  --fluid-min-size-3: (#{v(fluid-min-size)} * #{v(fluid-min-scale-2)}) / 16;
  --fluid-max-size-3: (#{v(fluid-max-size)} * #{v(fluid-max-scale-2)}) / 16;
  --step-3: calc(((#{v(fluid-min-size-3)} * 1rem) + (#{v(fluid-max-size-3)} - #{v(fluid-min-size-3)}) * #{v(fluid-bp)}));

  --fluid-min-scale-4: #{v(fluid-min-scale-3)} * #{v(fluid-min-ratio)};
  --fluid-max-scale-4: #{v(fluid-max-scale-3)} * #{v(fluid-max-ratio)};
  --fluid-min-size-4: (#{v(fluid-min-size)} * #{v(fluid-min-scale-3)}) / 16;
  --fluid-max-size-4: (#{v(fluid-max-size)} * #{v(fluid-max-scale-3)}) / 16;
  --step-4: calc(((#{v(fluid-min-size-4)} * 1rem) + (#{v(fluid-max-size-4)} - #{v(fluid-min-size-4)}) * #{v(fluid-bp)}));

  --fluid-min-scale-5: #{v(fluid-min-scale-4)} * #{v(fluid-min-ratio)};
  --fluid-max-scale-5: #{v(fluid-max-scale-4)} * #{v(fluid-max-ratio)};
  --fluid-min-size-5: (#{v(fluid-min-size)} * #{v(fluid-min-scale-4)}) / 16;
  --fluid-max-size-5: (#{v(fluid-max-size)} * #{v(fluid-max-scale-4)}) / 16;
  --step-5: calc(((#{v(fluid-min-size-5)} * 1rem) + (#{v(fluid-max-size-5)} - #{v(fluid-min-size-5)}) * #{v(fluid-bp)}));

  --fluid-min-scale-6: #{v(fluid-min-scale-5)} * #{v(fluid-min-ratio)};
  --fluid-max-scale-6: #{v(fluid-max-scale-5)} * #{v(fluid-max-ratio)};
  --fluid-min-size-6: (#{v(fluid-min-size)} * #{v(fluid-min-scale-5)}) / 16;
  --fluid-max-size-6: (#{v(fluid-max-size)} * #{v(fluid-max-scale-5)}) / 16;
  --step-6: calc(((#{v(fluid-min-size-6)} * 1rem) + (#{v(fluid-max-size-6)} - #{v(fluid-min-size-6)}) * #{v(fluid-bp)}));
}

body {
  color: v(black);
  font-family: #{v(font-alpha)};
  font-style: normal;
  font-weight: normal;
  font-size: #{v(step-0)};
  line-height: 1.44;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: v(black);
  color: v(white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 900;
}

h1 {
  font-size: #{v(step-6)};
}

h2 {
  font-size: #{v(step-5)};
}

h3 {
  font-size: #{v(step-4)};
}

h4 {
  font-size: #{v(step-3)};
}

h5 {
  font-size: #{v(step-2)};
}

h6 {
  font-size: #{v(step-1)};
}

pre,
code,
.ffm {
  font-family: #{v(font-beta)};
}

blockquote {
  padding: 0;
  margin: 0;
}

.fs-italic {
  font-style: italic;
}

.fs-normal {
  font-style: normal;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-black {
  font-weight: 900;
}

@for $i from -2 through 6 {
  .fz-step-#{$i} {
    font-size: #{v(step-#{$i})};
  }
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.tdn {
  text-decoration: none;
}

.ttuc {
  text-transform: uppercase;
}

.lsp {
  letter-spacing: .06em;
}
