<h1 style="font-family:'Playfair Display',serif;font-weight:normal;">Playfair Display Regular</h1>
<h1 style="font-family:'Playfair Display',serif;font-weight:normal;font-style:italic;">Playfair Display Italic</h1>
<h1 style="font-family:'Playfair Display',serif;font-weight:bold;">Playfair Display Bold</h1>
<h1 style="font-family:'Playfair Display',serif;font-weight:bold;font-style:italic;">Playfair Display Bold Italic</h1>
<h1 style="font-family:'Playfair Display',serif;font-weight:900;">Playfair Display Black</h1>
<h1 style="font-family:'Playfair Display',serif;font-weight:900;font-style:italic;">Playfair Display Black Italic</h1>
