@function v($var) {
  @return var(--#{$var});
}

:root {
  --transparent-light: rgba(255,255,255,.33);
  --transparent-dark: rgba(0,0,0,.25);
  --transparent-darker: rgba(0,0,0,.5);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 3 {
  .wrapper-bp#{$i} {
    max-width: v(bp#{$i});
  }
}

.brad {
  border-radius: .1em;
}

.bsh--alpha {
  box-shadow: 0 .05em .15em 0 v(transparent-dark);
}

.bsh--beta {
  box-shadow: 0 .05em .3em 0 v(transparent-darker);
}
