@function v($var) {
  @return var(--#{$var});
}

.logo {
  header &,
  footer & {
    display: block;

    img {
      max-height: 50px;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}
