<div class="inside-1 bgc--alpha">.inside-1</div>
<div class="inside-2 bgc--beta">.inside-2</div>
<div class="inside-3 bgc--alpha">.inside-3</div>
<div class="inside-4 bgc--beta">.inside-4</div>
<div class="inside-5 bgc--alpha">.inside-5</div>
<div class="inside-6 bgc--beta">.inside-6</div>

<div class="outside-1 bgc--alpha">.outside-1</div>
<div class="outside-2 bgc--beta">.outside-2</div>
<div class="outside-3 bgc--alpha">.outside-3</div>
<div class="outside-4 bgc--beta">.outside-4</div>
<div class="outside-5 bgc--alpha">.outside-5</div>
<div class="outside-6 bgc--beta">.outside-6</div>

<div class="inside-x-4 bgc--alpha">.inside-x-4</div>
<div class="inside-y-4 bgc--beta">.inside-y-4</div>
<div class="inside-r-4 bgc--alpha">.inside-r-4</div>
<div class="inside-l-4 bgc--beta">.inside-l-4</div>
<div class="inside-t-4 bgc--alpha">.inside-t-4</div>
<div class="inside-b-4 bgc--beta">.inside-b-4</div>

<div class="outside-x-4 bgc--alpha">.outside-x-4</div>
<div class="outside-y-4 bgc--beta">.outside-y-4</div>
<div class="outside-r-4 bgc--alpha">.outside-r-4</div>
<div class="outside-l-4 bgc--beta">.outside-l-4</div>
<div class="outside-t-4 bgc--alpha">.outside-t-4</div>
<div class="outside-b-4 bgc--beta">.outside-b-4</div>
