<div class="lg-alpha inside-1">.inside-1</div>
<div class="lg-beta inside-2">.inside-2</div>
<div class="lg-alpha inside-3">.inside-3</div>
<div class="lg-beta inside-4">.inside-4</div>
<div class="lg-alpha inside-5">.inside-5</div>
<div class="lg-beta inside-6">.inside-6</div>
<hr>
<div class="lg-beta outside-1">.outside-1</div>
<div class="lg-alpha outside-2">.outside-2</div>
<div class="lg-beta outside-3">.outside-3</div>
<div class="lg-alpha outside-4">.outside-4</div>
<div class="lg-beta outside-5">.outside-5</div>
<div class="lg-alpha outside-6">.outside-6</div>
<hr>
<div class="lg-alpha inside-x-4">.inside-x-4</div>
<div class="lg-beta inside-y-4">.inside-y-4</div>
<div class="lg-alpha inside-r-4">.inside-r-4</div>
<div class="lg-beta inside-l-4">.inside-l-4</div>
<div class="lg-alpha inside-t-4">.inside-t-4</div>
<div class="lg-beta inside-b-4">.inside-b-4</div>
<hr>
<div class="lg-alpha outside-x-4">.outside-x-4</div>
<div class="lg-beta outside-y-4">.outside-y-4</div>
<div class="lg-alpha outside-r-4">.outside-r-4</div>
<div class="lg-beta outside-l-4">.outside-l-4</div>
<div class="lg-alpha outside-t-4">.outside-t-4</div>
<div class="lg-beta outside-b-4">.outside-b-4</div>
