<div class="lg-alpha-50 inside-1 lg--alpha">.inside-1</div>
<div class="lg-alpha-50 inside-2 lg--beta">.inside-2</div>
<div class="lg-alpha-50 inside-3 lg--alpha">.inside-3</div>
<div class="lg-alpha-50 inside-4 lg--beta">.inside-4</div>
<div class="lg-alpha-50 inside-5 lg--alpha">.inside-5</div>
<div class="lg-alpha-50 inside-6 lg--beta">.inside-6</div>
<hr>
<div class="lg-alpha-50 outside-1 lg--alpha">.outside-1</div>
<div class="lg-alpha-50 outside-2 lg--beta">.outside-2</div>
<div class="lg-alpha-50 outside-3 lg--alpha">.outside-3</div>
<div class="lg-alpha-50 outside-4 lg--beta">.outside-4</div>
<div class="lg-alpha-50 outside-5 lg--alpha">.outside-5</div>
<div class="lg-alpha-50 outside-6 lg--beta">.outside-6</div>
<hr>
<div class="lg-alpha-50 inside-x-4 lg--alpha">.inside-x-4</div>
<div class="lg-alpha-50 inside-y-4 lg--beta">.inside-y-4</div>
<div class="lg-alpha-50 inside-r-4 lg--alpha">.inside-r-4</div>
<div class="lg-alpha-50 inside-l-4 lg--beta">.inside-l-4</div>
<div class="lg-alpha-50 inside-t-4 lg--alpha">.inside-t-4</div>
<div class="lg-alpha-50 inside-b-4 lg--beta">.inside-b-4</div>
<hr>
<div class="lg-alpha-50 outside-x-4 lg--alpha">.outside-x-4</div>
<div class="lg-alpha-50 outside-y-4 lg--beta">.outside-y-4</div>
<div class="lg-alpha-50 outside-r-4 lg--alpha">.outside-r-4</div>
<div class="lg-alpha-50 outside-l-4 lg--beta">.outside-l-4</div>
<div class="lg-alpha-50 outside-t-4 lg--alpha">.outside-t-4</div>
<div class="lg-alpha-50 outside-b-4 lg--beta">.outside-b-4</div>
