// Breakpoints
$bp1: 600px;
$bp2: 1200px;
$bp3: 1600px;

// Colors
$color-alpha: #12e09f;
$color-beta: #ff3366;
$color-white: #fff;
$color-black: #111;

// Typography
$min-size: 16px;
$max-size: 19px;
$min-ratio: 1.2;
$max-ratio: 1.2;
