{% if tags %}
  {% assign firstTag = tags | first %}
  {% if firstTag == 'blog' or firstTag == 'advent' or firstTag == 'redesign-2024' %}
    {% include '_legacy/hero-gamma' %}
  {% endif %}
{% endif %}
<section class="wrapper margin-top-beta margin-bottom-beta">
  <div class="padding">
    {% if canonical and publication %}
      <div class="copy balance margin-bottom">
        <p class="fs-italic">This article was originally published at <a href="{{ canonical }}">{{ publication }}.</a></p>
      </div>
    {% endif %}
    <div class="copy">{{ content }}</div>
  </div>
</section>
{% if sections3 %}
  <hr class="text-alpha hr">
{% endif %}
{% if sections3 %}
  {% for section in sections3 %}
    {% include '_legacy/sections' %}
  {% endfor %}
{% endif %}
{% if tags %}
  {% if firstTag == 'blog' %}
    <hr class="text-alpha hr">
    {% include '_legacy/banner-gamma' %}
  {% endif %}
{% endif %}
