body {
  background-color: transparentize($color-alpha, 0.99);
  background-image: url('/gfx/png/logo-white-bg.png');
  background-position: top 110px right;
  background-size: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - #{rem(20px)});
  padding: rem(10px);

  @include mq($from: desktop) {
    padding: rem(10px) 0;
    width: $mq--desktop;
  }
}
