.details {
  border-bottom: 1px solid $color-alpha;
  border-top: 1px solid $color-alpha;
  color: $color-alpha;
  display: flex;
  flex-direction: column;
  font-size: ms(-5);
  margin-top: rem(7px);
  padding: rem(5px) rem(8px);
}

.details--footer {
  margin-top: rem(40px);
}

.details__list {
  @include zero-box;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  list-style: none;

  @include mq($from: desktop) {
    align-items: baseline;
    flex-direction: row;
  }
}

.details__item {
  flex: 1 1 auto;

  @include mq($from: desktop) {
    flex: 0 1 auto;

    & + & {
      margin-left: rem(6px);
    }
  }

  .text[href] {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.details__item--separator {
    &:after {
      content: '>';
      margin-left: rem(6px);
    }
  }
}
