.footer {
  background-image: bg-h(lighten($color-alpha, 15%));
  color: $color-gamma;
  font-family: sans-serif;
  font-size: ms(-6);
  margin-top: rem(20px);
  text-align: center;

  &:not(:empty) {
    padding: rem(5px);
  }

  p {
    margin: rem(10px) 0;

    a {
      color: inherit;
    }
  }
}
