.wrapper--home {
  align-items: center;
  display: flex;

  @include mq($from: desktop) {
    width: 100%;
  }

  @include mq($from: wide) {
    width: $mq--wide;
  }
}

.home {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-top: rem(20px);

  a {
    color: inherit;
    text-decoration: none;
    word-break: break-word;

    &:after {
      @include tra;
      content: '→';
      display: inline-block;
      margin-left: rem(10px);
      transform: rotate(-180deg) scale(0);
    }

    &:hover,
    &:focus {
      color: $color-alpha;

      &:after {
        transform: rotate(0deg) scale(1);
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: rem(30px);
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-template-rows: repeat(5, 1fr);

    @include mq($from: desktop) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

.home__box {
  @include tsh($color-beta);
  background-color: darken($color-beta, 3%);
  background-image: url('/gfx/png/sb-flat.png');
  background-position: top 5% right 5%;
  background-repeat: no-repeat;
  background-size: 60px;
  border: 1px solid $color-alpha;
  box-shadow: 0 0 2px 0 darken($color-beta, 10%);
  color: $color-gamma;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15% rem(20px) rem(20px);
  position: relative;

  &:after {
    background-color: adjust-hue($color-alpha, -5%);
    box-shadow: 0 1px 2px -1px $color-gamma, 0 1px 4px -1px $color-gamma;
    content: '';
    height: 4px;
    left: rem(-3px);
    position: absolute;
    right: rem(-3px);
    top: 100%;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(30px);
  }

  h1,
  h3 {
    @include ls(100);
    color: $color-alpha;
  }

  p {
    @include ls(50);
    margin-bottom: 0;
    margin-top: 0;
  }

  ul {
    margin: 0;
  }

  @supports (display: grid) {
    min-height: unset;

    &:not(:last-of-type) {
      margin-bottom: unset;
    }
  }
}
