.pagination {
  margin-top: rem(40px);
  font-size: ms(0);

  p {
    font-weight: bold;
  }
}

.pagination__list {
  @include zero-box();
  list-style: none;
}

.pagination__list--inline {
  display: flex;
  justify-content: space-between;
}

.pagination__item {
  margin-bottom: rem(20px);
}

.pagination__link {
  @include tra;
  color: lighten($color-gamma, 22%);

  &:hover,
  &:focus {
    color: $color-gamma;
  }
}
