extends includes/layout

block content
  include partials/article

  if (page && page.banner1)
    .page-banner
      include partials/banner1
  else if (page && page.banner2)
    .page-banner
      include partials/banner2

  if (page && page.sidebar)
    include partials/sidebar

  if (page && page.portfolio)
    include partials/portfolio

  if (page && page.grid)
    include partials/grid
