extends includes/layout

block content
  include _partials/article

  if (page && page.banner1)
    .page-banner
      include _partials/banner1
  else if (page && page.banner2)
    .page-banner
      include _partials/banner2

  if (page && page.sidebar)
    include _partials/sidebar

  if (page && page.portfolio)
    include _partials/portfolio

  if (page && page.grid)
    include _partials/grid
