link(rel="dns-prefetch", href="https://res.cloudinary.com/")
link(rel="dnsconnect", href="https://res.cloudinary.com/")
link(rel="preload", href="/gfx/svg/logo-header.svg", as="image")
link(rel="preload", href="/css/style.min.css", as="style")
if (isHome())
  link(rel="alternate", type="application/rss+xml", title="RSS Feed for silvestar.codes" href="/rss2.xml")
