link(href="https://res.cloudinary.com/", rel="dns-prefetch")
link(href="https://d33wubrfki0l68.cloudfront.net/", rel="dns-prefetch")
link(href="https://piwik.silvestarbistrovic.from.hr/", rel="dns-prefetch")
link(href="https://res.cloudinary.com/", rel="preconnect", crossorigin="true")
link(href="https://d33wubrfki0l68.cloudfront.net/", rel="preconnect", crossorigin="true")
link(href="https://piwik.silvestarbistrovic.from.hr/", rel="preconnect", crossorigin="true")
script(src="https://instant.page/2.0.0", type="module", defer, integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8")
if (isHome())
  link(rel="alternate", type="application/rss+xml", title="RSS Feed for silvestar.codes" href="/rss2.xml")
