.kwes-form.form(v-cloak="true")
  <svg class="steps" viewBox="0 0 850 250" xmlns="http://www.w3.org/2000/svg">
    <path d="m225 125c0 50-50 100-100 100s-100-50-100-100 50-100 100-100 100 50 100 100h400c0-50 50-100 100-100s100 50 100 100-50 100-100 100-100-50-100-100" fill="none" stroke="#f5f5f5" stroke-linecap="round" stroke-linejoin="round" stroke-width="50"/>
    <path class="steps__path" d="m225 125c0 50-50 100-100 100s-100-50-100-100 50-100 100-100 100 50 100 100h400c0-50 50-100 100-100s100 50 100 100-50 100-100 100-100-50-100-100" fill="none" stroke="#12e09f" stroke-linecap="round" stroke-linejoin="round" stroke-width="50"/>
  </svg>
  form(method="POST", action="https://kwes.io/api/foreign/forms/vbu1VyogUhgQ3qVf73L6", multistep="true")
    form-step(heading="1. Mentoring type")
      label.radio Are you interested in career mentoring or technical mentoring?
      .kw-radio-group
        input#Career(type="radio", name="mentoring", value="Career", label="Career", checked="checked")
        input#Technical(type="radio", name="mentoring", value="Technical", label="Technical")
      .desc
        p
          small Career mentoring means I help you make decisions regarding your career.
        p
          small
            | Technical mentoring means I help you gain new skills or improve the current skill level.
    form-step(heading="2. Contact information")
      label(for="name") What is your name?
      input#name(type="text", name="name", rules="required")
      label(for="email")
        | Please tell me your email address
        small (I would use it only for direct communication)
        | .
      input#email(type="email", name="email", rules="required|email|max:255")
      label(for="note") Tell me why I should mentor you?
      textarea#note(name="note", rules="required", rows="6")
      div(kw-show="fields.mentoring == 'Technical'")
        label(for="note2") Tell me which skills do you want to aquire or approve?
        textarea#note2(name="note2", rules="required_if:mentoring,Technical", rows="6")
