<header class="lg-alpha padding-2 sticky">
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li class="df-center margin-x-auto padding-x-2">
        <a class="rm" href="#">
          <img src="/gfx/svg/logo.svg" alt="Logo" width="100" height="100">
        </a>
      </li>
      <li class="margin-x-a">
        <ul class="df-center list-reset">
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2 fz-step-0">
                <a class="fw-bold padding-y-1 tdn" href="#portfolio">Portfolio</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#side-projects">Side Projects</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#testimonials">Testimonials</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2 fz-step-0">
                <a class="fw-bold padding-y-1 tdn" href="#blog">Blog</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#publications">Publications</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#ui-dev-newsletter">UI Dev Newsletter</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2 fz-step-0">
                <a class="fw-bold padding-y-1 tdn" href="#about">About</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#contact">Contact</a>
              </li>
              <li class="margin-x-2 fz-step--1">
                <a class="fw-bold padding-y-1 tdn" href="#services">Services</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section class="lg-alpha padding-t-0 padding-x-4 padding-b-4">
  <div class="wrapper wrapper-bp3 text-center bg-alpha2 bgi-languages bgi--opacity">
    <div class="padding-4 df-col-center">
      <h1 class="fz-step-5 fw-black margin-b-0">Building <u>modern</u>, <u>responsive</u> and <u>optimized</u> websites since 2012.</h1>
      <h2 class="fz-step-1 fw-bold margin-y-3">Using the <u>best coding practices</u> to deliver the <u>best experience</u> for every user.</h2>
      <a class="button button--alpha margin-t-2" href="#submit">Contact me</a>
    </div>
  </div>
</section>
<section class="padding-4" id="blog">
  <div class="wrapper wrapper-bp2 df-col-center text-center margin-b-4">
    <h2 class="fz-step-5 fw-black margin-t-0 margin-b-1">From the blog</h2>
    <p class="fz-step-0">Here are the latest posts from my blog.</p>
    <p class="fz-step-0 margin-t-0">I cover mostly <b>Frontend</b>, <b>JAMstack</b>, <b>WordPress</b>, and <b>freelancing</b> topics.</p>
    <img src="/gfx/svg/pen2.svg" alt="Logo" width="100" height="100">
  </div>
  <div class="wrapper wrapper-bp3 grid">
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-alpha4 padding-3">
      <h1 class="fz-step-3 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center lg-alpha padding-3">
      <p class="fz-step-0">Do you want to see all articles?</p>
      <a class="fw-bold margin-y-2" href="#more">Go to all articles ⇢</a>
    </div>
  </div>
</section>
<section class="padding-x-4 padding-b-4" id="publications">
  <div class="wrapper wrapper-bp2 df-col-center text-center margin-b-4">
    <h2 class="fz-step-5 fw-black margin-t-0 margin-b-1">From the publications</h2>
    <p class="fz-step-0">Here are the posts that I wrote for some prominent publications.</p>
    <p class="fz-step-0 margin-t-0">I wrote for <b>CSS Tricks</b>, <b>LogRocket</b>, and <b>Toptal</b>.</p>
    <img src="/gfx/svg/pen.svg" alt="Logo" width="100" height="100">
  </div>
  <div class="wrapper wrapper-bp3 grid">
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center bg-beta4 padding-3">
      <h1 class="fz-step-2 fw-black margin-y-2">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm margin-t-0 margin-b-3 padding-x-1">2020-02-20</time>
      <div class="margin-y-1">
        <a class="fw-bold margin-1" href="#tag">wordpress</a>
        <a class="fw-bold margin-1" href="#tag">frontend</a>
        <a class="fw-bold margin-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold margin-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card df-col-center text-center lg-beta padding-3">
      <p class="fz-step-0">Do you want me to write for you?</p>
      <a class="fw-bold margin-y-2" href="#more">Contact me ⇢</a>
    </div>
  </div>
</section>
<section class="lg-alpha wrapper wrapper-bp3 df-center text-center padding-1 margin-y-4">
  <p class="fz-step-0 margin-x-2">Did you know that I write <a href="#newsletter">UI Dev Newletter</a>?</p>
  <a class="button button--alpha button--sm margin-x-2" href="#submit">Subscribe here ⇢</a>
</section>
<section class="padding-x-4 padding-b-4" id="portfolio">
  <div class="wrapper wrapper-bp2 df-col-center text-center margin-b-4">
    <h2 class="fz-step-5 fw-black margin-t-0 margin-b-1">From the portfolio</h2>
    <p class="fz-step-0">Here are the projects that I am most proud.</p>
    <p class="fz-step-0 margin-t-0">Built with <b>WordPress</b>, <b>Shopify</b>, <b>Jekyll</b>, and <b>Hugo</b>, amongst others.</p>
    <img src="/gfx/svg/rocket2.svg" alt="Logo" width="100" height="100">
  </div>
  <div class="wrapper wrapper-bp3 grid">
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center bg-alpha padding-3 text-center">
      <div class="margin-b-2 dib">
        <img class="brad" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center margin-y-1">
        <span class="margin-1">wordpress</span>
        <span class="margin-1">frontend</span>
        <span class="margin-1">shopify</span>
      </div>
      <a class="fw-bold margin-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card df-col-center lg-alpha padding-3 text-center">
      <p class="fz-step-0">Do you want to work with me?</p>
      <a class="fw-bold margin-y-2" href="#more">Hire me ⇢</a>
    </div>
  </div>
</section>
<section class="lg-beta wrapper wrapper-bp3 df-center text-center padding-1 margin-y-4">
  <p class="fz-step-0 margin-x-2">Did you know that I started <a href="#newsletter">CSS Auditors</a>, a site dedicated to CSS?</p>
  <a class="button button--beta button--sm margin-x-2" href="#submit">Learn more about CSS here ⇢</a>
</section>
<section class="padding-x-4 padding-b-4" id="testimonials">
  <div class="wrapper wrapper-bp2 df-col-center text-center margin-b-4">
    <h2 class="fz-step-5 fw-black margin-t-0 margin-b-1">From the testimonials</h2>
    <p class="fz-step-0">Here are some kind words about my work from clients.</p>
    <p class="fz-step-0 margin-t-0">Although I collaborated with clients from more than 10 countries, most of them come from <b>The United States</b>.</p>
  </div>
  <div class="wrapper wrapper-bp3 grid">
    <div class="card bg-beta2 df-col-center padding-3 padding-t-5 bgi-quote bgi--small bgi--tl">
      <blockquote class="fz-step--1 df-col margin-t-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold margin-t-2 df-align">
          <div class="margin-r-2 margin-y-2">
            <img class="brad" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
          </div>
          <p class="df-col">
            <span>— John Ganotis</span>
            <span class="fz-step--2">Entrepreneur @ Credit Card Insider</span>
          </p>
        </footer>
      </blockquote>
      <a class="fw-bold margin-y-3" href="#more">View project ⇢</a>
    </div>
    <div class="card bg-beta2 df-col-center padding-3 padding-t-5 bgi-quote2 bgi--small bgi--tl">
      <blockquote class="fz-step--1 df-col margin-t-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold margin-t-2 df-align">
          <div class="margin-r-2 margin-y-2">
            <img class="brad" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
          </div>
          <p class="df-col">
            <span>— John Ganotis</span>
            <span class="fz-step--2">Entrepreneur @ Credit Card Insider</span>
          </p>
        </footer>
      </blockquote>
      <a class="fw-bold margin-y-3" href="#more">View project ⇢</a>
    </div>
    <div class="card bg-beta2 df-col-center padding-3 padding-t-5 bgi-quote bgi--small bgi--tl">
      <blockquote class="fz-step--1 df-col margin-t-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold margin-t-2 df-align">
          <div class="margin-r-2 margin-y-2">
            <img class="brad" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
          </div>
          <p class="df-col">
            <span>— John Ganotis</span>
            <span class="fz-step--2">Entrepreneur @ Credit Card Insider</span>
          </p>
        </footer>
      </blockquote>
      <a class="fw-bold margin-y-3" href="#more">View project ⇢</a>
    </div>
    <div class="card bg-beta2 df-col-center padding-3 padding-t-5 bgi-quote2 bgi--small bgi--tl">
      <blockquote class="fz-step--1 df-col margin-t-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold margin-t-2 df-align">
          <div class="margin-r-2 margin-y-2">
            <img class="brad" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
          </div>
          <p class="df-col">
            <span>— John Ganotis</span>
            <span class="fz-step--2">Entrepreneur @ Credit Card Insider</span>
          </p>
        </footer>
      </blockquote>
      <a class="fw-bold margin-y-3" href="#more">View project ⇢</a>
    </div>
    <div class="card lg-beta2 df-col-center padding-3 padding-t-5">
      <p class="fz-step-0">Do you want to be my next client?</p>
      <a class="fw-bold margin-y-3" href="#more">Make the first step ⇢</a>
    </div>
  </div>
</section>
<section class="lg-beta padding-t-4 padding-x-4 padding-b-4">
  <div class="wrapper wrapper-bp3 text-center bg-beta2">
    <div class="padding-4 df-col-center">
      <img src="/gfx/svg/calendar.svg" alt="Logo" width="100" height="100">
      <h2 class="fz-step-4 fw-black margin-b-0">I am <u>available</u> for a new project.</h2>
      <p class="margin-b-0">I specialized in <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>WordPress</b>, <b>Shopify</b>, and <b>JAMstack</b> technologies.</p>
      <a class="button button--beta margin-t-3" href="#submit">Hire me</a>
      <p class="fz-step--1 margin-t-3"><a class="a" href="#services">Or see the full list of services I provide.</a></p>
    </div>
  </div>
</section>
<footer class="lg-beta padding-2 fw-black">
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li class="margin-x-a">
        <ul class="df-center list-reset">
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#portfolio">Portfolio</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#blog">Blog</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#about">About</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#links">Links</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#feed">Feed</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li class="margin-x-auto fz-step--1">
        <ul class="df-center list-reset">
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#github">GitHub</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#github">LinkedIn</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#Twitter">Twitter</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#CodePen">CodePen</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="margin-x-2">
                <a class="padding-y-1" href="#Dev.to">Dev.to</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="wrapper wrapper-bp2 text-center">
    <p class="fz-step--1">&copy; Silvestar Bistrović, 2016-2020</p>
  </div>
  <div class="wrapper wrapper-bp2 text-center">
    <a class="rm margin-x-2" href="#">
      <img src="/gfx/svg/logo.svg" alt="Logo" width="50" height="50">
    </a>
  </div>
</footer>
