<header class="lg-gamma-50 lg-fat inside-2">
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li class="df-center outside-x-a inside-x-2">
        <a class="rm circle" href="#">
          <img src="/gfx/svg/logo.svg" alt="Logo" width="100" height="100">
        </a>
      </li>
      <li class="outside-x-a">
        <ul class="df-center list-reset">
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#portfolio">Portfolio</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#side-projects">Side Projects</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#testimonials">Testimonials</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#blog">Blog</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#publications">Publications</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#ui-dev-newsletter">UI Dev Newsletter</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#about">About</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#contact">Contact</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#services">Services</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section class="lg-delta-50 lg-fat inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h1 class="fz-step-5 fw-black outside-b-0">Building modern, responsive and optimized websites since 2012.</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">Using the best coding practices to deliver the best experience for every user.</h2>
    <a class="button button--beta outside-t-2" href="#submit">Contact me</a>
  </div>
</section>
<section class="lg-alpha-50 inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center outside-b-2">
    <h1 class="fz-step-5 fw-black outside-b-0">Blog</h1>
    <h2 class="fz-step-1 fw-bold outside-y-3">The latest posts from the blog.</h2>
  </div>
  <div class="wrapper wrapper-bp3 grid grid--beta inside-b-4">
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--alpha button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--alpha button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="fw-bold outside-y-2" href="#more">Read more ⇢</a>
    </div>
  </div>
</section>
<section class="lg-beta-50 inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center outside-b-2">
    <h1 class="fz-step-5 fw-black outside-b-1">Publications</h1>
    <h2 class="fz-step-1 fw-bold">Posts that I wrote for some prominent publications.</h2>
  </div>
  <div class="wrapper wrapper-bp3 grid grid--beta inside-b-4">
    <div class="card dif-col-center lg-delta-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="bg-beta-50 fw-bold outside-y-2 inside-x-1 brad bsh" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="bg-beta-50 fw-bold outside-y-2 inside-x-1 brad bsh" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="bg-beta-50 fw-bold outside-y-2 inside-x-1 brad bsh" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="bg-beta-50 fw-bold outside-y-2 inside-x-1 brad bsh" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="bg-beta-50 fw-bold outside-y-2 inside-x-1 brad bsh" href="#more">Read more ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-3">
      <h1 class="fz-step-2 fw-black outside-y-2 t-center">
        <a href="#more">Page builders might not be a good idea</a>
      </h1>
      <time class="fz-step--1 fw-bold ttuc ffm outside-t-0 outside-b-3 inside-x-1">2020-02-20</time>
      <div class="df-center outside-y-1">
        <a class="button button--beta button--sm outside-1" href="#tag">wordpress</a>
        <a class="button button--beta button--sm outside-1" href="#tag">frontend</a>
        <a class="button button--beta button--sm outside-1" href="#tag">shopify</a>
      </div>
      <a class="bg-beta-50 fw-bold outside-y-2 inside-x-1 brad bsh" href="#more">Read more ⇢</a>
    </div>
  </div>
</section>
<section class="lg-alpha-50 inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center outside-b-2">
    <h1 class="fz-step-5 fw-black outside-b-1">Porfolio</h1>
    <h2 class="fz-step-1 fw-bold">Featured projects. Mostly made with HTML, CSS, and JavaScript.</h2>
  </div>
  <div class="wrapper wrapper-bp3 grid grid--beta inside-b-4">
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <div class="outside-b-2">
        <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center outside-y-1">
        <span class="button button--alpha button--sm outside-1">wordpress</span>
        <span class="button button--alpha button--sm outside-1">frontend</span>
        <span class="button button--alpha button--sm outside-1">shopify</span>
      </div>
      <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <div class="outside-b-2">
        <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center outside-y-1">
        <span class="button button--alpha button--sm outside-1">wordpress</span>
        <span class="button button--alpha button--sm outside-1">frontend</span>
        <span class="button button--alpha button--sm outside-1">shopify</span>
      </div>
      <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <div class="outside-b-2">
        <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center outside-y-1">
        <span class="button button--alpha button--sm outside-1">wordpress</span>
        <span class="button button--alpha button--sm outside-1">frontend</span>
        <span class="button button--alpha button--sm outside-1">shopify</span>
      </div>
      <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <div class="outside-b-2">
        <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center outside-y-1">
        <span class="button button--alpha button--sm outside-1">wordpress</span>
        <span class="button button--alpha button--sm outside-1">frontend</span>
        <span class="button button--alpha button--sm outside-1">shopify</span>
      </div>
      <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <div class="outside-b-2">
        <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center outside-y-1">
        <span class="button button--alpha button--sm outside-1">wordpress</span>
        <span class="button button--alpha button--sm outside-1">frontend</span>
        <span class="button button--alpha button--sm outside-1">shopify</span>
      </div>
      <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-gamma-50 lg-fat inside-3">
      <div class="outside-b-2">
        <img class="brad bsh--alpha bg-alpha-light-70" src="https://place-hold.it/480x240/41e6b2?text=CCI" alt="CCI Logo" width="480" height="240">
      </div>
      <div class="df-center outside-y-1">
        <span class="button button--alpha button--sm outside-1">wordpress</span>
        <span class="button button--alpha button--sm outside-1">frontend</span>
        <span class="button button--alpha button--sm outside-1">shopify</span>
      </div>
      <a class="fw-bold outside-y-2" href="#more">View project ⇢</a>
    </div>
  </div>
</section>
<section class="lg-beta-50 inside-2">
  <div class="wrapper wrapper-bp2 df-col df-center t-center outside-b-2">
    <h1 class="fz-step-5 fw-black outside-b-1">Testimonials</h1>
    <h2 class="fz-step-1 fw-bold">Kind words from my clients.</h2>
  </div>
  <div class="wrapper wrapper-bp3 grid grid--beta inside-b-4">
    <div class="card dif-col-center lg-delta-50 lg-fat inside-y-3 inside-x-2">
      <div class="outside-y-2">
        <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
      </div>
      <blockquote class="fz-step--1 df-col outside-y-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold outside-t-2">— John Ganotis, Entrepreneur @ Credit Card Insider</footer>
      </blockquote>
      <a class="button button--beta button--sm outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-y-3 inside-x-2">
      <div class="outside-y-2">
        <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
      </div>
      <blockquote class="fz-step--1 df-col outside-y-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold outside-t-2">— John Ganotis, Entrepreneur @ Credit Card Insider</footer>
      </blockquote>
      <a class="button button--beta button--sm outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-y-3 inside-x-2">
      <div class="outside-y-2">
        <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
      </div>
      <blockquote class="fz-step--1 df-col outside-y-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold outside-t-2">— John Ganotis, Entrepreneur @ Credit Card Insider</footer>
      </blockquote>
      <a class="button button--beta button--sm outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-y-3 inside-x-2">
      <div class="outside-y-2">
        <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
      </div>
      <blockquote class="fz-step--1 df-col outside-y-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold outside-t-2">— John Ganotis, Entrepreneur @ Credit Card Insider</footer>
      </blockquote>
      <a class="button button--beta button--sm outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-y-3 inside-x-2">
      <div class="outside-y-2">
        <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
      </div>
      <blockquote class="fz-step--1 df-col outside-y-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold outside-t-2">— John Ganotis, Entrepreneur @ Credit Card Insider</footer>
      </blockquote>
      <a class="button button--beta button--sm outside-y-2" href="#more">View project ⇢</a>
    </div>
    <div class="card dif-col-center lg-delta-50 lg-fat inside-y-3 inside-x-2">
      <div class="outside-y-2">
        <img class="brad bsh--alpha bg-beta-light-70" src="https://place-hold.it/120x40?text=CCI" alt="CCI Logo" width="120" height="40">
      </div>
      <blockquote class="fz-step--1 df-col outside-y-2" cite="https://www.linkedin.com/in/starbist/">
        <p>Silvestar is amazing. He is fast, and the work he produces is among the highest quality work I've seen from front-end engineers.</p>
        <p>In our time working together he's been extremely reliable, with quick daily calls to give progress updates, but also having flexibility to work independently and provide updates on his progress on days when we skip those calls.</p>
        <p>When working with Silvestar, I know that the work will be done quickly and correctly, but that he'll also point out any areas where he thinks we can improve. He's always looking out for opportunities to improve performance, maintainability, and accessibility. I get the impression that he's constantly learning and reflecting on his work, always looking for ways that he can build his skillset even more and produce even higher quality work (if that's possible!).</p>
        <footer class="fw-bold outside-t-2">— John Ganotis, Entrepreneur @ Credit Card Insider</footer>
      </blockquote>
      <a class="button button--beta button--sm outside-y-2" href="#more">View project ⇢</a>
    </div>
  </div>
</section>
<section class="lg-gamma-50 lg-fat inside-4">
  <div class="wrapper wrapper-bp2 df-col df-center t-center">
    <h2 class="fz-step-3 fw-black outside-b-0">Available for a new project.</h2>
    <h3 class="fz-step-1 fw-bold outside-y-3">Specialized in HTML, CSS, JavaScript, WordPress, Shopify, and JAMstack technologies. <a class="a" href="#services">See the full list of the services I provide.</a></h3>
    <a class="button button--alpha outside-t-2" href="#submit">Hire me</a>
  </div>
</section>
<footer class="lg-alpha inside-2">
  <nav class="wrapper wrapper-bp2">
    <ul class="df-center list-reset">
      <li class="outside-x-a">
        <ul class="df-center list-reset">
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#portfolio">Portfolio</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#side-projects">Side Projects</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#testimonials">Testimonials</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#blog">Blog</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#publications">Publications</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#ui-dev-newsletter">UI Dev Newsletter</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#about">About</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#contact">Contact</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#services">Services</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="df-col list-reset">
              <li class="outside-x-2 fz-step-0">
                <a class="fw-bold inside-y-1" href="#links">Links</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#setup">Setup</a>
              </li>
              <li class="outside-x-2 fz-step--1">
                <a class="fw-bold inside-y-1" href="#mentoring">Mentoring</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="df-center outside-x-a">
        <a class="rm outside-x-2 circle" href="#">
          <img src="/gfx/svg/logo.svg" alt="Logo" width="100" height="100">
        </a>
      </li>
    </ul>
  </nav>
</footer>
