link(href="https://res.cloudinary.com/", rel="dns-prefetch")
link(href="https://d33wubrfki0l68.cloudfront.net/", rel="dns-prefetch")
link(href="https://piwik.silvestarbistrovic.from.hr/", rel="dns-prefetch")
link(href="https://res.cloudinary.com/", rel="preconnect", crossorigin="true")
link(href="https://d33wubrfki0l68.cloudfront.net/", rel="preconnect", crossorigin="true")
link(href="https://piwik.silvestarbistrovic.from.hr/", rel="preconnect", crossorigin="true")
script(src="https://instant.page/3.0.0", type="module", defer, integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1")
if (isHome())
  link(rel="alternate", type="application/rss+xml", title="RSS Feed for silvestar.codes" href="/rss2.xml")
if (theme && theme.widgets && theme.widgets.cookies)
  link(href="https://config.metomic.io/", rel="dns-prefetch")
  link(href="https://consent-manager.metomic.io/", rel="dns-prefetch")
  link(href="https://config.metomic.io/", rel="preconnect", crossorigin="true")
  link(href="https://consent-manager.metomic.io/", rel="preconnect", crossorigin="true")

