<%
  var title = '';
  if (page.category) title = 'Category: ' + page.category;
  if (page.tag) title = 'Tag: ' + page.tag;
  if (page.archive){
    if (page.year) title = page.year + (page.month ? '/' + page.month : '');
    else title = "Archives";
  }
%>

<% if(title) { %>
  <h1 class="archive__title"><%- title %></h1>
<% } %>

<%- partial('_partial/article-list') %>
