<div class="banner banner--<%= pos %>">
  <div class="banner__content">
    <p class="banner__info">Do you need a front-end developer?</p>
    <p class="banner__info">I'd like to help you. <%- mail_to('me@silvestarbistrovic.from.hr', 'Contact me!', {
      class: 'banner__link'
    }) %></p>
  </div>
</div>
