@charset "UTF-8";

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button {
  /* 1 */
  overflow: visible;
}

button {
  /* 1 */
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

:root {
  --color-alpha: #12e09f;
  --color-beta: #e01258;
  --color-gamma: #f5f5f5;
  --color-delta: #C2FAE8;
  --color-epsilon: #FAC2D4;
  --color-chi: #4f4f4f;
  --color-psi: #1f1f1f;
  --color-omega: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-alpha: #e01258;
    --color-beta: #12e09f;
    --color-gamma: #3e3e3e;
    --color-delta: #C20A38;
    --color-epsilon: #42AE8C;
    --color-chi: #e1e1e1;
    --color-psi: #fff;
    --color-omega: #1f1f1f;
  }
}

html {
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(16px + 3 * (100vw - 480px) / 720);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 19px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 1.77689rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: calc(0.125em / 1);
  color: var(--color-chi);
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.36859rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: calc(0.125em / 3);
  color: var(--color-chi);
}

@media (min-width: 48em) {
  h3 {
    font-size: 1.333rem;
  }
}

.h4 {
  font-size: 0.75019rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: calc(0.125em / 4);
  color: var(--color-chi);
}

@media (min-width: 48em) {
  .h4 {
    font-size: 1rem;
  }
}

h3 a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-psi);
  overflow-x: hidden;
}

@media (max-width: 74.99em) {
  body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
  }
}



img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 20px auto;
  width: calc(100% - 20px);
  position: relative;
  display: grid;
  grid-template-areas: "title" "content";
  grid-template-columns: 100%;
  grid-gap: 25px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 1rem;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.main > div:first-of-type {
  grid-area: content;
}

@media (min-width: 30em) {
  .main {
    padding: 0 0 50px;
    max-width: 1200px;
    grid-template-areas: "title" "content" "meta";
    grid-gap: 50px;
  }
}

.header {
  background-color: var(--color-psi);
  color: var(--color-delta);
  -webkit-box-shadow: 0 -3px 0 0 var(--color-alpha) inset;
  box-shadow: 0 -3px 0 0 var(--color-alpha) inset;
}

@media (prefers-color-scheme: dark) {
  .header {
    --color-alpha: #12e09f;
    --color-beta: #e01258;
    --color-gamma: #f5f5f5;
    --color-delta: #C2FAE8;
    --color-epsilon: #FAC2D4;
    --color-chi: #4f4f4f;
    --color-psi: #1f1f1f;
    --color-omega: #fff;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
}

@media (min-width: 48em) {
  .nav__list {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav__item {
  text-align: center;
}

@media (min-width: 48em) {
  .nav__item:last-of-type {
    margin-left: auto;
  }
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: bottom 4px center;
}

.nav__link.skip {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

.nav__list--blog .nav__item:nth-child(3) .nav__link {
  background-image: -o-radial-gradient(center, circle, var(--color-alpha) 2px, transparent 2px);
  background-image: radial-gradient(circle at center, var(--color-alpha) 2px, transparent 2px);
}

.nav__item:last-of-type .nav__link {
  color: var(--color-epsilon);
}

@media (min-width: 48em) {
  .nav__link {
    background-size: 20px 20px;
    padding: 17.5px 25px;
  }
}

@media (min-width: 75em) {
  .nav__link {
    padding: 35px 50px;
    background-size: 30px 30px;
    background-position: bottom 15px center;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  grid-gap: 50px;
  width: 100%;
}

@media (min-width: 48em) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 75em) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.body {
  background-color: var(--color-gamma);
}

.main {
  position: relative;
}

.toggle {
  position: fixed;
  bottom: 0.875rem;
  right: 0.5rem;
  background-color: var(--color-gamma);
  color: var(--color-psi);
  border: 1px dotted var(--color-alpha);
  border-radius: 3px;
  font-size: 0.75019rem;
  font-weight: 700;
  margin-left: auto;
  padding: 0.25rem .5rem;
  z-index: 1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.card a {
  display: block;
}

.card--alpha {
  text-align: left;
}

.card__image {
  position: relative;
}

.card__image img {
  background-color: var(--color-delta);
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.card__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--color-omega);
  border-radius: 0 0 4px 4px;
  padding: 0 24px 24px;
  -webkit-box-shadow: 0 4px 0 0 var(--color-delta);
  box-shadow: 0 4px 0 0 var(--color-delta);
}

.card__title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1rem;
}

.card__title a {
  color: inherit;
  text-decoration: none;
}

.card__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.card__list--alpha {
  margin-top: 24px;
}

.card__list--beta {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card__content:not(:only-child) .card__tags {
  margin-top: auto;
}

.card__tag {
  border-radius: 3px;
  background-color: var(--color-delta);
  font-size: 0.75019rem;
  padding: 1px 8px 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.card__detail {
  border-radius: 2px;
  background-color: var(--color-gamma);
  -webkit-box-shadow: 0 2px 0 0 var(--color-delta);
  box-shadow: 0 2px 0 0 var(--color-delta);
  font-size: 0.75019rem;
  padding: 1px 8px 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.card__description {
  font-size: 0.75019rem;
  margin-bottom: 1rem;
}

.card__action {
  color: var(--color-beta);
  font-size: 0.75019rem;
  margin-top: 1rem;
  margin-right: auto;
}
