html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(20px + 2 * (100vw - 480px) / 720);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
}

h2 {
  font-size: 1.333rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: calc(0.15em / 2);
}

@media (min-width: 48em) {
  h2 {
    font-size: 1.77689rem;
  }
}

h2 a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin-top: 1.333rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: #1f1f1f;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  margin: 50px auto;
  width: calc(100% - 50px);
  position: relative;
  display: grid;
  grid-template-areas: "info" "title" "content";
  grid-template-columns: 100%;
  grid-gap: 25px;
  font-size: 1rem;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.main > div:first-of-type {
  grid-area: content;
}

@media (min-width: 30em) {
  .main {
    padding: 0 0 50px;
    max-width: 1200px;
    grid-template-areas: "title" "content" "meta";
    grid-gap: 50px;
  }
}

@media (min-width: 75em) {
  .main {
    max-width: 1200px;
  }
}

.main--category {
  grid-template-areas: "info" "content" "meta";
}

.header {
  background-color: #12e09f;
  color: #fff;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
}

@media (min-width: 48em) {
  .nav__list {
    padding: 0;
    justify-content: flex-start;
  }
}

.nav__item {
  text-align: center;
}

@media (min-width: 48em) {
  .nav__item:last-of-type {
    margin-left: auto;
  }
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav__list--blog .nav__item:nth-child(2) .nav__link {
  background-image: url(/gfx/svg/logo-header.svg);
}

@media (min-width: 48em) {
  .nav__link {
    background-size: 20px 20px;
    padding: 17.5px 25px;
  }
}

@media (min-width: 75em) {
  .nav__link {
    padding: 35px 50px;
    background-size: 30px 30px;
    background-position: center bottom;
  }
}

.info {
  color: #fff;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75019rem;
  order: 0;
  grid-area: info;
}

.info p {
  margin-top: 0;
}

.info a {
  color: inherit;
}

@media (min-width: 30em) {
  .info {
    position: absolute;
    top: 50px;
    right: 0;
    grid-area: none;
  }
}

.info__icon {
  background-color: #e01258;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  width: 24px;
  height: 24px;
  box-shadow: 1px 1px 4px -1px #1f1f1f;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  animation: highlight 1s linear alternate-reverse infinite;
}

@media (min-width: 30em) {
  .info__icon {
    display: flex;
  }
}

.info__popup {
  color: #e01258;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

@media (min-width: 30em) {
  .info__popup {
    padding: 15px;
    background-color: #e01258;
    color: #fff;
    box-shadow: 0 2px 3px -1px #1f1f1f;
    display: none;
    width: 380px;
  }
}

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.info__link {
  display: block;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  border: 1px solid #e01258;
}

@media (min-width: 30em) {
  .info__link {
    border: 1px solid #fff;
  }
}

@-webkit-keyframes highlight {
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.8;
  }
}

@keyframes highlight {
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.8;
  }
}

.list {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  font-size: 1rem;
}

.list a {
  text-decoration: none;
}

.list:not(.list--bullets) {
  list-style: none;
}

.list--delta {
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  margin-bottom: 0.25em;
}

.list__item--alpha {
  font-size: 0.75019rem;
}

.list__item--beta {
  margin-right: auto;
}

.list__item--delta {
  margin-left: .5em;
}

@media (min-width: 30em) {
  .list__item--delta {
    margin-left: 2em;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  width: 100%;
}

@media (min-width: 48em) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 75em) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.articles .article {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

.articles .article:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -25px;
  bottom: -10px;
  left: -25px;
  background-image: radial-gradient(circle closest-side at center, #fff, #f5f5f5);
  opacity: .1;
  z-index: -1;
}

.article li a {
  color: #e01258;
}

.article__title--alpha {
  font-size: 1.333rem;
  text-shadow: 0 1px 0 #fff;
}

.article__title--alpha a {
  color: #e01258;
  display: block;
}

.article__thumb {
  margin-right: calc((100vw - 100%) / -2);
  margin-left: calc((100vw - 100%) / -2);
}

.article__thumb img {
  display: block;
}

@media (min-width: 30em) {
  .article__thumb {
    margin-right: 0;
    margin-left: 0;
  }
}

.details {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}

.content > *:first-child {
  margin-top: 0;
}
