html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 1.9994rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
}

h1 {
  color: #e2e2e2;
  letter-spacing: 0.1em;
}

p {
  margin-top: 1.414rem;
}

body {
  color: #e2e2e2;
  font-family: serif;
  -webkit-font-smoothing: auto;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
}

h1 {
  letter-spacing: calc(50 / 1000 * 1em);
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.fonts-stage-1 body {
  font-family: "Barlow Subset";
  font-style: normal;
  font-weight: 400;
}

.fonts-stage-1 h1 {
  font-family: "Playfair Display Subset";
}

.fonts-stage-2 body {
  font-family: "Barlow";
}

.fonts-stage-2 h1 {
  font-family: "Playfair Display";
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1f1f1f;
  overflow-x: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 50px auto;
  width: calc(100% - 50px);
  position: relative;
  display: grid;
  grid-template-areas: "info" "title" "content";
  grid-template-columns: 100%;
  grid-gap: 25px;
  font-size: 1rem;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.main > div:first-of-type {
  grid-area: content;
}

.main--sidebar {
  grid-template-areas: "info" "title" "content" "sidebar";
}

.header {
  background-color: #12e09f;
  color: #fff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
}

.nav__item {
  text-align: center;
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav__list--about-me .nav__item:nth-child(4) .nav__link {
  background-image: url(/gfx/svg/logo-header.svg);
}

.info a {
  color: inherit;
}

.info__icon {
  background-color: #e01258;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 1px 1px 4px -1px #adadad;
  box-shadow: 1px 1px 4px -1px #adadad;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  animation: highlight 1s linear alternate-reverse infinite;
}

@-webkit-keyframes highlight {
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.8;
  }
}

@keyframes highlight {
  to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.8;
  }
}

.article p a {
  color: #e01258;
}

.article__title--gamma {
  font-size: 2.82715rem;
  margin-bottom: 0;
  grid-area: title;
}

.content > *:first-child {
  margin-top: 0;
}
