@charset "UTF-8";

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(20px + 2 * (100vw - 480px) / 720);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 1.77689rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: calc(0.15em / 1);
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.36859rem;
  }
}

h2 {
  font-size: 1.333rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: calc(0.15em / 2);
}

@media (min-width: 48em) {
  h2 {
    font-size: 1.77689rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: calc(0.15em / 3);
}

@media (min-width: 48em) {
  h3 {
    font-size: 1.333rem;
  }
}

h2 a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin-top: 1.333rem;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: #1f1f1f;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}



img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 50px auto;
  width: calc(100% - 50px);
  position: relative;
  display: grid;
  grid-template-areas: "title" "content";
  grid-template-columns: 100%;
  grid-gap: 25px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 1rem;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.main > div:first-of-type {
  grid-area: content;
}

@media (min-width: 30em) {
  .main {
    padding: 0 0 50px;
    max-width: 1200px;
    grid-template-areas: "title" "content" "meta";
    grid-gap: 50px;
  }
}

.main--sidebar {
  grid-template-areas: "title" "content" "pbanner" "sidebar";
}

@media (min-width: 30em) {
  .main--sidebar {
    grid-template-areas: "title" "pbanner" "content" "sidebar";
  }
}

@media (min-width: 48em) {
  .main--sidebar {
    grid-template-areas: "title title" "content sidebar" "pbanner sidebar";
    grid-template-columns: 1fr 33vw;
  }
}

@media (min-width: 75em) {
  .main--sidebar {
    grid-template-columns: 1fr 25vw;
    grid-row-gap: 50px;
  }
}

.header {
  background-color: #1f1f1f;
  color: #65f3c6;
  -webkit-box-shadow: 0 -3px 0 0 #12e09f inset;
  box-shadow: 0 -3px 0 0 #12e09f inset;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
}

@media (min-width: 48em) {
  .nav__list {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav__item {
  text-align: center;
}

@media (min-width: 48em) {
  .nav__item:last-of-type {
    margin-left: auto;
  }
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: top 4px center, bottom center;
}

.nav__link.skip {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

.nav__list--portfolio .nav__item:nth-child(4) .nav__link {
  background-image: -webkit-radial-gradient(center, circle, #12e09f 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  background-image: -o-radial-gradient(center, circle, #12e09f 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
  background-image: radial-gradient(circle at center, #12e09f 2px, transparent 2px), url(/gfx/svg/logo-header.svg);
}

.nav__item:last-of-type .nav__link {
  color: #f57da6;
}

@media (min-width: 48em) {
  .nav__link {
    background-size: 20px 20px;
    padding: 17.5px 25px;
  }
}

@media (min-width: 75em) {
  .nav__link {
    padding: 35px 50px;
    background-size: 30px 30px;
    background-position: top 15px center, bottom 2px center;
  }
}

.list {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  font-size: 1rem;
}

.list p {
  margin: 0;
}

.list h3 {
  letter-spacing: calc(25 / 1000 * 1em);
  text-transform: none;
  color: #e01258;
}

.list h3 {
  font-family: "Barlow", sans-serif, sans-serif;
  font-size: 1.333rem;
  font-weight: 400;
  margin-top: .5em;
  margin-bottom: 0;
}

.list:not(.list--bullets) {
  list-style: none;
}

.list__item {
  margin-bottom: 0.25em;
}

.list--omega {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}

.list--omega blockquote {
  color: #1f1f1f;
  margin: 0;
  padding: 2rem;
  position: relative;
  font-family: "Barlow", sans-serif;
  border: 1px solid #12e09f;
  overflow: hidden;
}

.list--omega blockquote:before {
  content: "â€";
  color: #f7f7f7;
  font-family: "Playfair Display", serif;
  font-size: 13.28836rem;
  line-height: 1;
  position: absolute;
  bottom: -0.45em;
  right: 0.05em;
  z-index: 0;
}

.list--omega p {
  font-size: 0.75019rem;
  -webkit-transform: skewX(1deg);
  -ms-transform: skewX(1deg);
  transform: skewX(1deg);
  font-weight: normal;
  letter-spacing: calc(20 / 1000 * 1em);
}

.list--omega h3 {
  margin-top: 1em;
  color: inherit;
  font-size: 0.75019rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: calc(20 / 1000 * 1em);
  position: relative;
  z-index: 1;
}

.list--omega h3 + h3 {
  color: inherit;
  font-size: 0.56278rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .list--omega {
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 100px;
  }

  .article .list--omega {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin-top: 50px;
  }
}

.article p a {
  color: #e01258;
}

.article blockquote {
  border-left: 1px solid #12e09f;
  margin: 2em 0;
  padding: 5px 0 10px 20px;
  position: relative;
}

.article blockquote h3 {
  text-transform: none;
}

.article blockquote h3:after {
  content: none;
}

.article blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  right: calc((100vw - 100%) / -2);
  bottom: 0;
  left: calc((100vw - 100%) / -2);
  background-color: #f5f5f5;
  z-index: -1;
}

@media (min-width: 48em) {
  .article blockquote {
    padding: 20px 60px 1.414rem;
  }
}

@media (min-width: 48em) {
  .main--sidebar .article blockquote {
    margin-top: 0;
    margin-bottom: 3px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 48em) {
  .main--sidebar .article blockquote:before {
    right: 0;
  }
}

.article__title--gamma {
  font-size: 1.77689rem;
  margin-bottom: 0;
  grid-area: title;
}

@media (min-width: 48em) {
  .article__title--gamma {
    font-size: 3.15733rem;
  }
}

.article__testimonials {
  position: relative;
}

.article__testimonials:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 15%;
  max-width: 100px;
  height: 10px;
  background-color: #65f3c6;
}

.content h2 {
  position: relative;
}

.content h2:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 15%;
  max-width: 100px;
  height: 10px;
  background-color: #65f3c6;
}

.content > *:first-child {
  margin-top: 0;
}

.content p img {
  width: auto;
}

.main--sidebar .content a {
  word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
