html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(20px + 2 * (100vw - 480px) / 720);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 1.77689rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: calc(0.15em / 1);
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.36859rem;
  }
}

h4 {
  font-size: 0.75019rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
  color: #6c6c6c;
  letter-spacing: calc(0.15em / 4);
}

@media (min-width: 48em) {
  h4 {
    font-size: 1rem;
  }
}

p {
  margin-top: 1.333rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  color: #1f1f1f;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  margin: 50px auto;
  width: calc(100% - 50px);
  position: relative;
  display: grid;
  grid-template-areas: "title" "content";
  grid-template-columns: 100%;
  grid-gap: 25px;
  align-items: flex-start;
  font-size: 1rem;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.main > div:first-of-type {
  grid-area: content;
}

@media (min-width: 30em) {
  .main {
    padding: 0 0 50px;
    max-width: 1200px;
    grid-template-areas: "title" "content" "meta";
    grid-gap: 50px;
  }
}

@media (min-width: 75em) {
  .main {
    max-width: 1200px;
  }
}

.header {
  background-color: #12e09f;
  color: #fff;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
}

@media (min-width: 48em) {
  .nav__list {
    padding: 0;
    justify-content: flex-start;
  }
}

.nav__item {
  text-align: center;
}

@media (min-width: 48em) {
  .nav__item:last-of-type {
    margin-left: auto;
  }
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav__list--portfolio .nav__item:nth-child(3) .nav__link {
  background-image: url(/gfx/svg/logo-header.svg);
}

@media (min-width: 48em) {
  .nav__link {
    background-size: 20px 20px;
    padding: 17.5px 25px;
  }
}

@media (min-width: 75em) {
  .nav__link {
    padding: 35px 50px;
    background-size: 30px 30px;
    background-position: center bottom;
  }
}

.list {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  font-size: 1rem;
}

.list p {
  margin: 0;
}

.list h4 {
  letter-spacing: 0.025em;
  text-transform: none;
  color: #ef3675;
}

.list h4 {
  color: #f14e85;
  font-size: 1.77689rem;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.list a {
  text-decoration: none;
}

.list:not(.list--bullets) {
  list-style: none;
}

.list--alpha {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}

.list--alpha img {
  -webkit-filter: drop-shadow(0 0 10px #9f9f9f);
  filter: drop-shadow(0 0 10px #9f9f9f);
}

.list--alpha a {
  display: block;
}

.list--alpha p {
  margin-top: 1em;
  color: #1f1f1f;
}

.list--alpha span {
  color: #e01258;
}

@media (min-width: 48em) {
  .list--alpha {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 100px;
    margin-top: 100px;
  }
}

.list__item {
  margin-bottom: 0.25em;
}

.list__item--banner {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.article p a {
  color: #e01258;
}

.article__title--gamma {
  font-size: 1.77689rem;
  margin-bottom: 0;
  grid-area: title;
}

@media (min-width: 48em) {
  .article__title--gamma {
    font-size: 3.15733rem;
  }
}

.content > *:first-child {
  margin-top: 0;
}

.banner {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.banner p {
  font-size: 0.75019rem;
  margin-top: 0;
  margin-right: 0.5em;
}

.banner span {
  display: block;
  color: inherit;
}

.banner .btn {
  border: none;
  color: #fff;
  padding: .125rem .5rem .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  font-weight: normal;
  text-decoration: none;
}

.banner .btn span {
  text-transform: uppercase;
  color: inherit;
  font-weight: inherit;
}

.banner .btn span:nth-child(1) {
  letter-spacing: calc(50 / 1000 * 1em);
  font-family: "Playfair Display";
}

.banner .btn span:nth-child(2) {
  font-family: "Barlow";
  letter-spacing: calc(25 / 1000 * 1em);
  font-size: 0.56278rem;
}

@media (min-width: 30em) {
  .banner {
    align-items: center;
    flex-direction: row;
  }

  .banner p {
    margin-bottom: 0;
  }

  .banner .btn {
    padding: .75rem 1.5rem;
    margin-left: auto;
  }

  .banner .btn span:nth-child(2) {
    margin-top: 0.25rem;
  }
}

@media (min-width: 48em) {
  .banner span {
    display: inline;
  }
}

@media (min-width: 75em) {
  .banner p {
    font-size: 1rem;
  }
}

.banner--alpha {
  border: 1px solid #12e09f;
}

.banner--alpha .btn {
  background-color: #e01258;
}
