html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

footer,
header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

svg:not(:root) {
  overflow: hidden;
}

input {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

input {
  /* 1 */
  overflow: visible;
}

[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(16px + 4 * (100vw - 480px) / 720);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.99758rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
}

h2 {
  font-size: 2.82715rem;
  font-weight: 700;
  word-break: break-word;
  text-transform: uppercase;
}

h1 {
  color: #e2e2e2;
  letter-spacing: 0.1em;
}

h2 {
  color: #c0c0c0;
  letter-spacing: 0.05em;
}

h2 a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin-top: 1.414rem;
}

body {
  color: #e2e2e2;
  font-family: serif;
  -webkit-font-smoothing: auto;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: auto;
}

h1,
h2 {
  letter-spacing: calc(50 / 1000 * 1em);
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.fonts-stage-1 body {
  font-family: "Barlow Subset";
  font-style: normal;
  font-weight: 400;
}

.fonts-stage-1 h1,
.fonts-stage-1 h2 {
  font-family: "Playfair Display Subset";
}

.fonts-stage-2 body {
  font-family: "Barlow";
}

.fonts-stage-2 h1,
.fonts-stage-2 h2 {
  font-family: "Playfair Display";
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1f1f1f;
  overflow-x: hidden;
}

.header {
  background-color: #12e09f;
  color: #fff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 10px 5px;
  list-style: none;
}

@media (min-width: 48em) {
  .nav__list {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav__item {
  text-align: center;
}

@media (min-width: 48em) {
  .nav__item:last-of-type {
    margin-left: auto;
  }
}

.nav__link {
  display: block;
  color: inherit;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 48em) {
  .nav__link {
    background-size: 20px 20px;
    padding: 17.5px 25px;
  }
}

@media (min-width: 75em) {
  .nav__link {
    padding: 35px 50px;
    background-size: 30px 30px;
    background-position: center bottom;
  }
}

.footer {
  background-color: #e01258;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 48em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.article li a,
.article p a {
  color: #e01258;
}

.sig {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(30, 217, 217, 0.15)), to(rgba(30, 186, 218, 0.15)));
  background-image: linear-gradient(to right, rgba(30, 217, 217, 0.15), rgba(30, 186, 218, 0.15));
  color: #383738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  padding: 0 calc(0.5 * 1rem) calc(0.3 * 1rem);
}

.sig p {
  font-size: 0.70721rem;
  margin: 0;
}

.sig__link {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

.sig__link svg {
  height: calc(1 * 1rem);
  margin-right: calc(0.1 * 1rem);
  -webkit-transform: translateY(calc(0.2 * 1rem));
  transform: translateY(calc(0.2 * 1rem));
  -webkit-transform-origin: center;
  transform-origin: center;
  width: calc(1 * 1rem);
}
