.kwes-form.form(v-cloak="true")
  <svg class="steps" viewBox="0 0 850 250" xmlns="http://www.w3.org/2000/svg">
    <path d="m225 125c0 50-50 100-100 100s-100-50-100-100 50-100 100-100 100 50 100 100h400c0-50 50-100 100-100s100 50 100 100-50 100-100 100-100-50-100-100" fill="none" stroke="#C2FAE8" stroke-linecap="round" stroke-linejoin="round" stroke-width="50"/>
    <path class="steps__path" d="m225 125c0 50-50 100-100 100s-100-50-100-100 50-100 100-100 100 50 100 100h400c0-50 50-100 100-100s100 50 100 100-50 100-100 100-100-50-100-100" fill="none" stroke="#12e09f" stroke-linecap="round" stroke-linejoin="round" stroke-width="50"/>
  </svg>
  form(method="POST", action="https://kwes.io/api/foreign/forms/ShfiSzjg5kszxStJ0zWd", multistep="true")
    form-step(heading="1. Contact type")
      label.radio What kind of inquiry are you interested in?
      .kw-radio-group
        input#General(type="radio", name="step", value="General", label="General", checked="checked")
        input#Mentoring(type="radio", name="step", value="Mentoring", label="Mentoring")
    form-step(heading="2. Contact information")
      div(kw-show="fields.step == 'Mentoring'")
        label.radio Are you interested in career mentoring or technical mentoring?
        .kw-radio-group
          input#Career(type="radio", name="mentoring", value="Career", label="Career", checked="checked")
          input#Technical(type="radio", name="mentoring", value="Technical", label="Technical")
        .desc
          p
            small Career mentoring means I help you make decisions regarding your career.
          p
            small
              | Technical mentoring means I help you gain new skills or improve the current skill level.
      label(for="Name") What is your name?
      input#Name(type="text", name="name", rules="required")
      label(for="Email")
        | Please tell me your email address
        small (I would use it only for direct communication)
        | .
      input#Email(type="email", name="email", rules="required|email|max:255")
      div(kw-show="fields.step == 'Mentoring'")
        label(for="Note") Tell me why I should mentor you?
      div(kw-show="fields.step != 'Mentoring'")
        label(for="Note") What is your message?
      textarea#Note(name="note", rules="required", rows="6")
      div(kw-show="fields.mentoring == 'Technical'")
        label(for="Note2") Tell me which skills do you want to aquire or approve?
        textarea#Note2(name="note2", rules="required_if:mentoring,Technical", rows="6")
