if (page && !page.offline)
  script(src="/js/index.min.js", async)

if (page && page.form)
  script(src="https://kwes.io/js/kwes.js", async)

script.
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js?v1.2.13').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }
